@using LiXinModels.DepPlanManage
@{
    ViewBag.Title = "年度计划预览";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Yid = Request.QueryString["id"] == null ? "0" : Request.QueryString["id"];
    var StrYear = ViewData["Yearmodel"] as Dep_YearPlan;
    string lai = Request.QueryString["lai"] == null ? "0" : Request.QueryString["lai"];

    string backtype = Request.QueryString["backtype"] == null ? "0" : Request.QueryString["backtype"];
}
<script src="../../Scripts/js_pager.js" type="text/javascript"></script>
<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new { linkName = ViewBag.Flag == 1 ? "DepYearPlanDetail" : (ViewBag.Flag == 2 ? "ManageYearPlanDetail" : "AppYearPlanDetail") }))
    <h3 class="tit-h3">年度计划基本信息</h3>
    <table class="tab-Form mt10">
        <tr>
            <td class="Tit span6">年度：</td>
            <td class="span8">
                <strong>@(StrYear.Year)</strong>
            </td>
            <td class="Tit span6">包含课程：</td>
            <td class="span8">
                <strong>@(StrYear.courseCount)</strong>
            </td>
            <td class="Tit span6">创建时间：</td>
            <td class="span20">
                <strong>@(StrYear.CreateTimeStr)</strong>
            </td>
            <td class="Tit span6">创建人：</td>
            <td>
                <strong>@(StrYear.Realname)</strong>
            </td>
        </tr>
    </table>
    <table>
        <tr id="opentype"></tr>
        <tr id="OpenOKDep" style="display:none;">
            <td class="Tit">联合成功：</td>
            <td>
                <div>
                    <div class="seled-list">
                        <ul>
                        @if (ViewBag.OKDeparts != null && ((IEnumerable<LiXinModels.User.Sys_Department>)ViewBag.OKDeparts).Count() > 0)
                        {
                            foreach (var item in (IEnumerable<LiXinModels.User.Sys_Department>)ViewBag.OKDeparts)
                            {
                            <li><span title="@item.DeptName">@item.DeptName</span></li>
                            }
                        }
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr id="OpenNODep" style="display:none;">
            <td class="Tit">联合失败：</td>
            <td>
                <div>
                    <div class="seled-list">
                        <ul>
                        @if (ViewBag.NODeparts != null && ((IEnumerable<LiXinModels.User.Sys_Department>)ViewBag.NODeparts).Count() > 0)
                        {
                            foreach (var item in (IEnumerable<LiXinModels.User.Sys_Department>)ViewBag.NODeparts)
                            {
                            <li><span title="@item.DeptName">@item.DeptName</span>
                            </li>
                            }
                        }
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr id="OpenUnDep" style="display:none;">
            <td class="Tit">待接受：</td>
            <td>
                <div>
                    <div class="seled-list">
                        <ul>
                        @if (ViewBag.UnDeparts != null && ((IEnumerable<LiXinModels.User.Sys_Department>)ViewBag.UnDeparts).Count() > 0)
                        {
                            foreach (var item in (IEnumerable<LiXinModels.User.Sys_Department>)ViewBag.UnDeparts)
                            {
                            <li><span title="@item.DeptName">@item.DeptName</span>
                            </li>
                            }
                        }
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div id="Search" class="so-set mt10">
        <table class="tab-Form">
            <tr>
                <td class="Tit span6">课程名称：</td>
                <td class="span31">
                    <input type="text" class="span30 searchclass" id="CourseName" value="请输入搜索内容" info="" />
                </td>
                <td class="Tit span6">开放级别：</td>
                <td colspan="3">
                    <div class="sel">
                        @{
                            foreach (var item in @ViewBag.trainGrade)
                            {
                            <input type="checkbox" value="@item" name="OpenLevel" /><label>@item</label>
                            }      
                        }
                    </div>
                </td>
                <td class="so-do" rowspan="2">
                    <input type="button" value="查询" id="ibtnSearch" class="btn" />
                    @{
                        if(@lai=="0"){
                    <input type="button" class="btn btn-co " id="btnout" onclick="OutData(@StrYear.Id);" value="导出EXCEL" />
                        }
                    }
                </td>
            </tr>
            <tr>
                <td class="Tit span6">讲师：</td>
                <td class="span31">
                    <input type="text" class="span30 searchclass" id="TearchName" value="请输入搜索内容" info="" />
                </td>
                <td class="Tit span6">选/必修：</td>
                <td>
                    <div class="sel">
                        <input type="checkbox" value="0" name="IsMust" /><label>必修</label>
                        <input type="checkbox" value="1" name="IsMust" /><label>选修</label>
                    </div>
                </td>
                <td class="Tit span6">框架内/外：</td>
                <td>
                    <div class="sel">
                        <input type="checkbox" value="0" name="IsSystem" /><label>外</label>
                        <input type="checkbox" value="1" name="IsSystem" /><label>内</label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <input type="hidden" id="selOrder" value="asc" />
    <table class="tab-List mt10">
        <thead>
            <tr>
                <th>序号</th>
                <th>课程名称</th>
                <th>学时</th>
                <th><a href="#@@" onclick="selorder('asc',this) ">预计开课时间<span class="jt">↓</span></a></th>
                <th>开放级别</th>
                <th>授课讲师</th>
                @*<th>讲师薪酬</th>*@
                <th>必修/选修</th>
                @*<th>是否折算CPA学时</th>*@
                <th>框架内/外</th>
            </tr>
        </thead>
        <tbody id="yearCourseList">
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div class="mt10 tc">
        <input type="button" id="btnback" class="btn btn-cancel" value="返回" />
    </div>
</div>
<script id="yearCourseTemplate" type="text/x-jsrender">
   {{for #data}}
    <tr>
        <td>{{:#index+1}}</td>
        <td><div class="ovh span20 tl" title="{{:CourseName}}">{{:CourseName}}</div></td>
        <td>{{:CourseLength}}</td>
        <td>{{:OpenTime}}</td>
        <td><div class="ovh span10" title="{{:OpenLevel}}">{{:OpenLevel}}</div></td>
        <td><div class="ovh span10" title="{{:RealnameStr}}">{{:RealnameStr}}</div></td>
        <td>{{:IsMustStr}} </td>
        <td>{{:IsSystemStr}} </td>
    </tr>
   {{/for}}
</script>
<script type="text/javascript">
    $(document).ready(function ()
    {
        initSearch();
        InitializeTargetList(getyearUrl());

        if(@(StrYear.IsOpen)==1 && @(StrYear.OpenType)==1){
            $("#opentype").html('<td class="Tit span6">上报方式：</td><td class="span10"><strong>@(StrYear.OpenTypeStr)</strong></td><td class="Tit span6">联合部门：</td><td class="span10"><strong>@(StrYear.linkCount)</strong></td><td class="Tit span6">成功联合：</td><td class="span10"><strong>@(StrYear.linkYesCount)</strong></td>');
            $("#OpenOKDep").show();
            $("#OpenNODep").show();
            $("#OpenUnDep").show();
        }else{
            $("#opentype").html('<td class="Tit span6">上报方式：</td><td class="span10"><strong>@(StrYear.OpenTypeStr)</strong></td>');
            $("#OpenOKDep").hide();
            $("#OpenNODep").hide();
            $("#OpenUnDep").hide();
        }

        //返回
        $("#btnback").bind("click", function ()
        {
            if(@lai==0){
                window.location.href = "/DeptPlanManage/YearPlan";
            }else if(@lai==1){
                window.location.href = "/DeptPlanManage/YearLinkPlan";
            }else{                
                window.location.href = "/DepCourseOpenOthersCheck/DepYearPlanTrack?tp=1&backtype="+@backtype;
            }
        });

        //查询
        $("#ibtnSearch").bind("click", function ()
        {
            InitializeTargetList(getyearUrl());
        });
    });

    //显示群组列表
    function InitializeTargetList(url)
    {
        var templateId = 'yearCourseTemplate';
        $("#yearCourseList").JsRenderData({
            sourceUrl: url,
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: templateId,
            funCallback: function ()
            {
            }
        });
    }

    //年度的课程相关的url
    function getyearUrl()
    {
        var openLevel = "";
        $("input[name='OpenLevel']").each(function ()
        {
            if ($(this).attr("checked") == "checked")
            {
                openLevel = openLevel == "" ? $(this).val() : openLevel + "," + $(this).val();
            }
        });
        var isMust = "";
        $("input[name='IsMust']").each(function () {
            if ($(this).attr("checked") == "checked") {
                isMust = isMust == "" ? $(this).val() : isMust + "," + $(this).val();
            }
        });
        if (isMust.length > 1) {
            isMust = "";
        }

        var isSystem = "";
        $("input[name='IsSystem']").each(function (index) {
            if ($(this).attr("checked") == "checked") {
                isSystem = isSystem == "" ? $(this).val() : isSystem + "," + $(this).val();
            }
        });
        if (isSystem.length > 1) {
            isSystem = "";
        }
        var url = "/DeptPlanManage/GetYearCourseList?yid=@(Yid)&name=" + escape($.trim(getSearchWord("CourseName")))+ "&openLevel=" + openLevel + "&Teaname=" + escape($.trim(getSearchWord("TearchName"))) + "&isMust=" + isMust + "&isSystem=" + isSystem + "&Order=" + $("#selOrder").val() + "&t=" + new Date();
        return url;
    }

    function wayChange(){
        InitializeTargetList(getyearUrl());
    }
    //导出EXCEL
    function OutData(id){
        var openLevel = "";
        $("input[name='OpenLevel']").each(function (index)
        {
            if ($(this).attr("checked") == "checked")
            {
                openLevel = openLevel == "" ? $(this).val() : openLevel + "," + $(this).val();
            }
        });
        var isMust = "";
        $("input[name='IsMust']").each(function (index) {
            if ($(this).attr("checked") == "checked") {
                isMust = isMust == "" ? $(this).val() : isMust + "," + $(this).val();
            }
        });
        if (isMust.length > 1) {
            isMust = "";
        }

        var isSystem = "";
        $("input[name='IsSystem']").each(function (index) {
            if ($(this).attr("checked") == "checked") {
                isSystem = isSystem == "" ? $(this).val() : isSystem + "," + $(this).val();
            }
        });
        if (isSystem.length > 1) {
            isSystem = "";
        }
        window.location.href = "/DeptPlanManage/OutYearCourse?id=" + id + "&name=" + escape($.trim(getSearchWord("CourseName"))) + "&Way=" + $("#Way").val() + "&openLevel=" + openLevel + "&Teaname=" + escape($.trim(getSearchWord("TearchName"))) + "&isMust=" + isMust + "&isSystem=" + isSystem + "&Order=" + $("#selOrder").val() + "&t=" + new Date();
    }
    //排序
    function selorder(str, obj){
        if ($(obj).children(".jt").html() == "↓")
        {
            $(obj).children(".jt").html("↑")
        }
        else
        {
            $(obj).children(".jt").html("↓")
        }
        if ($("#selOrder").val() == str)
        {
            switch ($("#selOrder").val())
            {
                case "asc":
                    $("#selOrder").val("desc");
                    break;
                case "desc":
                    $("#selOrder").val("asc");
                    break;
            }
        } else
        {
            $("#selOrder").val(str);
        }
        InitializeTargetList(getyearUrl());
    }
</script>
