@using LiXinModels.DepPlanManage
@using LiXinLanguage
@{
    ViewBag.Title = "编辑年度计划";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Yid = Request.QueryString["id"] == null ? "0" : Request.QueryString["id"];
    var StrYear = ViewData["Yearmodel"] as Dep_YearPlan;
}
<script src="../../Scripts/js_pagerNew.js" type="text/javascript"></script>
<div class="main-c">
   @(Html.Action("SiteMapLink", "Common", new { linkName = "DepYearPlanEdit" }))
    <form id="YearPlanForm" method="post" action="">
    <h3 class="tit-h3">年度计划基本信息</h3>
    <table class="tab-Form mt10">
        <tr>
            <td class="Tit span4"><input id="selyear" type="hidden" value="@(StrYear.Year)" />年度：</td><td class="span8"><strong>@(StrYear.Year)</strong></td>
            <td class="Tit span6">包含课程：</td><td class="span8"><strong>@(StrYear.courseCount)</strong></td>
            <td class="Tit span6">创建时间：</td><td class="span20"><strong>@(StrYear.CreateTimeStr)</strong></td>
            <td class="Tit span6">创建人：</td><td><strong>@(StrYear.Realname)</strong></td>
        </tr>
    </table>
    <table class="tab-Form">
        <tr>
            <td class="Tit span10">上报方式：</td>
            <td>
                <input type="radio" value="0" name="IsOpen" text="单体上报" checked="checked" @(StrYear.PublishFlag == 0?"":"disabled='disabled'") /><label>单体上报</label>
                <input type="radio" value="1" name="IsOpen" text="联合上报" @(StrYear.PublishFlag == 0?"":"disabled='disabled'") /><label>联合上报</label>
            </td>
        </tr>
        <tr id="OpenDep" style="display:none;">
            <td class="Tit">选择组织结构：</td>
            <td>
                <div id="div_showDept">
                <input type="hidden" id="pop_deptID" name="pop_deptID" value="@(ViewBag.did)" />
                <input type="hidden" id="pop_deptID1" name="pop_deptID1" value="" />
                    <div class="seled-list">
                        @if (StrYear.PublishFlag == 0)
                        {
                        <div class="mt10">
                            <input type="button" id="btnGoOnAddDept" onclick="fnGoOnAddDept()" value="添加组织结构" class="btn btn-co" />
                        </div>
                        }
                        <ul id="deptlist">
                        @if (ViewBag.Departs != null && ((IEnumerable<LiXinModels.User.Sys_Department>)ViewBag.Departs).Count() > 0)
                        {
                            foreach (var item in (IEnumerable<LiXinModels.User.Sys_Department>)ViewBag.Departs)
                            {
                            <li id="div_DeptItem_@(item.DepartmentId)"><span title="@item.DeptName">@item.DeptName</span>
                                @if (StrYear.PublishFlag == 0)
                                {
                                    <input class="btn btn-cancel"  type="button" name="btn" title="移除" value="x" onclick="fnRemoveDeptItem('div_DeptItem_@(item.DepartmentId)    ',@item.DepartmentId)" />
                                }
                            </li>
                            }
                        }
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div id="Search" class="so-set mt10">
        <table class="tab-Form">
            <tr>
                <td class="Tit span4">月份：</td>
                <td>
                    <div class="sel">
                    @{
                        for (int month = 1; month <= 12; month++)
                        {
                        <input type="checkbox" value="@month"  name="Month"  /><label>@month</label>
                        }
                    }
                    </div>
                </td>
                
                <td class="so-do" rowspan="2">
                    <input type="button" value="搜索" id="ibtnSearch" class="btn" />
                    <input type="button" id="btnAddCourse" class="btn btn-co" value="新增课程" />
                    <input type="button" id="btnSel" class="btn btn-co" value="胜任力课程" onclick="AddPopCo()" />
                </td>
            </tr>
            <tr>
                <td class="Tit span6">开放级别：</td>
                <td>
                    <div class="sel">
                        @{
                            foreach (var item in @ViewBag.trainGrade)
                            {
                            <input type="checkbox" value="@item" name="OpenLevel1" /><label>@item</label>
                            }      
                        }
                    </div>
                </td>
            </tr>       
        </table>
    </div>
    <table class="tab-List mt10">
        <thead>
            <tr>
                <th>课程名称</th>
                <th>学时</th>
                <th>预计开课时间</th>
                <th>开放级别</th>
                <th>授课讲师</th>
                @*<th>讲师薪酬</th>*@
                <th>必修/选修</th>
                @*<th>是否折算CPA学时</th>*@
                <th>框架内/外</th>
                @*<th>框架类别</th>*@
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="yearCourseList"></tbody>
        <tfoot>
            <tr>
            <td colspan="11">
                <div id="listPage" class="listPage"></div>
            </td>
        </tr>
        </tfoot>
    </table>
    <div class="mt10 tc">
        <input type="button" class="btn" value="保存" onclick="$(this).submit();" />
        <input type="button" id="btnback" class="btn btn-cancel" value="返回" />
    </div>
    <input id="hidDelID" type="hidden" />
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if (@(StrYear.IsOpen) == 1){
            $("input[name='IsOpen']").eq(@(StrYear.IsOpen)).attr("checked",true);
            $("#pop_deptID1").val('@(StrYear.DepIds)');
            var idss = $("#pop_deptID").val();
            idss = idss == "" ? "@(StrYear.AllDepIds)" : idss + ",@(StrYear.AllDepIds)";
            $("#pop_deptID").val(idss);
            $("#OpenDep").show();
        }
        InitializeTargetList(getyearUrl());

        $("input[name='IsOpen']").change(function () {
            var index = $(this).val();
            if (index == 0) {
                $("#OpenDep").hide();
                $("#pop_deptID1").val("");
            } else {
                $("#OpenDep").show();
            }
        });

        $("#YearPlanForm").validate({
            submitHandler: function (form) {
                var openval = $('input[name="IsOpen"]:checked').val();
                if (openval == 0 || (openval == 1 && $("#pop_deptID1").val() != "")) {
                    var tmp = $("#yearCourseList").find("tr.child");
                    if ($("input[name=Month]:checked").size() > 0 || $("input[name=OpenLevel1]:checked").size() > 0) {
                        if (($("#hidDelID").val() == "") || ($("#hidDelID").val() == null)) {
                            if (tmp.length < 1) {
                                window.location.href = "/DeptPlanManage/YearPlan?t=" + new Date();
                            } else {
                                SubmitYear();
                            }
                        } else {
                            SubmitYear();
                        }
                    } else {
                        if (tmp.length > 0) {
                            SubmitYear();
                        } else {
                            art.dialog.tips("请添加课程", 3);
                        }
                    }
                } else {
                    art.dialog.tips("请选择联合上报的组织结构", 3);
                }
            }
        });

        //返回
        $("#btnback").bind("click", function () {
            window.location.href = "/DeptPlanManage/YearPlan";
        });

        //查询
        $("#ibtnSearch").bind("click", function () {
            InitializeTargetList(getyearUrl());
        });

        //新增课程
        $("#btnAddCourse").bind("click", function () {
            art.dialog.load("/DeptPlanManage/AddYearCourse?type=&ccid=0&str=&t=" + new Date(), { title: "新增课程", id: "EditCourse", width: 500, height: 400 });
        });
    });

    //显示群组列表
    function InitializeTargetList(url) {
        $.getJSON(url, function (data) {
            var courList = data.dataList;
            $("#yearCourseList").html("");
            if (data.recordCount > 0) {
                for (var i = 0; i < data.recordCount; i++) {
                    var ismust = $('input[name="IsMust"]:checked').val();
                    var valueStr = courList[i].CourseId + "♣" + courList[i].CourseName + "♣" + courList[i].Code + "♣" + courList[i].Year + "♣" + courList[i].Month + "♣" + courList[i].Day + "♣" + courList[i].OpenLevel + "♣" + courList[i].IsMust + "♣" + courList[i].Teacher + "♣" + courList[i].RealnameStr + "♣" + courList[i].PayGradeStr + "♣" + courList[i].IsSystem + "♣" + courList[i].IsCPA + "♣" + courList[i].CourseLength;
                    var strhtml = "";
                    strhtml += '<tr class="child">'
                    strhtml += '<td style="display:none;" class="flag_hidlbl">' + base64encode(utf16to8(valueStr)) + '</td>';
                    strhtml += '<td><div class="tl ovh span20" title="' + courList[i].CourseName + '">' + courList[i].CourseName + '</div></td>';
                    strhtml += '<td>' + courList[i].CourseLength + '</td>';
                    strhtml += '<td>' + courList[i].OpenTime + '</td>';
                    strhtml += '<td><div class="ovh span8" title="' + courList[i].OpenLevel + '">' + courList[i].OpenLevel + '</div></td>';
                    strhtml += '<td><div class="ovh span10" title="' + replaceMsg(courList[i].RealnameStr) + '">' + replaceMsg(courList[i].RealnameStr) + '</div></td>';
                    //strhtml += '<td><div class="ovh span10" title="' + replaceMsg(courList[i].PayGradeStr) + '">' + replaceMsg(courList[i].PayGradeStr) + '</div></td>';
                    strhtml += '<td>' + courList[i].IsMustStr + '</td>';
                    //strhtml += '<td>' + courList[i].IsCPAStr + '</td>';
                    strhtml += '<td>' + courList[i].IsSystemStr + '</td>';
                    //strhtml += '<td>' + courList[i].SystemTreeStr + '</td>';
                    strhtml += '<td><a onclick="EditCourse(this)" class="icon iedit" title="修改"></a><a name="rmlink" lang="' + courList[i].CourseId + '" class="icon idel" title="删除"></a></td>';
                    strhtml += '</tr>';
                    $("#yearCourseList").append(strhtml);
                    bindListener();
                }
                TrNumber();
                var tmp = $("#yearCourseList").find("tr.child");
                $.divpager($("#listPage"), tmp.length, $("tr.child"), 10);
            } else {
                var strhtml = '<tr id="tr0"><td colspan="10"><div class="tc c38 line_h30">暂无数据</div></td></tr>';
                $("#yearCourseList").html(strhtml);
                var tmp = $("#yearCourseList").find("tr.child");
                $.divpager($("#listPage"), tmp.length, $("tr.child"), 10);
            }
        });
        
    }
    //课程体系
    function AddPopCo() {
        art.dialog.load("/DeptPlanManage/SelCompetencyCourse", { title: "胜任力课程", id: "SelCCourse", width: 860, height: 400 });
    }
    //课程体系保存
    function fnChooseSelectCourse() {
        var obj = $('input:radio[name=popchbCourse]:checked');
        var objid = $('input:radio[name=popchbCourse]:checked').val();
        var cname = $(obj).parent().parent().find("div").eq(0).html();
        if (cname != null && cname != "" && cname != undefined) {
            art.dialog.list['SelCCourse'].close();
            art.dialog.load("/DeptPlanManage/AddYearCourse?type=" + escape(cname) + "&ccid=" + objid + "&str=&t=" + new Date(), { title: "胜任力课程", id: "EditCourse", width: 500, height: 400 });
        } else {
            art.dialog.tips("请选择课程", 3);
        }
    }
    //年度的课程相关的url
    function getyearUrl() {
        var month = "";
        var openLevel = "";
        $("input[name='Month']").each(function (index) {
            if ($(this).attr("checked") == "checked") {
                month = month == "" ? $(this).val() : month + "," + $(this).val();
            }
        });

        $("input[name='OpenLevel1']").each(function (index) {
            if ($(this).attr("checked") == "checked") {
                openLevel = openLevel == "" ? $(this).val() : openLevel + "," + $(this).val();
            }
        });
        $("#hidDelID").val("");
        var url = "/DeptPlanManage/GetUpdataYCList?yid=@(Yid)&month=" + month + "&openLevel=" + openLevel + "&t=" + new Date();
        return url;
    }

    //修改课程
    function EditCourse(obj) {
        var tid = $(obj).parent().parent().attr('id');
        var str = $($(obj).parent().parent().find('td')[0]).html();
        art.dialog.load("/DeptPlanManage/AddYearCourse?type=&ccid=0&str=" + encodeURIComponent(str) + "&tid=" + tid + "&t=" + new Date(), { title: "修改课程", id: "EditCourse", width: 500, height: 400 });
    }

    //新增课件保存
    function NewCourseToMonthPlan() {
        var tempyear = $("#yearCourseList").find("tr.child");
        if (tempyear.length == 0) {
            $("#yearCourseList").html("");
        }
        var hidSystem = parseInt($("#hidSystem").val());
        var temp = $("#ycinfo").find("tr.chtime");
        for (var i = 0; i < temp.length; i++) {
            var month = $("#month"+i).val();
            if (month.indexOf("-0") > -1) {
                month = month.replace("-0", "年");
            } else if (month.indexOf("-") > -1) {
                month = month.replace("-", "年");
            }
            var time = month + "月" + $("#Day"+i).find("option:selected").text();
            var chk_value = "";
            $('input[name="pop_OpenLevel"]:checked').each(function () {
                chk_value += $(this).val() + ",";
            });
            chk_value = chk_value.substring(0, chk_value.length - 1);
            var ismust = $('input[name="IsMust"]:checked').val();
            var iscpa = $('input[name="IsCPA"]:checked').val();
            var valueStr = $("#hidCoID").val() + "♣" + $("#CourseName").val() + "♣" + $("#Code").val() + "♣" + $("#year" + i).val() + "♣" + $("#month" + i).val() + "♣" + $("#Day" + i).val() + "♣" + chk_value + "♣" + ismust + "♣" + $("#teacherID").val() + "♣" + $("#teaNmae").val() + "♣" + $("#newPayGrade").val() + "♣" + hidSystem + "♣" + iscpa + "♣" + $("#CourseLength").val();
            var strhtml = "";
            strhtml += '<tr class="child">';
            strhtml += '<td style="display:none;" class="flag_hidlbl">' + base64encode(utf16to8(valueStr)) + '</td>';
            strhtml += '<td><div class="tl ovh span20" title="' + replaceMsg($("#CourseName").val()) + '">' + replaceMsg($("#CourseName").val()) + '</div></td>';
            strhtml += "<td>" + $("#CourseLength").val() + "</td>";
            strhtml += '<td>' + time + '</td>';
            strhtml += '<td><div class="ovh span8" title="' + chk_value + '">' + chk_value + '</div></td>';
            strhtml += '<td><div class="ovh span10" title="'+replaceMsg($("#teaNmae").val())+'">' + replaceMsg($("#teaNmae").val()) + '</div></td>';
            //strhtml += '<td><div class="ovh span10" title="' + replaceMsg($("#newPayGrade").val()) + '">' + replaceMsg($("#newPayGrade").val()) + '</div></td>';
            if (ismust == 0) {
                strhtml += '<td>必修</td>';
            } else {
                strhtml += '<td>选修</td>';
            }
//            if (iscpa == 0) {
//                strhtml += "<td>否</td>";
//            } else {
//                strhtml += "<td>是</td>";
//            }
            if (hidSystem >0) {
                strhtml += "<td>内</td>";
            } else {
                strhtml += "<td>外</td>";
            }
            //strhtml += '<td></td>';
            strhtml += '<td><a onclick="EditCourse(this)" class="icon iedit" title="修改"></a><a name="rmlink" lang="0" class="icon idel" title="删除"></a></td>';
            strhtml += '</tr>';
            $("#yearCourseList").append(strhtml);
            var trid = $("#hidtr").val();
            if (trid.indexOf("tr") > -1) {
                $("#" + trid).remove();
            }
            bindListener();
        }
        art.dialog.list['EditCourse'].close();
        TrNumber();
        var tmp = $("#yearCourseList").find("tr.child");
        $.divpager($("#listPage"), tmp.length, $("tr.child"), 10);
    }


    //删除
    function bindListener() {
        $("a[name=rmlink]").unbind().click(function () {
            if ($(this).attr("lang") > 0) {
                var lsdata = $("#hidDelID").val();
                lsdata += $(this).attr("lang") + ",";
                $("#hidDelID").val(lsdata);
            }
            $(this).parent().parent().remove();
            var tempyear = $("#yearCourseList").find("tr.child");
            if (tempyear.length == 0) {
                var strhtml = '<tr id="tr0"><td colspan="10"><div class="tc c38 line_h30">暂无数据</div></td></tr>';
                $("#yearCourseList").html(strhtml);
            }
            TrNumber();
            var tmp = $("#yearCourseList").find("tr.child");
            $.divpager($("#listPage"), tmp.length, $("tr.child"), 10);
        });
    }

    //tr编号
    function TrNumber() {
        var tmp = $("#yearCourseList").find("tr");
        for(var i = 0; i < tmp.length; i++){
            tmp[i].id="tr"+i;
        }
    }

    function SubmitYear(){
        var datatemp = {
            selyear: $("#selyear").val(),
            courlist: function () {
                var a = "";
                $(".flag_hidlbl").each(function () {
                    a += $(this).html() + ",";
                }); return a;
            },
            DelID: $("#hidDelID").val(),
            Isopen: $('input[name="IsOpen"]:checked').val(),
            DepIDs: $("#pop_deptID1").val()
        };
        $.post("/DeptPlanManage/SubmitYear?id=@(Yid)&did=@(ViewBag.did)", datatemp, function (data) {
            if (data.result == 1) {
                art.dialog.tips(data.content, 3, function () {
                    window.location.href = "/DeptPlanManage/YearPlan?t=" + new Date();
                });
            } else {
                art.dialog.tips(data.content, 3);
            }
        });
    }

    function fnGoOnAddDept() {
        art.dialog.load("/UserCommon/DeptTree?type=checkbox&buttonShow=1", { title: '选择组织结构', id: "pop_chooseDept"}, false);
    }

    function SelectDept() {
        var ids = $("#pop_deptID1").val();
        var idss = $("#pop_deptID").val();
        var names = "";
        var html = "";
        $("#pop_deptTree input:checked").each(function () {
            if ($(this).attr("disabled") == "disabled") {
                return;
            }
            var s = $(this).attr("value").split("_");
            ids = ids == "" ? s[0] : ids + "," + s[0];
            idss = idss == "" ? s[0] : idss + "," + s[0];
            names = names + $(this).next().text() + "♣";
            html += "<li id='div_DeptItem_" + s[0] + "'><span title='" + $(this).next().text() + "'>" + $(this).next().text() + "</span>";
            if ($(this).attr("oldchoose") != "oldchoose") {
                html += "<input class='btn btn-cancel' type='button' name='btn' value='X' title='移除'  onclick=fnRemoveDeptItem(\'div_DeptItem_" + s[0] + "\'," + s[0] + ") /></li>";
            }
        });
        if (ids.length > 0){
            names = names.substring(0, names.length - 1);
            $("#pop_deptID1").val(ids);
            $("#pop_deptID").val(idss);
            $("#deptlist").append(html);
        }
        else {
            html = "";
        }
        art.dialog.list["pop_chooseDept"].close();
    }

    function fnRemoveDeptItem(id, groupId) {
        $("#" + id).remove();
        var oldGroupIds = $("#pop_deptID1").val();
        var oldGroupIdss = $("#pop_deptID").val();
        oldGroupIds = "," + oldGroupIds + ",";
        oldGroupIdss = "," + oldGroupIdss + ",";
        var str = "," + groupId + ",";
        if (oldGroupIds == str) {
            oldGroupIds = oldGroupIds.replace(str, "");
        } else {
            oldGroupIds = oldGroupIds.replace(str, ",");
        }
        oldGroupIds = oldGroupIds.substring(1, oldGroupIds.length - 1);
        if (oldGroupIdss == str) {
            oldGroupIdss = oldGroupIdss.replace(str, "");
        } else {
            oldGroupIdss = oldGroupIdss.replace(str, ",");
        }
        oldGroupIdss = oldGroupIdss.substring(1, oldGroupIdss.length - 1);
        var splitObj = oldGroupIds.split(",");
        var objflag = true;
        if (splitObj.length > 0) {
            for (var i = 0; i < splitObj.length; i++) {
                if (splitObj[i] != "") {
                    objflag = false;
                }
            }
        }
        if (objflag == true) {
            oldGroupIds = "";
        }
        var splitObjs = oldGroupIdss.split(",");
        var objflags = true;
        if (splitObjs.length > 0) {
            for (var j = 0; j < splitObjs.length; j++) {
                if (splitObjs[i] != "") {
                    objflags = false;
                }
            }
        }
        if (objflags == true) {
            oldGroupIdss = "";
        }
        $("#pop_deptID1").val(oldGroupIds);
        $("#pop_deptID").val(oldGroupIdss);
        if (oldGroupIds == "") {
            $("#deptlist").html("");
        }
    }

</script>
