@model LiXinModels.Survey.Survey_Survey
@using LiXinLanguage
@{
    ViewBag.Title = NavigateMenuLanguage.SurveyCheckDeatils;
}
<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new
{
    linkName = "SurveyCheckDeatils"
}))
    <h3 class="tit-h3">
        调查基本信息:</h3>
    <table class="tab-Form mt10">
        <tr>
            <td class="Tit span8">
                调查名称：
            </td>
            <td>
                <strong>@(Model.Name)</strong>
            </td>
            <td class="Tit span6">
                发布时间：
            </td>
            <td>
                <strong>@(Model.PublishTimeStr)</strong>
            </td>
            <td class="Tit span6">
                截止时间：
            </td>
            <td>
                <strong>@(Model.EndTime.ToString("yyyy.MM.dd"))</strong>
            </td>
            <td class="Tit span9">
                是否在期限内：
            </td>
            <td>
                <strong>否</strong>
            </td>
            <td class="Tit span6">
                参与人数：
            </td>
            <td>
                <strong>@(Model.useNum)</strong>
            </td>
        </tr>
    </table>
    <div class="tab-bk mt10">
        <ul id="ul_menu">
            <li class="On" id="tag0">调查结果明细</li>
            <li id="tag1">员工答卷明细</li>
        </ul>
    </div>
    <div>
        <!--调查结果明细--->
        <div id="surveyResult" class="clb">
            @Html.Action("surveyResult")
        </div>
        <!--员工答卷明细--->
        <div id="studentResult" style="display: none" class="clb">
            @Html.Action("studentResult")
        </div>
    </div>
    <center class="mt10">
        <input type="button" class="btn  btn-cancel" value="返回" onclick="back()" />
    </center>
    <input id="questionID" type="hidden" /><!--选择的问题ID-->
    <input id="questionType" type="hidden" /><!--选择的问题选项-->
    <input id="surveyID" type="hidden" />
    <input id="paperID" type="hidden" />
</div>
<script type="text/javascript">
    $(document).ready(function ()
    {
       showQuestion();
        $("#ul_menu li").click(function ()
        {
            $("#tag0").removeClass("On");
            $("#tag1").removeClass("On");

            var index = $(this).index();

            $("#tag" + index).addClass("On");

            if (index == 0)
            {
                $("#surveyResult").css("display", "");
                $("#studentResult").css("display", "none");
                showQuestion();
            }
            else
            {
                $("#surveyResult").css("display", "none");
                $("#studentResult").css("display", "");
                //Getdata(1);
                 getData();
            }
        });
       $("#surveyID").val(@ViewBag.surveyID);
       $("#paperID").val(@ViewBag.paperID);
       
    });

    //显示问题
    function showQuestion()
    {
      var  surveyID=@ViewBag.surveyID;
      var paperID=@ViewBag.paperID;
        $.getJSON("/Survey/GetQuestionBySurvey?surveyID=@ViewBag.surveyID&&paperID=@ViewBag.paperID", function (data)
        {
            if (data.result == 1)
            {
             
             if(data.dataList.length>0)
               {

                    $("#txtName").val("");
                    $("#questionID").val(data.questionID);
                    $("#questionType").val(data.qtype);
                    
                    if(data.sumresult!=""&&data.sumresult!=null)
                    {
                       $("#txtSubject").val(data.sumresult);
                       $("#saveSubject").val("修改");
                       $("#saveSubject").attr("onclick", "updateMaster()");
                    }
                    $("#questionList").html($("#surveyCheckTemplate").render(data.dataList));
                 $("#questionList li:first").addClass("bg_cc");
                    switch(data.qtype)
                    {
                      case 0:
                      case 1:
                           $("#subjectresult").css("display", "none");
                           $("#objectresult").css("display", "");
                           GetObjectReplayAnswer(data.qtype);
                           break;
                      case 2:
                           $("#subjectresult").css("display", "");
                           $("#objectresult").css("display", "none");
                           GetSubjectAnswer();
                           break;
                       //星评题
                       case 3:
                            $("#subjectresult").css("display", "");
                            $("#objectresult").css("display", "none");
                            $("#searchtab").css("display", "none");
                            GetXinPAnswers();
                            break;
                    }

                }
                else
                {
                   $("#questionList").html("<li>暂无数据</li>");
                   $("#pop_answer").html("暂无数据");
                }
            }

        });
    }

    //显示答案
    function shouwAnswer(qID, type,obj)
    {
        if(obj!=undefined) {
            $(obj).parent().parent().find("li").removeClass("bg_cc");
            $(obj).parent().addClass("bg_cc");
        }
        $("#questionID").val(qID);
      $("#questionType").val(type);
      answerList(qID, type);
    }

    function answerList(qID, type)
    {
        switch (type)
        {
            case 0: //单选题
            case 1: //多选题
                $("#subjectresult").css("display", "none");
                $("#objectresult").css("display", "");
                $("#searchtab").css("display", "");
                GetObjectReplayAnswer(type);
                break;
            //主观题
            case 2:
                $("#subjectresult").css("display", "");
                $("#objectresult").css("display", "none");
                  $("#searchtab").css("display", "");
                GetSubjectAnswer();
                break;
            //星评题
            case 3:
                $("#subjectresult").css("display", "");
                $("#objectresult").css("display", "none");
                $("#searchtab").css("display", "none");
                GetXinPAnswers();
               break;
        }

    }

    //主观题的URl
    function getSubjectUrl()
    {
      return "/Survey/GetSubjectReplayAnswer?surveyID=" + @ViewBag.surveyID + "&paperID=" + @ViewBag.paperID + "&questionID=" +  $("#questionID").val() + "&where=" +escape($.trim($("#txtName").val()));
    }

    //客观题的URL
    function getObjectUrl()
    {
       return "/Survey/GetObjectReplayAnswer?surveyID=" + @ViewBag.surveyID + "&paperID=" + @ViewBag.paperID + "&questionID=" +  $("#questionID").val()+ "&where=" + escape($.trim($("#txtName").val()));
    }

    //星评题的url
    function getXinPUrl()
    {
        return "/Survey/GetXinPAnswers?surveyID=" + @ViewBag.surveyID + "&paperID=" + @ViewBag.paperID + "&questionID=" +  $("#questionID").val();
    }

    //人员的URl
     function geturl()
    {
       var  grade = "";
        $("input[name='grade']").each(function ()
        {
            if ($(this).attr("checked") == "checked")
            {
                grade = grade == "" ? $(this).val() : grade + "," + $(this).val();
            }
        });
        return "/Survey/GetStudent?surveyID=" + $("#surveyID").val() + "&paperID=" + $("#paperID").val()+"&name=" + escape($("#txtRealName").val()) + "&grade=" + escape(grade);
    }

    function back()
    {
       window.location.href="SurveyCheckForDept";
    }
</script>
