@using LiXinLanguage
@{
    ViewBag.Title = "我的可预订课程";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new { linkName = "我的可预订课程" }))
    <div class="tab-bk mt10">
        <ul id="tags">
            @*<li class="On"><a id="tab0" onclick="$(this).parent().parent().find('li').removeClass('On');$(this).parent().addClass('On');">
                所内课程</a></li>
            @{
                if (ViewBag.CPA == "是")
                {
                <li><a id="tab1" onclick="$(this).parent().parent().find('li').removeClass('On');$(this).parent().addClass('On');">
                    CPA课程</a></li>
                }
            }*@
            <li class="On" id="tab0" onclick="$(this).siblings('li').removeClass('On');$(this).addClass('On');">所内课程</li>
            @{
                if (ViewBag.CPA == "是")
                {
                <li id="tab1" onclick="$(this).siblings('li').removeClass('On');$(this).addClass('On');">注协课程</li>
                }
            }
        </ul>
    </div>
    <div id="divCourse" style="display: none;">
        <div class="so-set">
            <table class="tab-Form">
                <tr>
                    <td class="Tit span7">课程名称：
                    </td>
                    <td class="span26">
                        <input type="text" class="span20 Box searchclass" id="course" value="请输入搜索内容" info="" />
                    </td>
                    <td class="Tit span7">开课时间：
                    </td>
                    <td>
                        <div class="time-choose">
                            <input type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', maxDate: '#F{$dp.$D(\'end\',{m:-1})}' });"
                                readonly="readonly" id="start" /><i></i>
                        </div>
                        至
                        <div class="time-choose">
                            <input type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', minDate: '#F{$dp.$D(\'start\',{m:1})}' });"
                                readonly="readonly" id="end" /><i></i>
                        </div>
                    </td>
                    <td class="so-do" rowspan="2">
                        <input class="btn" type="button" value="搜索" id="btnSearch" onclick="InitData(1);" />
                    </td>
                </tr>
                <tr>
                    <td class="Tit">选/必修：
                    </td>
                    <td>
                        <div class="sel">
                            <input id="cbxMust1" type="checkbox" name="popIsMust" value="1" /><label>选修</label>
                            <input id="cbxMust0" type="checkbox" name="popIsMust" value="0" /><label>必修</label>
                        </div>
                    </td>
                    <td class="Tit">是否可预订：
                    </td>
                    <td>
                        @*<div class="sel">
                            <input id="cbxApply1" type="checkbox" name="popApply" value="1" /><label>是</label>
                            <input id="cbxApply0" type="checkbox" name="popApply" value="0" /><label>否</label>
                        </div>*@
                        <select id="sltApply" onchange=" InitData(1); ">
                            <option value="99">选择预定状态</option>
                            <option value="1">是</option>
                            <option value="2">否</option>
                            <option value="3">排队中</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="so-seq">
            <select id="sltCourseType" onchange=" InitData(1); ">
                <option value="99">课程类别</option>
                <option value="1">内部培训</option>
                <option value="2">社会招聘</option>
                <option value="3">新进员工</option>
                <option value="4">实习生</option>
            </select>
            <select id="sltSubscribeType" onchange=" InitData(1); ">
                <option value="99">预订状态</option>
                <option value="3">待预订</option>
                <option value="0">退订成功</option>
                <option value="7">已过期</option>
                <option value="8">关闭预订</option>
                @*<option value="1">预订成功[排队中]</option>*@ @*<option value="2">请假成功</option>*@ @*<option value="6">补预订</option>*@
                @*<option value="4">部门指定</option>*@ @*<option value="5">总所指定</option>*@
            </select>
            <select id="sltIsCPA" onchange=" InitData(1); ">
                <option value="99">是否可折算CPA学时</option>
                <option value="1">可折算CPA学时</option>
                <option value="0">不可折算CPA学时</option>
            </select>
            <div class="course-tysel">
                <span class="c-it">内部培训<i></i></span> <span class="c-sr">社会招聘<i></i></span> <span
                    class="c-ne">新进员工<i></i></span> <span class="c-tr">实习生<i></i></span>
            </div>
        </div>
        <div class="mt10">
            <table class="tab-List">
                <thead>
                    <tr>
                        <th class="span4">序号
                        </th>
                        <th class="span16">课程名称
                        </th>
                        <th class="span6" jsrendersortfield="Co_Course.CourseLength" sort="desc">学时
                        </th>
                        <th class="span7" jsrendersortfield="Co_Course.IsMust" sort="desc">选/必修
                        </th>
                        <th class="span15" jsrendersortfield="Co_Course.StartTime" sort="desc">开课时间
                        </th>
                        <th class="span9">已开课次数/总课次
                        </th>
                        <th class="span6">授课讲师
                        </th>
                        <th class="span10">授课地点
                        </th>
                        <th class="span7">是否在线测试
                        </th>
                        <th class="span8">报名人数<br />
                            /最大人数
                        </th>
                        <th class="span10">是否可折算CPA学时
                        </th>
                        <th class="span5">是否可预订
                        </th>
                        <th class="span7">预订状态
                        </th>
                        <th class="span8">是否是部门分享
                        </th>
                        <th class="span12">操作
                        </th>
                    </tr>
                </thead>
                <tbody id="courseList">
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>

    <div id="divCourseCPA" style="display: none;">
        <div class="so-set">
            <table class="tab-Form">
                <tr>
                    <td class="Tit span6">课程名称：
                    </td>
                    <td class="span26">
                        <input type="text" class="span20 Box searchclass" id="courseCPA" value="请输入搜索内容"
                            info="" />
                    </td>
                    <td class="Tit span6">开课时间：
                    </td>
                    <td>
                        <div class="data-choose">
                            <input type="text" class="span8" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'endCPA\',{m:-1})}' });"
                                readonly="readonly" id="startCPA" /><i></i>
                        </div>
                        至
                        <div class="data-choose">
                            <input type="text" class="span8" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'startCPA\',{m:1})}' });"
                                readonly="readonly" id="endCPA" /><i></i>
                        </div>
                    </td>
                    <td class="so-do">
                        <input class="btn" type="button" value="搜索" id="btnSearchCPA" onclick=" InitDataCPA(1); " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="so-seq">
            <select id="sltSubscribeTypeCPA" class="sel Raster_10" onchange=" InitDataCPA(1); ">
                <option value="99">预订状态</option>
                @*<option value="1">预订成功</option>*@
                <option value="0" >待预订</option>
                <option value="2">已过期</option>
                 <option value="3">人员已满</option>
            </select>
            <div class="course-tysel">
                <span style="float: right; color: orangered;">温馨提示：该课程一旦预订将无法退订和请假。</span>
            </div>
        </div>
        <div class="mt10">
            <table class="tab-List">
                <thead>
                    <tr>
                        <th class="span4">序号
                        </th>
                        <th>课程名称
                        </th>
                        <th class="span5" jsrendersortfield="CourseLength" sort="desc">学时
                        </th>
                        <th class="span8">授课讲师
                        </th>
                        <th class="span14" jsrendersortfield="StartTime" sort="desc">开课时间
                        </th>
                        <th class="span10" jsrendersortfield="TrainDays" sort="desc">培训天数
                        </th>
                        <th class="span12">授课地点
                        </th>
                        <th class="span10">培训对象
                        </th>
                        <th class="span8">预订状态
                        </th>
                       
                        <th class="span6">操作
                        </th>
                    </tr>
                </thead>
                <tbody id="courseListCPA">
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script id="courseListTemplate" type="text/x-jsrender">
    {{for #data}}
    <tr>
        <td>{{:#index+1}}</td>
        <td>
            <div class="course-type" title="课程类型：{{:SortStr==""?"无":SortStr}}">
                 <i class="c-it {{:SortStr.indexOf('内部培训')>=0?"":"c-no"}}">内部培训</i>
                 <i class="c-sr {{:SortStr.indexOf('社会招聘')>=0?"":"c-no"}}" title="">社会招聘</i>
                 <i class="c-ne {{:SortStr.indexOf('新进员工')>=0?"":"c-no"}}">新进员工</i>
                 <i class="c-tr {{:SortStr.indexOf('实习生')>=0?"":"c-no"}}">实习生</i>
             </div>
            <div class="ovh span11 tl" title="{{:CourseName}}">{{:CourseName}}</div>
        </td>   
        <td>{{:CourseLength}}</td> 
        <td>{{:IsMustStr}}</td> 
        <td><div class="f11 tl">{{:CourseTime}}</div></td> 
        <td>{{:CourseTimes}}</td> 
        <td><div class="ovh span6 tl" title="{{:TeacherName}}">{{:TeacherName}}</div></td> 
        <td><div class="ovh span10 tl" title="{{:RoomName}}">{{:RoomName}}</div></td> 
        <td><div class="ovh tc">{{:IsTest==0?"否":"是"}}</div></td> 
        <td>{{:HasEntered}}/{{:NumberLimited}}</td> 
        <td>{{:IsCPA}}</td> 
        <td>      
            {{:IsOrNoOrLine}}
        </td> 
        <td>         
            {{if StopOrderFlag==0}}
                {{:MyStatusStr}}
            {{else}}
                关闭预订
            {{/if}}
        </td> 
        <td>
            {{if DepCourseId>0}}
                是
            {{else}}
                否
            {{/if}}
        </td>
        <td>
            {{if IsMain==0}}
                   {{if MyDoStatus ==0 &&inopenlevel==1|| (MyDoStatus ==0&&noopenlevelandfensuo==0)}}                                 
                    <a onclick="Subscribe({{:Id}});" class="icon ibook" title="预订"></a>  
                 {{else}}
                    <a class="icon ibook idis" title="预订"></a>
                {{/if}}
             {{/if}}
             {{if IsMain==1}}
                 {{if MyDoStatus ==0 &&inopenlevel==1}}                                
                    <a onclick="Subscribe({{:Id}},this);" class="icon ibook" title="预订"></a>      
                 {{else}}
                    <a class="icon ibook idis" title="预订"></a>
                {{/if}}
             {{/if}}
            <a onclick="View({{:Id}});" class="icon iview" title="详情"></a>
        </td> 
    </tr> 
    {{/for}}
</script>
<script id="courseListCPATemplate" type="text/x-jsrender">
    {{for #data}}
    <tr>
        <td>{{:#index+1}}</td>
        <td>
            <div class="ovh span23 tl" title="{{:CourseName}}"><strong>{{:CourseName}}</strong></div> 
            <div class="ovh span23 tl" title="简介：{{:Memo}}">简介：{{:Memo}}</div>
        </td>   
        <td>{{:CourseLength}}</td> 
        <td><div class="tl ovh span7" title="{{:TeacherName}}">{{:TeacherName}}</div></td> 
        <td><div class="f11 tl">{{:CourseTime}}</div></td> 
        <td>{{:TrainDays}}</td> 
        <td>
            <div title="{{:CourseAddress}}" class="ovh span10 tl">{{:CourseAddress}}</div>
        </td> 
        <td><div class="span9 ovh" title="{{:CourseObjectMemo}}">{{:CourseObjectMemo}}</div></td>
        <td>{{:MyStatusStr}}{{:MyStatus}}</td> 
        <td>
            {{if MyDoStatus ==0}}
                {{if NumberLimited==HasEntered}}
                     <a class="icon ibook idis" title="预订人数已满"></a>
               {{else}}
                 <a class="icon ibook" onclick="SubscribeCPA({{:Id}},this);" title="预订"></a>
               {{/if}}
            {{else}}
                <a class="icon ibook idis" title="预订"></a>
            {{/if}}
            <a onclick="ViewCPA({{:Id}});" class="icon iview" title="详情"></a>
        </td>
    </tr> 
    {{/for}}
</script>
<script type="text/javascript">
    $(document).ready(function () {
        initSearch();
        //$("#sltSubscribeType option[value='3']").attr("selected","selected");
        
        if(@ViewBag.showflag == 0){
            $("#divCourse").show();

            $("#course").val('@(ViewBag.course)');
            if("@(ViewBag.must)"!=""){
                if('@(ViewBag.must)'.indexOf(",")>-1){
                    var strmust='@(ViewBag.must)'.split(",");
                    $.each(strmust, function(index,callback){$('input[name="popIsMust"][value="'+strmust[index]+'"]').attr('checked',true);});
                }else{
                    $('input[name="popIsMust"][value="@(ViewBag.must)"]').attr('checked',true);
                }
            }

            //            if("@(ViewBag.apply)"!=""){
            //                if('@(ViewBag.apply)'.indexOf(",")>-1){
            //                    var strapp='@(ViewBag.apply)'.split(",");
            //                    $.each(strapp, function(index,callback){$('input[name="popApply"][value="'+strapp[index]+'"]').attr('checked',true);});
            //                }else{
            //                    $('input[name="popApply"][value="@(ViewBag.apply)"]').attr('checked',true);
            //                }
            //            }

            $("#sltApply").val(@(ViewBag.apply));
            if("@(ViewBag.start)"!=""){
                $("#start").val('@(ViewBag.start)');
            }
            if("@(ViewBag.end)"!=""){
                $("#end").val('@(ViewBag.end)');
            }
            $("#sltCourseType").val('@(ViewBag.cType)');
            
            $("#sltSubscribeType").val('@(ViewBag.sType)');
            $("#sltIsCPA").val('@(ViewBag.iscpa)');


            InitData(@(ViewBag.page));
        }else{
            $("#divCourseCPA").show();
            $("#courseCPA").val('@(ViewBag.ccourse)');
            if("@(ViewBag.cstart)"!=""){
                $("#startCPA").val('@(ViewBag.cstart)');
            }
            if("@(ViewBag.cend)"!=""){
                $("#endCPA").val('@(ViewBag.cend)');
            }
            $("#sltSubscribeTypeCPA").val('@(ViewBag.csType)');
            InitDataCPA(@(ViewBag.cpage));
            $("#tab1").addClass('On');
            $("#tab0").removeClass('On');
        }

        $("#tags>li").click(function () {
            var index = $(this).index();

            $("#divCourse").hide();
            $("#divCourseCPA").hide();

            if (index == 0) {
                $("#divCourse").show();
                InitData(1);
            } else if (index == 1) {
                $("#divCourseCPA").show();
                InitDataCPA(1);
            }
        });
    });

    //初始化列表

    function InitData(page) {
        var must = "";
        var apply = "";
        $("input[name='popIsMust']").each(function () {
            if ($(this).attr("checked") == "checked") {
                must = must == "" ? $(this).val() : must + "," + $(this).val();
            }
        });
        //        $("input[name='popApply']").each(function () {
        //            if ($(this).attr("checked") == "checked") {
        //                apply = apply == "" ? $(this).val() : apply + "," + $(this).val();
        //            }
        //        });
        
        apply=$("#sltApply").val();

        var v = "course=" + escape(getSearchWord("course")) + "&must=" + must + "&apply="
                    + apply + "&courseType=" + $("#sltCourseType").val() + "&subscribeType="
                    + $("#sltSubscribeType").val() + "&start=" + $("#start").val() + "&end=" + $("#end").val()
                    + "&iscpa=" + $("#sltIsCPA").val();
        $("#courseList").JsRenderData({
            sourceUrl: '/CourseLearn/GetMyCourseSubscribeList?' + v,
            isPage: true,
            pageSize: 10,
            pageIndex: page,
            jsRenderSortField: "Co_Course.StartTime",
            jsRenderASC: "desc",
            templateID: "courseListTemplate",
            funCallback: function () {
            }
        });
    }

    function InitDataCPA(cpage) {
        var v = "course=" + escape(getSearchWord("courseCPA")) + "&subscribeType="
                    + $("#sltSubscribeTypeCPA").val() + "&start=" + $("#startCPA").val() + "&end=" + $("#endCPA").val();
        $("#courseListCPA").JsRenderData({
            sourceUrl: '/CourseLearn/GetMyCPACourseSubscribeList?' + v,
            isPage: true,
            pageSize: 10,
            pageIndex: cpage,
            jsRenderSortField: "Id",
            jsRenderASC: "desc",
            templateID: "courseListCPATemplate",
            funCallback: function () {
            }
        });
    }

    function Subscribe(courseid,obj) {//预订
        $(obj).attr("disabled",true);
        $.getJSON("/CourseLearn/Subscribe?courseId=" + courseid, function (data) {
            $(obj).attr("disabled",false);
            if (data.result == 2) {
                art.dialog({
                    content: data.content,
                    ok: function () {
                        $.getJSON("/CourseLearn/SubscribeLine?courseId=" + courseid, function (da) {
                            if (da.result == 1) {
                                art.dialog.tips(da.content, 3);
                                InitData(data.indexpage);
                            } else {
                                art.dialog.tips(da.content, 3);
                            }
                        });
                    },
                    cancel: true
                });
            } else if(data.result==1) {
                
                InitData(data.indexpage);
                art.dialog({
                    content: data.content+"你可以进行以下操作",
                    okVal:"继续预订课程",
                    ok: function(){
                        InitData(1);
                    },
                    cancelVal:"查看已预订课程",
                    cancel:function(){
                        window.location.href="/MyCourse/MyCourseList";
                    }
                });
            }
            else
            {
                art.dialog.tips(data.content, 3);
            }
        });
    }

    function View(id) {//详情
        window.location.href = "/CourseLearn/CourseDetail/" + id;
    }

    function ViewCPA(id) {//详情
        window.location.href = "/CourseManage/CourseCPADetialForLearn/" + id;
    }

    function SubscribeCPA(courseid) {//预订
        $.getJSON("/CourseLearn/SubscribeCPA?courseId=" + courseid, function (data) {
           
            if (data.result == 1) {
                InitDataCPA(data.indexpage);
                art.dialog({
                    content: data.content+"你可以进行以下操作",
                    okVal:"继续预订课程",
                    ok: function(){
                        InitData(1);
                    },
                    cancelVal:"查看已预订课程",
                    cancel:function(){
                        window.location.href="/MyCourse/CPACourseList";
                    }
                });
            }
            else
            {
                art.dialog.tips(data.content, 3);
            }
            
        });
    }

</script>
