@model LiXinModels.Sys_ParamConfig
@{
    ViewBag.Title = "FreeOut";
    Layout = null;
}
<form id="form_FreeOut">

    <table class="tab-Form">
        <tbody>
            <tr>
                <td>选择时间：<input type="text" id="Ttime"  readonly="readonly" onclick="WdatePicker({ dateFmt: 'MM-dd',isShowClear:false })" class="valid"
                     value="@(Model == null ? "" : Model.ConfigValue.Split(';')[0].Split(',')[0])" />
                </td>
                <td>后入职的新员工免修
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="tScore"  name="tScore" type="text" value="@(Model == null ? "" : Model.ConfigValue.Split(';')[0].Split(',')[1])" />
                    所内学时
                </td>
            </tr>
            <tr>
                <td>选择时间：<input type="text" id="CpaTime"  readonly="readonly" onclick="WdatePicker({ dateFmt: 'MM-dd', isShowClear: false })" class="valid" 
                    value="@(Model == null ? "" : Model.ConfigValue.Split(';')[1].Split(',')[0])"/>
                </td>
                <td>后注册的注册会计师免修
               <input id="CpaScore" name="CpaScore" type="text" value="@(Model == null ? "" : Model.ConfigValue.Split(';')[1].Split(',')[1])" />
                    CPA学时
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tc">
                    <input type="submit" value="保存" class="btn" id="saveItem">
                </td>
            </tr>
        </tbody>
    </table>

</form>
<script>
    $(document).ready(function ()
    {

        if (@ViewBag.IsEdit==0)
        {
            $("#Ttime").attr("disabled",true);  
            $("#CpaTime").attr("disabled",true);  
            $("#tScore").attr("disabled",true);  
            $("#CpaScore").attr("disabled",true);  
            $("#saveItem").attr("disabled",true);  
        }

        jQuery.validator.addMethod("checkNumber", function (value, element)
        {
            var reg=/^\d+[\.]?\d{0,2}$/;
            return this.optional(element) || (reg.test(value));
        }, $.validator.format("输入保留2位小数！"));

        $("#form_FreeOut").validate(
            {
                errorPlacement: function (error, element)
                {
                    error.insertAfter(element);
                },
                debug: true,
                submitHandler: SaveFreeOut,
                event: "blur",
                rules: {
                    CpaScore: { checkNumber: true,min: 0,max:999  },
                    tScore: { checkNumber: true,min: 0,max:999 },
                    Memo:{maxlength:200}
                },
                messages: {
                    Memo: { maxlength: "上传文件提示最大为50个字符" },
                    CpaScore: {min: "请输入大于等于0的数",max:"请输入小于等于999的数"},
                    tScore: { min: "请输入大于等于0的数",max:"请输入小于等于999的数"}
                }
            });
    });
    function SaveFreeOut()
    {
        var configValue = $("#Ttime").val() + "," + ($("#tScore").val() == "" ? "0" : $("#tScore").val())
            + ";" + $("#CpaTime").val() + "," + ($("#CpaScore").val() == "" ? "0" : $("#CpaScore").val())
        $.post("/ParamConfig/AddConfig?configType=63&configValue=" + configValue+"&year=@ViewBag.year", function (data)
        {
            if (data.result == 1)
            {
                art.dialog({ title: '提示', content: '配置成功', width: 200, height: 50, fixed: true, lock: true, time: 3, close: function () { } });
            }
            else
            {
                art.dialog({ title: '提示', content: '配置失败', width: 200, height: 50, fixed: true, lock: true, time: 3, close: function () { } });
            }
        });
    }
</script>
