@using LiXinLanguage
@using LiXinModels.DepCourseManage
@model LiXinModels.DepCourseManage.Dep_Course
@{  
    ViewBag.Title =ViewBag.backFrom == 1 ?NavigateMenuLanguage.OpenOthersDepCourseTogetherDetial: NavigateMenuLanguage.DepCourseTogetherDetial;
    var showAfter = 0;
}
<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new { linkName = ViewBag.backFrom == 1 ? "OpenOthersDepCourseTogetherDetial" : "DepCourseTogetherDetial" }))
    <div class="course-top">
        <div class="pic">
            <img src="/Images/course-pic.jpg">
        </div>
        <div class="info">
            <h3 class="ovh" title="@Model.CourseName">@Model.CourseName</h3>
            <table class="tab-Form tab-now">
                <tr>
                    <td class="Tit">
                        授课讲师：
                    </td>
                    <td>
                        <strong>@Model.TeacherName</strong>
                    </td>
                    <td class="Tit">
                        课程开放级别：
                    </td>
                    <td>
                        <strong>@Model.OpenLevel</strong>
                    </td>
                    <td class="Tit">
                        课程状态：
                    </td>
                    <td class="c_col">
                        <strong>@(Model.Publishflag == 1 ? Model.StatusShow : "未发布")</strong>
                    </td>
                </tr>
                <tr>
                    <td class="Tit">
                        课程学时：
                    </td>
                    <td>
                        <strong>@Model.CourseLength</strong>
                    </td>
                    <td class="Tit">
                        开课时间：
                    </td>
                    <td class="c_col" colspan="3">
                        <strong>@Model.StartTime.ToString("yyyy-MM-dd HH:mm") - @Model.EndTime.ToString("yyyy-MM-dd HH:mm")</strong>
                    </td>
                </tr>
                <tr>
                    <td class="Tit">
                        开课方式：
                    </td>
                    <td>
                        <strong>@Model.IsOpenOthersShow</strong>
                    </td>
                    <td class="Tit">
                        主办部门：
                    </td>
                    <td colspan="5">
                        <strong>@Model.DeptName</strong>
                    </td>
                    <td>
                        @if (Model.IsCheck==1)
                        {
                           <input type="button" class="btn btn-co" value="审批" onclick="DoCheck(@Model.Id);"/>
                        }
                       
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="tab-bk mt10">
        <ul id="tags">
            <li id="tag0" class="On">课程详情</li>
            <li id="tag1">课后评估</li>
            <li id="tag2">在线测试</li>
        </ul>
    </div>
    <div id="div_course_courseInfor" class="course-de">
        <table class="tab-Form tab-now" id="div_course_detial">
            @if (ViewBag.isDeptFlag == 1)
            {
                <tr>
                    <td class="Tit">
                        课程类别：
                    </td>
                    <td>
                        <strong>@Model.SortStr</strong>
                    </td>
                </tr>
            }
            
            <tr>
                <td class="Tit">最大允许人数：</td>
                <td><strong>@Model.NumberLimited</strong></td>
            </tr>
            <tr>
                <td class="Tit">
                    是否允许直接退订：
                </td>
                <td>
                   @* <strong>@typeof(LiXinModels.Enums.IsLeave).GetEnumName(Model.IsLeave)</strong>*@
                    <strong>@(Model.IsLeave == 1?"否":"是")</strong>
                </td>
            </tr>
            <tr>
                <td class="Tit">
                    开课地点：
                </td>
                <td>
                    <strong>
                        @Model.RoomName
                    </strong>
                </td>
            </tr>
            <tr>
                <td class="Tit">
                    审批结果：
                </td>
                <td>
                    <strong>@Model.IsOpenOthersStr</strong>
                </td>
            </tr>
            <tr>
                <td class="Tit">
                    审批理由：
                </td>
                <td>
                    <strong>@Model.OpenReason</strong>
                </td>
            </tr>
            
        </table>
        <div class="oth">
            <h4>
                课程大纲：</h4>
            @if (!string.IsNullOrWhiteSpace(Model.Memo))
            {
                <div class="co-memo do_warp">@Html.Raw(Model.Memo)</div>	
            }
            else
            {
                <div>
                    暂无内容</div>
            }
            <h4>
                课程资源：</h4>
            <table class="tab-List">
                <thead>
                    <tr>
                        <th>
                            资源名称
                        </th>
                        <th>
                            资源大小
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.CourseResourceList != null && ((IEnumerable<Dep_CourseResource>)ViewBag.CourseResourceList).Count() > 0)
                    {

                        foreach (var item in (IEnumerable<Dep_CourseResource>)ViewBag.CourseResourceList)
                        {
                        <tr id="div_courseRes_@(item.Id)">
                            <td>@item.ResourceName
                            </td>
                            <td>@item.ResourceSize K
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2">
                                <div class="tc">
                                    暂无资源</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h4>
                课程附件：</h4>
            <table class="tab-List">
                <thead>
                    <tr>
                        <th>
                            附件名称
                        </th>
                        <th>
                            附件大小
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.CourseAttachList != null && ((IEnumerable<Dep_CourseResource>)ViewBag.CourseAttachList).Count() > 0)
                    {
                        foreach (var item in (IEnumerable<Dep_CourseResource>)ViewBag.CourseAttachList)
                        {
                        <tr id="div_courseAttach_@(item.Id)">
                            <td>@item.ResourceName
                            </td>
                            <td>@item.ResourceSize K
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
        	
                        <tr>
                            <td colspan="2">
                                <div class="tc">
                                    暂无附件</div>
                            </td>
                        </tr>
            
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="div_course_survey" style="display: none;">
        @if (Model.IsPing == 1)
        {
            <div class="tab-red">
                <ul id="tagAfterCourses">
                    @if (Model.AfterCourseAssess != null)
                    {
                        <li id="tagAfterCourse0" class="On" onclick="$(this).parent().find('li').removeClass('On');$(this).addClass('On');$('#divAfterCourse0').show();$('#divAfterCourse1').hide();">
                            课程评估<i></i></li>
                    }
                    @if (Model.AfterCourseTeacherExam != null)
                    {
                        <li id="tagAfterCourse1" onclick="$(this).parent().find('li').removeClass('On');$(this).addClass('On');$('#divAfterCourse1').show();$('#divAfterCourse0').hide();" @(Model.AfterCourseAssess != null ? "" : "class=On")>
                            讲师评估<i></i></li>
                    }
                </ul>
            </div>
                    if (Model.AfterCourseAssess != null)
                    {
                        showAfter = 1;
            <div id="divAfterCourse0" style="display: none">
                <table class="tab-Form">
                    <tr>
                        <td class="span6">
                            问卷标题：
                        </td>
                        <td>
                            <strong>@Model.AfterCourseAssess.ExamTitle</strong>
                        </td>
                        <td class="span6">
                            问卷分类：
                        </td>
                        <td>
                            <strong>@Model.AfterCourseAssess.ExamTypeShow</strong>
                        </td>
                        <td class="span6">
                            所属分类：
                        </td>
                        <td>
                            <strong>@Model.AfterCourseAssess.CategoryName</strong>
                        </td>
                    </tr>
                </table>
                <div class="sur-do">
                    @{
                        foreach (var Question in Model.AfterCourseAssess.Questions)
                        {
                        <div id="QuestionID@(Question.QuestionID)" class="list">
                            <input type="hidden" class="questionid" name="@(Question.QuestionType)" value="@(Question.QuestionID)" ExampaperID="@(Question.ExampaperID)"/>
                            <div class="tit">
                                <span>@(Question.QuestionOrder). </span>@(Question.QuestionContentNoHtml)
                            </div>
                            @{
                            if (Question.QuestionType == 2)
                            {
                                <div class='sortpayGrade ml35'>@Html.Raw(Question.LinkSortPayGradeNoClick)</div> 
                            }
                            }
                            @{  switch (Question.QuestionType)
                                {
                                    //单选题
                                    case 0:
                                        {
                                            int count = 0;

                                            foreach (var s in Question.Answers)
                                            {
                                <p>
                                    <input type="radio" disabled="disabled" /><label>@((char)(65 + count)). @s.AnswerContentNohtml</label>
                                </p>
                                                count++;
                                            }
                                        }
                                <div class="why">
                                    <span>理由：</span><input name="singReplay" type="text" disabled="disabled" />
                                </div>
                                        break;
                                    //多选题
                                    case 1:
                                        {
                                            int count = 0;

                                            foreach (var s in Question.Answers)
                                            {
                                <p>
                                    <input type="checkbox" disabled="disabled" /><label>@((char)(65 + count)). @s.AnswerContentNohtml</label>
                                </p>
                                                count++;
                                            }
                                        }
                                <div class="why">
                                    <span>理由：</span><input name="muiltReplay" type="text" disabled="disabled" />
                                </div>
                                        break;
                                    //主观题
                                    case 2:
                                <p>
                                    <textarea disabled="disabled" style="width: 338px; height: 104px;">@(Question.Answers.Count > 0 ? Question.Answers[0].AnswerContentNohtml : "")</textarea>
                                </p> 
                                        break;
                                    case 3:
                                <input type="hidden" class="xp" />
                                <div id='divScore_@(Question.QuestionOrder)' class="ml35 ">
                                </div>
                                <div class="why mt5">
                                    <span>理由：</span><input name="xingPReplay" type="text" disabled="disabled" />
                                </div>
                                        break;
                                }
                            }
                        </div>
                        }   
                    }
                </div>
            </div>
                    }
                    if (Model.AfterCourseTeacherExam != null)
                    {
                        showAfter = 2;
                        if (Model.AfterCourseAssess != null)
                        {
                            showAfter = 3;
                        }
            <div id="divAfterCourse1" style="display: none">
                <table class="tab-Form">
                    <tr>
                        <td class="span6">
                            问卷标题：
                        </td>
                        <td>
                            <strong>@Model.AfterCourseTeacherExam.ExamTitle</strong>
                        </td>
                        <td class="span6">
                            问卷分类：
                        </td>
                        <td>
                            <strong>@Model.AfterCourseTeacherExam.ExamTypeShow</strong>
                        </td>
                        <td class="span6">
                            所属分类：
                        </td>
                        <td>
                            <strong>@Model.AfterCourseTeacherExam.CategoryName</strong>
                        </td>
                    </tr>
                </table>
                <div class="sur-do">
                    @{
                        foreach (var Question in Model.AfterCourseTeacherExam.Questions)
                        {
                        <div id="QuestionID@(Question.QuestionID)" class="list">
                            <input type="hidden" class="questionid" name="@(Question.QuestionType)" value="@(Question.QuestionID)" ExampaperID="@(Question.ExampaperID)"/>
                            <div class="tit">
                                <span>@(Question.QuestionOrder). </span>@(Question.QuestionContentNoHtml)
                            </div>
                            @{
                            if (Question.QuestionType == 2)
                            {
                                <div class='sortpayGrade ml35'>@Html.Raw(Question.LinkSortPayGradeNoClick)</div> 
                            }
                            }
                            @{  switch (Question.QuestionType)
                                {
                                    //单选题
                                    case 0:
                                        {
                                            int count = 0;

                                            foreach (var s in Question.Answers)
                                            {
                                <p>
                                    <input type="radio" disabled="disabled" /><label>@((char)(65 + count)). @s.AnswerContentNohtml</label>
                                </p>
                                                count++;
                                            }
                                        }
                                <div class="why">
                                    <span>理由：</span><input name="singReplay" type="text" disabled="disabled" />
                                </div>
                                        break;
                                    //多选题
                                    case 1:
                                        {
                                            int count = 0;

                                            foreach (var s in Question.Answers)
                                            {
                                <p>
                                    <input type="checkbox" disabled="disabled" /><label>@((char)(65 + count)). @s.AnswerContentNohtml</label>
                                </p>
                                                count++;
                                            }
                                        }
                                <div class="why">
                                    <span>理由：</span><input name="muiltReplay" type="text" disabled="disabled" />
                                </div>
                                        break;
                                    //主观题
                                    case 2:
                                <p>
                                    <textarea disabled="disabled" style="width: 338px; height: 104px;">@(Question.Answers.Count > 0 ? Question.Answers[0].AnswerContentNohtml : "")</textarea>
                                </p> 
                                        break;
                                    case 3:
                                <input type="hidden" class="xp" />
                                <div id='divScore_@(Question.QuestionOrder)' class="ml35 ">
                                </div>
                                <div class="why mt5">
                                    <span>理由：</span><input name="xingPReplay" type="text" disabled="disabled" />
                                </div>
                                        break;
                                }
                            }
                        </div>
                        }   
                    }
                </div>
            </div>
                    }
        }
    </div>
    <div id="div_course_paper" style="display: none;">
        @if (Model.IsTest == 1)
        {
            <table class="tab-List">
                <thead>
                    <tr>
                        <th>
                            试卷名称
                        </th>
                        <th>
                            考试时长
                        </th>
                        <th>
                            考试时间
                        </th>
                        <th>
                            通过线
                        </th>
                        <th>
                            试卷总分
                        </th>
                        <th>
                            最大考试次数
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@(ViewBag.PaperName)
                        </td>
                        <td>@(ViewBag.CoursePaper.Length)
                        </td>
                        <td>
                            课程结束后@(ViewBag.CoursePaper.Hour)小时
                        </td>
                        <td>@(ViewBag.CoursePaper.LevelScore)%
                        </td>
                        <td>@(ViewBag.PaperTotalScore)
                        </td>
                        <td>@(ViewBag.CoursePaper.TestTimes)
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <center class="mt20">
        @if (ViewBag.backFrom == 1)
        {
            <a href="/DepCourseOpenOthersCheck/DepCourseOpenOthersList?p=1&isDeptFlag=@ViewBag.isDeptFlag" class="btn btn-cancel">返回</a>
        }
        else
        {
            <a href="/DepCourseOpenOthersCheck/DepCourseOpenOthersCheck?p=1" class="btn btn-cancel">返回</a>
        }
        
    </center>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tags li").bind("click", function () {
            var index = $(this).index();
            $("#tags li").removeClass("On");
            $("#tags #tag" + index).addClass("On");
            $("#div_course_courseInfor,#div_course_survey,#div_course_paper").hide();
            switch (index) {
                case 0:
                    $("#div_course_courseInfor").show();
                    break;
                case 1:
                    $("#div_course_survey").show();
                    break;
                case 2:
                    $("#div_course_paper").show();
                    break;
            }
        });

        if ("@showAfter" == "1" || "@showAfter" == "3") {
            $("#divAfterCourse0").show();
        }
        if ("@showAfter" == "2") {
            $("#divAfterCourse1").show();
        }
    });

    //审批
    function DoCheck(id) {
        if (id == "") {
            art.dialog.tips("请选择课程！", 3);
            return;
        }
        art.dialog.load("/DepCourseOpenOthersCheck/DoCheck?depCourseId=" + id+"&type=1",
            {
                title: '审批',
                id: 'art_DoCheck',
                width: 300
            });
    }

</script>
