@using LiXinLanguage
@{
    ViewBag.Title = "部门课程开放至全所审批";
    var start = Request.QueryString["s"] ?? "";
}
<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new { linkName = "DepCourseOpenOthersCheck" }))
    
    <div class="so-set">
        <table class="tab-Form">
            <tr>
                <td class="Tit span6">课程名称：
                </td>
                <td class="span17">
                    <input type="text" id="txt_CourseName" value="请输入搜索内容" info="" class="Box span16 searchclass" />
                </td>
               
                <td class="Tit span6">开课时间：
                </td>
                <td colspan="3">
                    <div class="time-choose">
                        <input type="text" id="txt_StartTime" value="@(start == "" ? "" : Convert.ToDateTime(start).ToString("yyyy-MM-dd HH:mm"))"
                         readonly="readonly" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', maxDate: '#F{$dp.$D(\'txt_EndTime\',{m:-1})}' })  "/>
                        <i></i>
                    </div>
                    至
                    <div class="time-choose">
                        <input type="text" id="txt_EndTime" value="@(start == "" ? "" : Convert.ToDateTime(start).AddDays(1).ToString("yyyy-MM-dd HH:mm"))"
                         readonly="readonly" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', minDate: '#F{$dp.$D(\'txt_StartTime\',{m:1})}' })"/>
                        <i></i>
                    </div>
                </td>
                
            </tr>
            <tr>
                <td class="Tit span6">提交人：
                </td>
                <td class="span17">
                    <input type="text" id="txt_OpenUserName" value="请输入搜索内容" info="" class="Box span16 searchclass" />
                </td>
                <td class="Tit span6">讲师：
                </td>
                <td class="span17">
                    <input type="text" id="txt_TeacherName" value="请输入搜索内容" info="" class="Box span16 searchclass" />
                </td>
                <td class="Tit span6">
                    审批状态：
                </td>
                <td class="span17">
                    <select id="selIsOpenOthers">
                    <option value="-1">审批状态</option>
                    <option value="1">待审批</option>
                    <option value="2">审批通过</option>
                    <option value="3">审批拒绝</option>
                </select>
                </td>
                <td class="so-do">
                    <input type="button" value="查询" id="btn_Select" class="btn" />
                </td>
            </tr>
        </table>
    </div>
    
    <table class="tab-List mt10">
        <thead>
            <tr>
                <th class="span4">序号</th>
                <th class="span10">课程名称</th>
                <th class="span5" >学时</th>
                <th class="span7" jsrendersortfield="bb_yxt.IsOrder" sort="desc">选/必修</th>
                <th class="span14" jsrendersortfield="bb_yxt.StartTime" sort="desc">开课时间</th>
                <th class="span8">开设课次<br/>/总课次</th>
                <th class="span7">讲师</th>
                <th class="span8">授课地点</th>
                <th class="span7">计划内/外</th>
                <th class="span7">提交人</th>
                <th class="span8">提交部门</th>
                <th class="span7">审批状态</th>
                <th class="span7">审批人</th>
                 <th class="span8" jsrendersortfield="bb_yxt.ApprovalTime" sort="desc">审批时间</th>
                <th class="span8">操作</th>
            </tr>
        </thead>
        <tbody id="Courstlist">
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>

<script id="CourseListTemplate" type="text/x-jsrender">
        {{for #data}}
        <tr>
            <td>
            {{:#index+1}}
            </td>
            <td class="tl">
                <div class="ovh span10" title="{{>CourseName}}">{{>CourseName}}</div>
            </td>
            <td>
                {{:CourseLength}}
            </td>
            <td>
                {{:IsMustStr}}
            </td>
            <td class="f11 tl" >
                {{:TeacherCourseTime}} 
            </td>
            <td>
               {{:CourseTimesOrder}}/{{:CourseTimes}}
             </td>
            <td>
                {{>TeacherName}}
            </td>             
             <td>
                <div class="ovh span8" title="{{>RoomName}}">{{>RoomName}}</div>
            </td>  
            <td>{{:IsPlanStr}}</td>
             <td>
                {{>OpenUserName}}
            </td>  
            <td>
            <div class="ovh span8" title="{{>DeptName}}">{{>DeptName}}</div>
            </td>  
            <td>                
                {{:IsOpenOthersStr}}
            </td>  
            <td>
                {{>ApprovalUserNameStr}}
            </td>  
            <td>
                {{:ApprovalTimeStr}}
            </td>  
            <td>       
                {{if IsCheck==1}}
                    <a onclick="DoCheck({{:Id}})" class="icon icheck" title="审批"></a> 
                {{else}}
                    <a class="icon icheck idis" title="审批" disabled="disabled"></a>
                {{/if}}
              
              <a href="/DepCourseOpenOthersCheck/DepCourseTogetherDetial?depCourseId={{:Id}}" title="查看详情" class="icon iview"></a>             
            </td>
        </tr> 
        {{/for}}
</script>

<script type="text/javascript">

    $(document).ready(function (e)
    {
        initSearch();

        $("#txt_CourseName").val('@(ViewBag.Attname)');
        $("#txt_TeacherName").val('@(ViewBag.Atttea)');
        $("#txt_OpenUserName").val('@(ViewBag.Attopenusername)');

        if ("@(ViewBag.AttstartTime)" != "")
        {
            $("#txt_StartTime").val('@(ViewBag.AttstartTime)');
        }
        if ("@(ViewBag.AttendTime)" != "")
        {
            $("#txt_EndTime").val('@(ViewBag.AttendTime)');
        }
        $("#selIsOpenOthers").val('@(ViewBag.Attisopenothers)');
        InitData(@(ViewBag.page)); //加载

       
        $("#btn_Select").click(function ()
        {
            InitData(1);
        });
        $("#selIsOpenOthers").change(function ()
        {
            InitData(1);
        });
    });

    function geturl()
    {
        return '/DepCourseOpenOthersCheck/GetDepCourseOpenOthersCheckList?'
            + "courseName=" + escape(getSearchWord("txt_CourseName"))
                + "&teacherName=" + escape(getSearchWord('txt_TeacherName'))
                    + "&openUserName=" + escape(getSearchWord('txt_OpenUserName'))
                        + "&isOpenOthers=" + $("#selIsOpenOthers").val()
                            + "&startTime=" + $("#txt_StartTime").val()
                                + "&endTime=" + $("#txt_EndTime").val();
    }

    function InitData(page)
    {
        $("#Courstlist").JsRenderData({
            sourceUrl: geturl(),
            isPage: true,
            pageSize: 10,
            pageIndex: page,
            jsRenderSortField: "bb_yxt.StartTime",
            jsRenderASC: "desc",
            templateID: "CourseListTemplate"
        });
    }
    
     //审批
    function DoCheck(id) {
        if (id == "") {
            art.dialog.tips("请选择课程！", 3);
            return;
        }
        art.dialog.load("/DepCourseOpenOthersCheck/DoCheck?depCourseId=" + id + "&type=0",
            {
                title: '审批',
                id: 'art_DoCheck',
                width: 300
            });
    }
</script>

