@{
    ViewBag.Title = "CourseCommonList";
    Layout = null;
}
<div id="div_Search" class="so-set">
    <table class="tab-Form">
        <tr>
            <td class="Tit span6">课程名称：</td>
            <td class="span33"><input type="text" id="txtCourseName" class="span30 searchclass" value="请输入搜索内容" info="" /></td>
            <td class="Tit span8">选/必修：</td>
            <td>
                <div class="sel">
                    <input type="checkbox" name="popIsMust" id="chbIsMust0" value="1" /><label>选修</label>
                    <input type="checkbox" name="popIsMust" id="chbIsMust1" value="0" /><label>必修</label>
                </div>
            </td>
            <td class="Tit">框架内/外：</td>
            <td>
                <div class="sel">
                    <input type="checkbox" name="popIsSystem" value="1" /><label>内</label>
                    <input type="checkbox" name="popIsSystem" value="0" /><label>外</label>
                </div>
            </td>
            <td class="so-do" rowspan="2">
                <input class="btn" type="button" value="搜索" id="btnSearch" onclick=" fnSearch(); " />
                <a href="EditCourseVideo" class="btn btn-co">课程开设</a>
            </td>
        </tr>
        <tr>
            <td class="Tit">开课时间：</td>
            <td>
                <div class="time-choose">
                    <input type="text" readonly="readonly" onclick=" WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', maxDate: '#F{$dp.$D(\'txt_EndTime\',{m:-1})}' }) "
                    name="StartTime" id="txt_StartTime" value="" />
                    <i></i>
                </div>
                至
                <div class="time-choose">
                    <input type="text" name="EndTime" readonly="readonly" onclick=" WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', minDate: '#F{$dp.$D(\'txt_StartTime\',{m:1})}' }) "
                    id="txt_EndTime" value="" />
                    <i></i>
                </div>
            </td>
            <td class="Tit">是否折算CPA学时：</td>
            <td>
                <div class="sel">
                    <input type="checkbox" name="popIsCPA" id="chbIsCPA1" value="1" /><label>是</label>
                    <input type="checkbox" name="popIsCPA" id="chbIsCPA0" value="0" /><label>否</label>
                </div>
            </td>
            <td class="Tit">计划内/外：</td>
            <td>
                <div class="sel">
                    <input type="checkbox" name="popIsYear" value="1" /><label>内</label>
                    <input type="checkbox" name="popIsYear" value="0" /><label>外</label>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="so-seq">
    <select onchange="fnSearch()" id="sle_Sort">
        <option value="-1">请选择课程类别</option>
        <option value="1">内部培训</option>
        <option value="2">社会招聘</option>
        <option value="3">新进员工</option>
        <option value="4">实习生</option>
    </select>
</div>


<div id="Content" class="mt10">
    <table class="tab-List">
        <thead>
            <tr>
                <th class="span4">序号</th>
                <th>课程名称</th>
                <th>学时</th>
                <th class="span8" jsrendersortfield="IsMust" sort="desc">选/必修</th>
                <th class="span12" jsrendersortfield="StartTime" sort="desc">开课时间</th>
                <th class="span12">课程类别</th>
                <th class="span8">讲师</th>
                <th class="span12">是否折算CPA学时</th>
                <th class="span7">框架内/外</th>
                <th class="span7">计划内/外</th>
                <th class="span12">操作</th>
            </tr>
        </thead>
        <tbody id="tbCourseVideoList">
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
<script id="courseListTemplate" type="text/x-jsrender">
   {{for #data}}
        <tr>
             <td>{{:#index+1}}</td>
             <td><div class="ovh tl span20" title="{{:CourseName}}">{{:CourseName}}</div></td>
             <td>{{:CourseLength}}</td>
             <td>{{:IsMust}}</td>
             <td><div class="f11 tl">{{:StartTime}} - {{:EndTime}}</div></td>
             <td><div class="ovh tl span12" title="{{:SortStr}}">{{:SortStr}}</div></td>
             <td><div class="ovh tl span8" title="{{:TeacherName}}">{{:TeacherName}}</div></td>
             <td>{{:IsCPA}}</td>
             <td>{{:IsSystem}}</td>
             <td>{{:IsYearPlan}}</td>
                <td>
                  <a onclick="fnCourseDetial({{:Id}})" class="icon iview" title="查看详情"></a>
                    {{if CourseState==1||Publishflag==0}} 
                        <a onclick="fnModifyCourse({{:Id}},{{:Publishflag}})" class="icon iedit" title="编辑"></a>
                    {{/if}}
                    {{if CourseState!=1&&Publishflag==1}}
                          <span class="icon iedit idis" title="编辑"></span>
                    {{/if}}
                 {{if Publishflag==0 }}
                    <a onclick="fnDeleteCourse({{:Id}})" class="icon idel" title="删除"></a>
                    <a onclick="fnPublishCourse({{:Id}})" class="icon ipub" title="发布"></a>
                 {{/if}}
                 {{if Publishflag==1}}
                    <span class="icon idel idis" title="删除"></span>
                    <span class="icon ipub idis" title="发布"></span>
                 {{/if}} 
        </tr>
   {{/for}}
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //初始化查询条件
        initSearch();
        $("#txtCourseName").val('@(ViewBag.Attname)');
        if("@(ViewBag.Attmust)"!=""){
            if('@(ViewBag.Attmust)'.indexOf(",")>-1){
                var strmust='@(ViewBag.Attmust)'.split(",");
                $.each(strmust, function(index,callback){$('input[name="popIsMust"][value="'+strmust[index]+'"]').attr('checked',true);});
            }else{
                $('input[name="popIsMust"][value="@(ViewBag.Attmust)"]').attr('checked',true);
            }
        }

        if("@(ViewBag.Attcpa)"!=""){
            if('@(ViewBag.Attcpa)'.indexOf(",")>-1){
                var strcpa='@(ViewBag.Attcpa)'.split(",");
                $.each(strcpa, function(index,callback){$('input[name="popIsCPA"][value="'+strcpa[index]+'"]').attr('checked',true);});
            }else{
                $('input[name="popIsCPA"][value="@(ViewBag.Attcpa)"]').attr('checked',true);
            }
        }

        if("@(ViewBag.AttisSys)"!=""){
            if('@(ViewBag.AttisSys)'.indexOf(",")>-1){
                var strsys='@(ViewBag.AttisSys)'.split(",");
                $.each(strsys, function(index,callback){$('input[name="popIsSystem"][value="'+strsys[index]+'"]').attr('checked',true);});
            }else{
                $('input[name="popIsSystem"][value="@(ViewBag.AttisSys)"]').attr('checked',true);
            }
        }

        if("@(ViewBag.AttisYear)"!=""){
            if('@(ViewBag.AttisYear)'.indexOf(",")>-1){
                var stryear='@(ViewBag.AttisYear)'.split(",");
                $.each(stryear, function(index,callback){$('input[name="popIsYear"][value="'+stryear[index]+'"]').attr('checked',true);});
            }else{
                $('input[name="popIsYear"][value="@(ViewBag.AttisYear)"]').attr('checked',true);
            }
        }
        
        if("@(ViewBag.AttstartTime)"!=""){
            $("#txt_StartTime").val('@(ViewBag.AttstartTime)');
        }
        if("@(ViewBag.AttendTime)"!=""){
            $("#txt_EndTime").val('@(ViewBag.AttendTime)');
        }
        $("#sle_Sort").val('@(ViewBag.AttSort)');
        fnGetCourseList(@(ViewBag.page));
    });

    function fnGetCourseList(page) {
        $("#tbCourseVideoList").JsRenderData({
            sourceUrl: GetPopParameters(),
            isPage: true,
            pageSize: 10,
            pageIndex: page,
            jsRenderSortField: "LastUpdateTime",
            jsRenderASC: "desc",
            templateID: "courseListTemplate",
            funCallback: function () { }
        });
    }

    function GetPopParameters() {
        var isSys = "";
        $("input[name='popIsSystem']").each(function () {
            if ($(this).attr("checked") == "checked") {
                isSys = isSys == "" ? $(this).val() : isSys + "," + $(this).val();
            }
        });

        var isYear = "";
        $("input[name='popIsYear']").each(function () {
            if ($(this).attr("checked") == "checked") {
                isYear = isYear == "" ? $(this).val() : isYear + "," + $(this).val();
            }
        });

        var isMust = "";
        $("input[name='popIsMust']").each(function () {
            if ($(this).attr("checked") == "checked") {
                isMust = isMust == "" ? $(this).val() : isMust + "," + $(this).val();
            }
        });
        var isCPA = "";
        $("input[name='popIsCPA']").each(function () {
            if ($(this).attr("checked") == "checked") {
                isCPA = isCPA == "" ? $(this).val() : isCPA + "," + $(this).val();
            }
        });
        
        var url = "/CourseManage/GetCourseVideoList?t=" + new Date();
        url += "&courseName=" + escape(getSearchWord("txtCourseName")) + "&StartTime=" + $("#txt_StartTime").val() + "&EndTime=" + $("#txt_EndTime").val() + "&Sort=" + $("#sle_Sort").val() + "&isSys=" + isSys + "&isYear=" + isYear+ "&IsMust="+isMust+"&IsCPA="+isCPA;
        
        if ($("#pop_txtchooseId").val() != 0) {
            url += "&systemId=" + $("#pop_txtchooseId").val();
        }
        return url;

    }
    function fnSearch() {
        fnGetCourseList(1);
    }

    function fnModifyCourse(Id, Publishflag)
    {
        //        if (way==1) {
        window.location.href = '/CourseManage/EditCourseVideo?Id=' + Id + "&Publishflag=" + Publishflag;
        //        }
    }
    function fnDeleteCourse(Id) {
        art.dialog({
            lock: false,
            content: "确定要删除该课程吗？",
            ok: function () {
                $.post("/CourseManage/SubmitModifySingleCourse?flag=0&cl=v&courseId=" + Id, function (data) {
                    art.dialog.tips(data.content, 3, function () {
                        //                        alert(1);
                        if (data.result == 1) {
                            fnGetCourseList(data.indexpage);
                        }
                    });


                });
            },
            cancel: function () {
                return;
            }
        });
    }

    function fnCourseDetial(Id) {
        window.location.href = '/CourseManage/CourseVideoDetial/' + Id;
    }
    function fnPublishCourse(Id) {
        $.post("/CourseManage/SubmitModifySingleCourse?flag=1&cl=v&courseId=" + Id, function (data) {
            art.dialog.tips(data.content, 3);
            if (data.result == 1) {
                fnGetCourseList(data.indexpage);
            }

        });
    }

   
</script>
