@using LiXinLanguage
@using LiXinModels.CourseManage
@{
    ViewBag.Title = "转播考勤详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fromflag = Request.QueryString["fromflag"] ?? "0";
}
<div class="main-c">
@(Html.Action("SiteMapLink", "Common", new { linkName = "DepTranAttendceDetail" }))
<div class="clb">
    <div class="tab-bk mt10">
        <ul id="tags">
            <li id="tag0" class="On">考勤管理</li>
            <li id="tag1">审批记录</li>
        </ul>
    </div>
    <div id="attRecord" style="display: none;">
    <table class="tab-List mt10">
        <thead>
            <tr>
                <th class="span8">序号</th>
                <th class="span12">提交人</th>
                <th class="span20">提交时间</th>
                <th class="span12">审批人</th>
                <th class="span20">审批时间</th>
                <th class="span10">审批状态</th>
                <th>审批原因</th>
            </tr>
        </thead>
        <tbody id="DeptAttRecordList"></tbody>
        <tfoot></tfoot>
    </table>
    </div>
    <div id="attUser">
    <table id="attdetail" class="tab-Form">
        <tr>
            <td class="Tit span10">考勤人数：</td><td><strong id="actual">0</strong></td>
            <td class="Tit span10">报名人数：</td><td><strong id="Ordersum">0</strong></td>
        </tr>
    </table>
    <div id="Search" class="so-set mt10">
        <table class="tab-Form">
            <tr>
                <td class="Tit span4">姓名：</td>
                <td class="span11"><input type="text" class="span10 searchclass" id="Username" value="请输入搜索内容" info="" /></td>
                <td class="so-do"><input type="button" value="查询" class="btn" id="ibtnSearch" onclick="stateChange();" /></td>
            </tr>
        </table>
    </div>
    <div class="so-seq">
        <select id="Atttype" name="Atttype" onchange="stateChange();">
            <option value="-1">考勤状态</option>
            <option value="0">待考勤</option>
            <option value="1">正常</option>
            <option value="2">缺勤</option>
            <option value="3">迟到</option>
            <option value="4">早退</option>
            <option value="5">迟到且早退</option>
        </select>
        <div class="list-do">
            <a id="btnuser">添加人员</a>
            <a id="btninput">导入考勤表</a>
            <a id="btnfile">上传考勤附件</a>
            <a id="btnatt">批量考勤</a>
            <a id="btnend">提交考勤</a>
        </div>
    </div>
    <table class="tab-List mt10">
        <thead>
            <tr>
                <th class="span4"><input id="selAll" type="checkbox" /></th>
                <th class="span4">序号</th>
                <th class="span8">姓名</th>
                <th>部门/分所</th>
                <th class="span8">是否预订</th>
                <th class="span10">考勤状态</th>
                <th class="span4">操作</th>
            </tr>
        </thead>
        <tbody id="DeptAttendceList"></tbody>
        <tfoot></tfoot>
    </table>
    </div>
    <div class="mt10 tc">
        <input type="button" id="btnback" class="btn btn-cancel" value="返回" />
    </div>
</div>
</div>
<input type="hidden" id="AllUserID" name="AllUserID" />
<input type="hidden" id="seldept" value="@(ViewBag.did)" />
<input type="hidden" id="SuFlag" value="@(ViewBag.flag)" />
<script id="DeptAttendceTemplate" type="text/x-jsrender">
   {{for #data}}
    <tr>
        <td class="tl">
        {{if AttFlag==0}}
            <input id="{{:UserId}}" type="checkbox" name="checkatt" value="{{:UserId}}_{{:DepartSetId}}" />
        {{/if}}
        </td>
        <td class="tc">{{:#index+1}}</td>
        <td class="tc" id="user{{:UserId}}">{{:Realname}}</td>
        <td class="tl" id="dep{{:UserId}}"><div class="tl span45" title="{{:DeptName}}">{{:DeptName}}</div></td>
        <td class="tc">{{:OrderStatus ==1?"是":"否"}}</td>
        <td class="tc">{{:StatusStr}}</td>
        <td class="tc">
        {{if AttFlag==0}}
            <a title="考勤" onclick="EditDeptAttendce({{:CourseId}},{{:UserId}},{{:DepartSetId}},{{:Status}});" class="icon iatt-in"></a>
        {{/if}}
        </td>
    </tr>
   {{/for}}
</script>
<script id="DeptAttRecordTemplate" type="text/x-jsrender">
   {{for #data}}
    <tr>
        <td>{{:#index+1}}</td>
        <td>{{:SubmitRealname}}</td>
        <td>{{:SubmitTimeStr}}</td>
        <td>{{:Realname}}</td>
        <td>{{:ApprovalTimeStr}}</td>
        <td>{{:ApprovalFlag ==1?"审批通过":"审批拒绝"}}</td>
        <td><div class="ovh tl span20" title="{{:Reason}}">{{:Reason}}</div></td>
    </tr>
   {{/for}}
</script>
<script type="text/javascript">
    $(document).ready(function () {
        initSearch();
        InitList(getUrl());

        $("#tags li").bind("click", function () {
            var index = $(this).index();
            $("#tags li").removeClass("On");
            $("#tags #tag" + index).addClass("On");
            $("#attRecord,#attUser").hide();
            switch (index) {
                case 0:
                    $("#attUser").show();
                    $("#attRecord").hide();
                    InitList(getUrl());
                    break;
                case 1:
                    $("#attRecord").show();
                    $("#attUser").hide();
                    InitRecordList();
                    break;
            }
        });

        //返回
        $("#btnback").bind("click", function () {
            if('@(fromflag)'=='1') {
                window.location.href = "/Home/DepManageIndex";
            }else {
                window.location.href = "/DepTranAttendce/DepTranAttendceList?t=" + new Date();
            }
        });

        //添加人员
        $("#btnuser").bind("click", function() {
        if($("#SuFlag").val()==0){
            art.dialog.load("/DepTranAttendce/SelectUser?pageSize=10&id=@(ViewBag.cid)&did="+$("#seldept").val()+"&t=" + new Date(), { title: "人员选择", id: "selUser" });
            }else{
                art.dialog.tips("上报截止时间已过，不能进行操作", 3);
            }
        });

        //导入
        $("#btninput").bind("click", function () {
             if($("#SuFlag").val()==0){
            art.dialog.load("/DepTranAttendce/ImportDepTranAttend?id=@(ViewBag.cid)&did="+$("#seldept").val()+"&t="+new Date(), { title: "导入考勤", id: "Inputatt", width: 440});
            }else{
                art.dialog.tips("上报截止时间已过，不能进行操作", 3);
            }
        });

        //上传附件
        $("#btnfile").bind("click", function () {
        if($("#SuFlag").val()==0){
            art.dialog.load("/DepTranAttendce/UploadFile?id=@(ViewBag.cid)&did="+$("#seldept").val()+"&t="+new Date(), { title: "上传附件", id: "uploadfile",padding: 0});
            }else{
                art.dialog.tips("上报截止时间已过，不能进行操作", 3);
            }
        });

        //批量考勤
        $("#btnatt").bind("click", function () {
            if($("#SuFlag").val()==0){
            var flag = false;
            var check = document.getElementsByName("checkatt");
            var checkList = "";
            for (var i = 0; i < check.length; i++) {
                if (check[i].checked) {
                    checkList = checkList + check[i].value + ",";
                    flag = true;
                }
            }
            checkList = checkList.substring(0, checkList.length - 1);
            if (!flag) {
                art.dialog.tips("请选择人员", 3);
                return false;
            } else {
                art.dialog.load("/DepTranAttendce/AttendceStatus?cid=@(ViewBag.cid)&uid=0&did="+$("#seldept").val()+"&IsAttFlag=0&uids="+checkList+"&t="+new Date(), { title: "考勤", id: "AttendStatus", width: 200 });
            }
            }else{
                art.dialog.tips("上报截止时间已过，不能进行操作", 3);
            }
        });

        //考勤发布
        $("#btnend").bind("click", function () {
            if($("#SuFlag").val()==0){
                art.dialog({
                    content: "您确认提交考勤信息吗？一旦提交将不能进行任何改动",
                    ok: function () {
                        $.post("/DepTranAttendce/AttendEnd?t=" + new Date(), { courseid: @(ViewBag.cid),did:$("#seldept").val() }, function (data) {
                            if (data.result == 1) 
                            {
                                art.dialog.tips("提交成功",3);
                                InitList(getUrl());
                            }else if(data.result == 2){
                                art.dialog.tips("提交失败，存在待考勤的人员",3);
                            }
                            else {
                                art.dialog.tips("提交失败",3);
                            }
                        });
                    },
                    cancel: true
                });
            }else{
                art.dialog.tips("上报截止时间已过，不能进行操作", 3);
            }
        });
    });
    //审批记录
    function InitRecordList() {
        var templateId = 'DeptAttRecordTemplate';
        $("#DeptAttRecordList").JsRenderData({
            sourceUrl: "/DepTranAttendce/GetDeptAttendRecordList?id=@(ViewBag.cid)&deptId="+$("#seldept").val()+"&t=" + new Date(),
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: templateId,
            funCallback: function (data) {
            }
        });
    }

    //显示考勤人员列表
    function InitList(url) {
        var templateId = 'DeptAttendceTemplate';
        $("#DeptAttendceList").JsRenderData({
            sourceUrl: url,
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: templateId,
            funCallback: function (data) {
                SetCheckBox('selAll', 'DeptAttendceList');
                if (data.dataList.length != 0) {
                    $("#actual").html(data.dataList[0].AttCount);
                    $("#Ordersum").html(data.dataList[0].OrderCount);
                    if(data.dataList[0].AttFlag==1){
                        $("#btnuser").hide();
                        $("#btninput").hide();
                        $("#btnfile").hide();
                        $("#btnatt").hide();
                        $("#btnend").hide();
                    }else{
                        $("#btnuser").show();
                        $("#btninput").show();
                        $("#btnfile").show();
                        $("#btnatt").show();
                        $("#btnend").show();
                    }
                }else{
                    $("#btnend").hide();
                }
            }
        });
    }

    //相关的url
    function getUrl() {
        var url = "/DepTranAttendce/GetDeptAttendUserList?id=@(ViewBag.cid)&uname=" + escape(getSearchWord("Username")) + "&deptId="+$("#seldept").val()+"&AState=" + $("#Atttype").val() + "&t=" + new Date();
        return url;
    }

    function stateChange() {
        InitList(getUrl());
    }

    //考勤
    function EditDeptAttendce(cid,uid,did,isatt) {
    if($("#SuFlag").val()==0){
        art.dialog.load("/DepTranAttendce/AttendceStatus?cid="+cid+"&uid="+uid+"&did="+did+"&IsAttFlag="+isatt+"&uids=0&t="+new Date(), { title: "考勤", id: "AttendStatus", width: 200 });
        }else{
                art.dialog.tips("上报截止时间已过，不能进行操作", 3);
            }
    }

    //人员选择
    function GetUserIDList() {
        //var userIds = GetChecked('pop_userList');
        var userIds =$("#commonSelectedIdStr").val();
        if (userIds == "") {
            art.dialog.tips("请选择人员", 3);
            return;
        }
        
        $.post("/DepTranAttendce/SubmitUser?t=" + new Date(), { courseid: @(ViewBag.cid),userids:userIds }, function (data) {
            if (data.result == 1) 
            {
                art.dialog.tips("操作成功"+data.content+"条",3);
                InitList(getUrl());
            }
            else {
                art.dialog.tips("操作失败",3);
            }
        });
        art.dialog.list['selUser'].close(); 
    }
</script>

