@using LiXinLanguage
@{
    ViewBag.Title = "转播课程";
    var start = Request.QueryString["s"] ?? "";
    Layout = null;
}
<div class="main-c">
    @*@(Html.Action("SiteMapLink", "Common", new { linkName = "MyBroadcastList" }))*@
    
    <div class="so-set">
        <table class="tab-Form">
            <tr>
                <td class="Tit span6">课程名称：
                </td>
                <td class="span17">
                    <input type="text" id="txt_CourseName" value="请输入搜索内容" info="" class="Box span16 searchclass" />
                </td>
                <td class="Tit span6">讲师：
                </td>
                <td class="span17">
                    <input type="text" id="txt_TeacherName" value="请输入搜索内容" info="" class="Box span16 searchclass" />
                </td>
                <td class="Tit span6">开课时间：
                </td>
                <td>
                    <div class="time-choose">
                        <input type="text" id="txt_StartTime" value="@(start == "" ? "" : Convert.ToDateTime(start).ToString("yyyy-MM-dd HH:mm"))" readonly="readonly" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', maxDate: '#F{$dp.$D(\'txt_EndTime\',{m:-1})}' })  "/>
                        <i></i>
                    </div>
                    至
                    <div class="time-choose">
                        <input type="text" id="txt_EndTime" value="@(start == "" ? "" : Convert.ToDateTime(start).AddDays(1).ToString("yyyy-MM-dd HH:mm"))" readonly="readonly" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', minDate: '#F{$dp.$D(\'txt_StartTime\',{m:1})}' })"/>
                        <i></i>
                    </div>
                </td>
                <td class="so-do">
                    <input type="button" value="查询" id="btn_Select" class="btn" />
                </td>
            </tr>
        </table>
    </div>
    <div class="so-seq">
        <select id="sel_IsMust">
            <option value="-1">请选择选修状态</option>
            <option value="0">必修</option>
            <option value="1">选修</option>
        </select>
        <select id="sel_LearnStatus">
            <option value="-1">请选择课程状态</option>
            <option value="0">未开始</option>
            <option value="1">进行中</option>
            <option value="2">已结束</option>
        </select>
        <select id="sltSubscribeType">
            <option value="-1">预订状态</option>
            <option value="0">不可预订</option>
            <option value="1">未预订</option>
        </select>
        <select id="sle_Sort">
            <option value="-1">所有课程类型</option>
            <option value="1">内部培训</option>
            <option value="2">社会招聘</option>
            <option value="3">新进员工</option>
            <option value="4">实习生</option>
        </select>
        <div class="course-tysel">
            <span class="c-it">内部培训<i></i></span>
            <span class="c-sr">社会招聘<i></i></span>
            <span class="c-ne">新进员工<i></i></span>
            <span class="c-tr">实习生<i></i></span>
        </div>
    </div>
    <table class="tab-List mt10">
        <thead>
            <tr>
                <th class="span4">序号
                </th>
                <th class="">课程名称
                </th>
                <th class="span5">学时
                </th>
                <th class="span7">选/必修
                </th>
                <th class="span12">开课时间
                </th>
                <th class="span8">开设课次/总课次
                </th>
                <th class="span7">讲师
                </th>
                <th class="span8">授课地点
                </th>
                <th class="span7">预订状态
                </th>
                <th class="span7">课程状态
                </th>
                <th class="span8">操作
                </th>
            </tr>
        </thead>
        <tbody id="Courstlist">
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>

<script id="CourseListTemplate" type="text/x-jsrender">
        {{for #data}}
        <tr>
            <td>
            {{:#index+1}}
            </td>
            <td style="text-align:left;">
                <div class="course-type" title="课程类型：{{:SortStr==""?"无":SortStr}}">
                     <i class="c-it {{:SortStr.indexOf('内部培训')>=0?"":"c-no"}}">内部培训</i>
                     <i class="c-sr {{:SortStr.indexOf('社会招聘')>=0?"":"c-no"}}" title="">社会招聘</i>
                     <i class="c-ne {{:SortStr.indexOf('新进员工')>=0?"":"c-no"}}">新进员工</i>
                     <i class="c-tr {{:SortStr.indexOf('实习生')>=0?"":"c-no"}}">实习生</i>
                 </div>
                <div class="ovh span16" title="{{>CourseName}}">{{>CourseName}}</div>
            </td>
            <td>
                {{:CourseLength}}
            </td>
            <td>
                {{:IsMust=="0"?"必修":"选修"}}
            </td>
            <td class="f11" style="text-align:left;">
                {{:TeacherCourseTime}} 
            </td>
            <td>
               {{:CourseTimesOrder}}/{{:CourseTimes}}
             </td>
            <td>
                {{:TeacherName}}
            </td>             
             <td>
                <div class="ovh span8" title="{{>RoomName}}">{{>RoomName}}</div>
            </td>  
            <td>                
                {{:MySubscribeTypeStr}}
            </td> 
            <td>                
                {{:StatusShow}}
            </td>    
            <td>         
              
              <a href="/DepTranMyCourse/MyCourse?backFrom=1&courseid={{:Id}}" title="查看详情" class="icon iview"></a>             
            </td>
        </tr> 
        {{/for}}
</script>
@*<a href="/DepTrainMyBroadcastCourse/BroadcastCourseMain?id={{:Id}}" title="查看详情" class="icon iview"></a>  *@
<script type="text/javascript">

    $(document).ready(function (e)
    {
        initSearch();

        $("#txt_CourseName").val('@(ViewBag.Attname)');
        $("#txt_TeacherName").val('@(ViewBag.Atttea)');

        if ("@(ViewBag.AttstartTime)" != "")
        {
            $("#txt_StartTime").val('@(ViewBag.AttstartTime)');
        }
        if ("@(ViewBag.AttendTime)" != "")
        {
            $("#txt_EndTime").val('@(ViewBag.AttendTime)');
        }
        $("#sel_IsMust").val('@(ViewBag.Attmust)');
        $("#sel_LearnStatus").val('@(ViewBag.Attstate)');
        $("#sltSubscribeType").val('@(ViewBag.AttType)');
        $("#sle_Sort").val('@(ViewBag.Attsort)');
        InitData(@(ViewBag.page)); //加载

       
        $("#btn_Select").click(function ()
        {
            InitData(1);
        });
        $("#sltSubscribeType,#sle_Sort,#sel_IsMust,#sel_LearnStatus").change(function ()
        {
            $("#Courstlist").JsRenderData({
                sourceUrl: geturl(),
                isPage: true,
                pageSize: 10,
                pageIndex: 1,
                templateID: "CourseListTemplate"
            });
        });
    });

    function geturl()
    {
        return '/DepTrainMyBroadcastCourse/GetMyBroadcastList?' 
            + "teacherName=" + escape(getSearchWord('txt_TeacherName'))
            + "&courseName=" + escape(getSearchWord("txt_CourseName"))
                + "&isMust=" + $("#sel_IsMust").val()
                    + "&learnStatus=" + $("#sel_LearnStatus").val()
                        + "&sort=" + $("#sle_Sort").val()
                            + "&subscribeType=" + $("#sltSubscribeType").val()
                                + "&startTime=" + $("#txt_StartTime").val()
                                    + "&endTime=" + $("#txt_EndTime").val();
    }

    function InitData(page)
    {
        var v = "teacherName=" + escape(getSearchWord('txt_TeacherName'))
            + "&courseName=" + escape(getSearchWord("txt_CourseName"))
                + "&isMust=" + $("#sel_IsMust").val()
                    + "&learnStatus=" + $("#sel_LearnStatus").val()
                        + "&sort=" + $("#sle_Sort").val()
                            + "&subscribeType=" + $("#sltSubscribeType").val()
                                + "&startTime=" + $("#txt_StartTime").val()
                                    + "&endTime=" + $("#txt_EndTime").val();
        $("#Courstlist").JsRenderData({
            sourceUrl: '/DepTrainMyBroadcastCourse/GetMyBroadcastList?' + v,
            isPage: true,
            pageSize: 10,
            pageIndex: page,
            templateID: "CourseListTemplate"
        });
    }
</script>

