@{
    ViewBag.Title = ViewBag.backFrom == 1 ? "课程详情" : "我已预订的课程";
    var course = ViewBag.Course as LiXinModels.CourseManage.Co_Course;
    var courseorder = ViewBag.courseorder as LiXinModels.DepTranManage.DepTran_CourseOrder;
}
<div class="main-c">
    @if (ViewBag.backFrom == 1)
    {
        @(Html.Action("SiteMapLink", "Common", new {linkName = "MyBroadcastCourseDetail"}))
    }
    else
    {
        @(Html.Action("SiteMapLink", "Common", new {linkName = "DeptMyCourseList"}))
    }
    
    <div class="course-top">
        <div class="pic">
            <img src="../../Images/course-pic.jpg" />
        </div>
        <div class="info">
            <h3 class="ovh" title="@course.CourseName">@course.CourseName</h3>
            <table class="tab-Form">
                <tr>
                    <td class="Tit span9">
                        授课讲师：
                    </td>
                    <td>@course.TeacherName
                    </td>
                    <td class="Tit span6">
                        开课时间：
                    </td>
                    <td colspan="3">@course.TeacherCourseTime
                    </td>
                </tr>
                <tr>
                    <td class="Tit">
                        课程开放级别：
                    </td>
                    <td>@course.OpenLevel
                    </td>
                    <td class="Tit">
                        开课地点：
                    </td>
                    <td>
                        <div class="ovh span30" title="@course.RoomName">@course.RoomName</div>
                    </td>
                </tr>
                <tr>
                    <td class="Tit">
                        课程学时：
                    </td>
                    <td>@course.CourseLength
                    </td>
                    <td class="Tit">
                        课程状态：
                    </td>
                    @if (ViewBag.backFrom == 1)
                    {
                        <td>@course.StatusShow</td>
                    }else
                    {
                        <td>@course.CourseStatus</td>
                    }
                    <td>              
                        @{
                            if (ViewBag.backFrom == 0 && course.StartTime > DateTime.Now)
                            {
                                <input type="button" class="btn btn-co" value="退订" onclick="Unsubscribe(@course.Id);"/>
                            }
                                       
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
   
    <div class="tab-bk mt10">
        <ul id="ul_menu">
            <li class="On" onclick="fonclick(0)">
                课程详情        
            </li>
            <li onclick="fonclick(1)">
                课前建议          
            </li>
            <li onclick="fonclick(2)">
                学员考勤           
            </li>
            <li onclick="fonclick(3)"> 
                课后评估
            </li>
            <li onclick="fonclick(4)">
                在线测试           
            </li>
        </ul>
    </div>
    <div id="div_CourseCommonList">

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {       
        fonclick(@ViewBag.tp);
        //fonclick(0);
    })

    function fonclick(t)
    {
        switch(t)
        {
            case 0:                   
                $.get("/DepTranMyCourse/CourseMain?backFrom=@ViewBag.backFrom&courseid="+@course.Id, function (data) { $("#div_CourseCommonList").html(data); });
                    $("#ul_menu li:eq(0)").addClass("On").siblings("li").removeClass("On");
                    break;
                case 1:
                    $.get("/DepTranMyCourse/ClassPro?backFrom=@ViewBag.backFrom&courseid="+@course.Id, function (data) { $("#div_CourseCommonList").html(data); });
                $("#ul_menu li:eq(1)").addClass("On").siblings("li").removeClass("On");
                break;
            case 2: 
                $.get("/DepTranMyCourse/Attendance?backFrom=@ViewBag.backFrom&courseid="+@course.Id, function (data) { $("#div_CourseCommonList").html(data); });
                $("#ul_menu li:eq(2)").addClass("On").siblings("li").removeClass("On");
                break;
            case 3:                 
                $.get("/DepTranMyCourse/AfterCourse?backFrom=@ViewBag.backFrom&courseid="+@course.Id, function (data) { $("#div_CourseCommonList").html(data); });
                $("#ul_menu li:eq(3)").addClass("On").siblings("li").removeClass("On");
                break;
            case 4:
                $.get("/DepTranMyCourse/OnlineTest?backFrom=@ViewBag.backFrom&courseid="+@course.Id, function (data) { $("#div_CourseCommonList").html(data); });
                $("#ul_menu li:eq(4)").addClass("On").siblings("li").removeClass("On");
               
                break;          
            default:
        }
    }
    //function Unsubscribe(id)
    //{//退订
    //    $.getJSON("/DepTranMyCourse/UnsubscribeLine/" + id, function (data)
    //    {
    //        if (data.result == 1)
    //        {
    //            art.dialog.tips("退订成功！", 3,function(){
    //                window.location.href = "/DepTranMyCourse/MyCourseList";
    //            });
    //            InitData(1);
    //        } else
    //        {
    //            art.dialog.tips("退订失败！", 3);
    //        }
    //    });
    //}


    function Unsubscribe(id)
    {//退订
        $.getJSON("/DepTranMyCourse/Unsubscribe?id=" + id , function (da)
        {
            if (da.result == 1)
            {
                //art.dialog.tips(da.content, 1.5);
                //InitData();
                art.dialog({
                    content: da.content,
                    ok: function ()
                    {
                        $.getJSON("/DepTranMyCourse/UnsubscribeLine/" + id, function (data)
                        {
                            if (data.result == 1)
                            {
                                art.dialog.tips("退订成功！", 3);
                                location.href="/DepTrainMyBroadcastCourse/MyEverythingCourse?tp=1";
                                //InitData(1);
                            } else
                            {
                                art.dialog.tips("退订失败！", 3);
                            }
                        });
                    },
                    cancel: true
                });
            } else
            {
                art.dialog.tips(da.content, 3);
                //if (da.result == 4)
                //{
                //    InitData(da.indexpage);
                //}
            }
        });
    }
</script>