@using System.Web.Mvc.Html
@using LiXinLanguage
@using LiXinModels.Examination.DBModel
@using LiXinModels.Examination.ShowModel
@{
    ViewBag.Title = NavigateMenuLanguage.BrowseQuestion;
    var backSortID = Request.QueryString["sortID"] ?? "0";
    var back = Request.QueryString["back"] ?? "";
    var deptId = Request.QueryString["deptId"] ?? "0";
}
<script src="@Url.Content("~/Scripts/ckplayer5.8/ckplayer.js")" type="text/javascript"> </script>
<div class="main-c">
@(Html.Action("SiteMapLink", "Common", new
{
    linkName = ViewBag.Flag == 0 ? "BrowseQuestion" : "DepBrowseQuestion"
}))
<div class="exam-list">
    @{
        int qorder = 0;
        foreach (MQuestionShow model in ViewBag.model)
        {
            qorder++;
        <div class="QSingle">
            <div class="title">
                <div class="info"><strong>Q</strong><input type="text" value="@(qorder)" />. </div>
                <h5>@(Html.Raw(model.QuestionContent))</h5>
                <p class="type"><span>知识点：@(model.QuestionKey)</span>|<span>题型：@(model.QuestionTypeStr)</span></p>
            </div>
            <div class="content">
                @{
            switch (model.QuestionTypeStr)
            {
                case "问答题":
                    {
                    <div class="ans" style="margin-bottom:-5px;"><div class="ans-ok">
                        <span class="tit">正确答案<i></i></span><p>@(model.QuestionAnswer.Count > 0 ? model.QuestionAnswer[0].Answer : "无")</p>
                    </div></div>
                    }
                    break;
                case "单选题":
                    {
                        int count = 0;
                        foreach (QuestionAnswer s in model.QuestionAnswer)
                        {
                            <div><input type="radio" disabled="disabled" @(s.AnswerFlag == 1 ? "checked=checked" : "") />@((char)(65 + count)). @s.Answer</div>
                            count++;
                        }
                    }
                    break;
                case "多选题":
                    {
                        int count = 0;
                        foreach (QuestionAnswer s in model.QuestionAnswer)
                        {
                            <div><input type="checkbox" disabled="disabled" @(s.AnswerFlag == 1 ? "checked=checked" : "")/>@((char)(65 + count)). @s.Answer</div>
                            count++;
                        }
                    }
                    break;
                case "填空题":
                    {
                    <div class="ans" style="margin-bottom:-5px;"><div class="ans-ok">
                        <span class="tit">正确答案<i></i></span>
                        <p>
                            @{
                        if (model.QuestionAnswer.Count > 0)
                        {
                            foreach (string s in model.QuestionAnswer[0].Answer.Split(new[] { "!!%%!!" }, StringSplitOptions.None))
                            {
                                <span>@(s)</span>
                            }
                        }
                            }
                        </p>
                    </div></div>
                    }
                    break;
                case "判断题":
                    {
                        <div class="jud">
                            <input type="radio" disabled="disabled" @(model.QuestionAnswer.Count == 0 ? "" : (model.QuestionAnswer[0].AnswerFlag == 1 && model.QuestionAnswer[0].Answer == "0" ? "checked=checked" : ""))/><label>A. 正确</label>
                            <input type="radio" disabled="disabled" @(model.QuestionAnswer.Count == 0 ? "" : (model.QuestionAnswer[0].AnswerFlag == 1 && model.QuestionAnswer[0].Answer == "1" ? "checked=checked" : ""))/><label>B. 错误</label>
                        </div>
                    }
                    break;
                case "情景题":
                    {
                    <div class="ok">
                        @{
                        string name = model.FileUpload[0].FileName;

                        switch (model.FileUpload[0].FileType)
                        {
                            case 0:
                                {
                            <center>
                                <div id="imageCollection">
                                <a class="pl" onclick=" turnToNext(this, 'left'); "></a>
                                    <input type="hidden" value="1" />
                                    @{
                                for (int i = 0; i < model.FileUpload.Count; i++)
                                {
                                        <img src="../../ClientBin/UploadFile/@(model.FileUpload[i].FileName)" style="@(i == 0 ? " display:block; " : " display:none; ")" />
                                }
                                    }
                                <a class="pr" onclick=" turnToNext(this, 'right'); " ></a>
                                </div>
                            </center>
                                }
                                break;

                            case 1:
                            <embed  wmode="opaque" type="application/x-mplayer2" src="../../ClientBin/UploadFile/@name" name="mediaplayer" width="300" height="150" showcontrols="1" showstatusbar="0" showdisplay="0" autostart="0">
                                                        </embed>
                                                                                            break;
                            case 2:
                                                                                            {
                                                                                                var id = name.Substring(0, name.Length - 4);
@*   <embed type="application/x-mplayer2" src="../../ClientBin/UploadFile/@name" name="mediaplayer" width="300" height="150" showcontrols="1" showstatusbar="0" showdisplay="0" autostart="0">
                                                        </embed>*@
                            <input name="FlvName" value="@name" type="hidden" />
                            <div id='@id'></div>
                                                                                            }
                                                                                            break;
                        }
                        }
                        <div id="answer">
                            @{
                        int count = 0;
                        foreach (QuestionAnswer s in model.QuestionAnswer)
                        {
                            switch (s.AnswerType)
                            {
                                case 0:
                                <div class="ans" style="margin-bottom:-5px;"><div class="ans-ok">
                                    <span class="tit"><i></i>正确答案</span>
                                    <p>@(s.Answer)</p>
                                </div></div>
                                                                                break;
                                case 1:
                                <div><input type="radio" disabled="disabled" @(s.AnswerFlag == 1 ? "checked=checked" : "") />@((char)(65 + count)). @s.Answer</div>
                                                                                                                                                   count++;
                                                                                                                                                   break;
                                case 2:
                                <div><input type="checkbox" disabled="disabled" @(s.AnswerFlag == 1 ? "checked=checked" : "")/>@((char)(65 + count)). @s.Answer</div>
                                                                                                                                                     count++;
                                                                                                                                                     break;
                            }
                        }
                            }
                        </div>
                    </div>
                    }
                    break;
            }
                }
            </div>
            <div class="ans">
                @{
            if (model.QuestionTypeStr == "问答题" || model.QuestionTypeStr == "填空题" || (model.QuestionTypeStr == "情景题" && model.QuestionAnswer[0].AnswerType == 0))
            {
                    <div class="ans-stu">
                        <span class="tit"><i></i>关键词</span>
                        <p>@(string.IsNullOrEmpty(model.QuestionAnswerKeys) ? "暂无" : model.QuestionAnswerKeys)</p>
                    </div>
            }
                }
                <div class="ans-res">
                    <span class="tit"><i></i>试题解析</span>
                    <p>@(string.IsNullOrEmpty(model.QuestionAnalysis) ? "暂无" : model.QuestionAnalysis)</p>
                </div>
            </div>
        </div>
        }
    }
</div>
@{
    if (back != "noback")
    {
    <center class="mt10">
        <a class="btn btn-cancel" id="btnBack" onclick=" Back(); ">@CommonLanguage.Common_Back</a>
    </center>
    }
}
</div>
<script type="text/javascript">
    $(document).ready(function ()
    {
        $("input[name='FlvName']").each(function ()
        {
            ckplay($(this).val());
        });
    });
    function Back() {
        var redirturl = "QuestionList";
        if ('@(ViewBag.Flag)' == '1') {
            redirturl = "DepQuestionList";
        }
        window.location.href = "/Question/" + redirturl + "?sortID=@(backSortID)&deptId=@(deptId)";
    }

    function ckplay(name)
    {

        var url = '@Url.Content("~/ClientBin/UploadFile/")' + name;
        var id = name.substring(0, name.length - 4);
        var s1 = new swfupload();
        s1.ckplayer_url = '@Url.Content("~/Scripts/ckplayer5.8/ckplayer.swf")'; //播放器文件名
        s1.ckplayer_flv = url; //视频地址,这里也可以填写一个网址或xml地址或flash文件,具体的设置请到网站了解
        s1.ckplayer_pat = '1'; //传递的参数,这里的具体参数设置方式到网站了解
        s1.ckplayer_style = 0; //传递的方式,0是普通方式，1是网址传送，2是xml传送，3是flash传送
        s1.ckplayer_default = 0; //读取文本配置，此参数具有非常强大的功能，（比如外站引用视频只需一个参数即可）说来话长，请到网站了解详情
        s1.ckplayer_xml = ''; //风格配置xml文件，如果为空的话将使用js文件配置
        s1.ckplayer_loadimg = ''; //初始图片地址
        s1.ckplayer_pauseflash = ''; //暂停时播放的广告，只支持flash和图片
        s1.ckplayer_pauseurl = ''; //暂停时播放图片时需要加一个链接
        s1.ckplayer_loadadv = ''; //视频开始前播放的广告，可以是flash,也可是视频格式
        s1.ckplayer_loadurl = ''; //视频开始前广告的链接地址，主要针对视频广告，如果是flash可以不填写
        s1.ckplayer_loadtime = 0; //视频开始前广告播放的秒数,只针对flash或图片有效
        s1.ckplayer_endstatus = 2; //视频结束后的动作，0停止播放并发送js,1是不发送js且重新循环播放,2停止播放
        s1.ckplayer_volume = 40; //视频默认音量0-100之间
        s1.ckplayer_play = 0; //视频默认播放还是暂停，0是暂停，1是播放
        s1.ckplayer_width = 300; //播放器宽度
        s1.ckplayer_height = 150; //播放器高度
        s1.ckplayer_bgcolor = '#000000'; //播放器背景颜色
        s1.ckplayer_allowFullScreen = true; //是否支持全屏，true支持，false不支持，默认支持
        s1.swfwrite(id); //div的id

    }
</script>
