@model LiXinModels.MyApproval.ShowFreeDetails
@{
    ViewBag.Title = "我的申请";
    string TrainGrade = ViewBag.TrainGrade as string;
}
<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new
{
    linkName = "我的申请"
}))
    @if (ViewBag.typeForm == 0)
    {
        @Html.Action("Free_ApproveHead", "MyApproval", new { ID = ViewBag.ID, Realname = Model.Realname, ApplyTimeStr = Model.ApplyTimeStr, type = 1 })
    }

    <div>
        <h3 class="tit-h3-app">申请内容：@(Model.ApplyContent)</h3>
        <table class="tab-Form lh30 pl20">
            <tbody>

                <tr>
                    <td colspan="2">

                        @if (ViewBag.type == 3 && Model.ApplyType == 3)
                        {
                            foreach (var item in Model.teacherDetails)
                            {
                            <table class="tab-Form app-item">
                                <tr>
                                    <td class="Tit span8">培训班名称：</td>
                                    <td>@item.ClassName</td>
                                </tr>
                                <tr>
                                    <td class="Tit">授课学时：</td>
                                    <td>@item.ConvertScore<span style="color: gray" class="ml10">按实际授课、主持或演讲时间的@(Model.ConvertBaseTo)倍折算学时</span></td>
                                </tr>
                                <tr>
                                    <td class="Tit">所内学时：</td>
                                    <td>@item.tScore</td>
                                </tr>
                                @if (Model.CPA == "是")
                                {
                                    <tr>
                                        <td class="Tit">CPA学时：</td>
                                        <td>@item.CPAScore</td>
                                    </tr>
                                }
                            </table>
                            }
                        }
                    </td>
                </tr>
                <tr style="display: none">
                    <td class="Tit">审批理由：</td>
                    <td>
                        <p class="span28" id="rejectReason"></p>
                    </td>
                </tr>
               
                <tr>
                    <td class="Tit">姓名：</td>
                    <td id="ApproveName">@(Model.Realname)</td>
                </tr>
                <tr>
                    <td class="Tit">培训级别：</td>
                    <td>@(Model.TrainGrade)</td>
                </tr>
                @{
                    if (Model.CPA == "是")
                    {  
                    <tr>
                        <td class="Tit">CPA编号：</td>
                        <td>@(Model.CPANo)</td>
                    </tr>
                    }
                }
                <tr>
                    <td class="Tit">申请年度：</td>
                    <td>@(Model.Year)</td>
                </tr>
                @if (ViewBag.type == 1 && Model.ApplyType == 1)
                {
                    <tr>
                        <td class="Tit">折算方法：</td>
                        <td>@(Model.ConvertScore)@(Model.ConvertBaseInfo)
                            <span style="color: gray">@(Model.ConvertBaseTo)学时/@(Model.ConvertBase)@(Model.ConvertBaseInfo)

                                @if ((Model.TrainGradeScoreList.Keys.Contains(TrainGrade) ? Model.TrainGradeScoreList[TrainGrade].ToString() : "") != "0")
                                {
                                    <span>最高可折算所内学时：@(Model.ApproveTScore) </span>
                                }
                                @if (ViewBag.cpa == 1 && Model.ConvertMax != 0)
                                {
                                    <span>最高可折算CPA学时:@(Model.ConvertMax)</span>
                                }
                            </span>
                        </td>
                    </tr>
                    if (Model.ConvertType != 0)
                    {
                        <tr>
                            <td class="Tit span10">获得所内学时：</td>
                            <td>@(Model.GettScore)</td>
                        </tr>
                    }
                    if (Model.CPA == "是")
                    { 
                        <tr>
                            <td class="Tit span10">获得CPA学时：</td>
                            <td>@(Model.GetCPAScore)</td>
                        </tr>
                    }
                 }
                <tr>
                    <td class="Tit">情况说明：</td>
                    <td>
                        <p class="span28" title="@(Model.Memo)">@(Html.Raw(Model.MemoStr.Trim()))</p>
                    </td>
                </tr>
                <tr>
                    <td class="Tit">证明资料：</td>
                    <td>
                        @if (Model.ApplyFileList.Count > 0)
                        {
                            foreach (var item in Model.ApplyFileList)
                            {
                            <p class="span50" style="border-bottom: 1px solid #ccc">
                                @item.ResourceName
                                <a class="icon idown fr ml10 mt5" title="下载" onclick="DownFile(this,'@item.RealName','@item.ResourceName')"></a>
                                <a class="icon iview fr mt5" title="查看" id="other_view" onclick="ViewFile('@item.ResourceName','@item.ConvertName')"></a>
                            </p>
                            }
                        }
                        else
                        {
                            @:--
                        }
                    </td>
                </tr>
                <tr>
                    <td class="Tit">申请时间：</td>
                    <td>
                        @(Model.ApplyTimeStr)
                    </td>
                </tr>
                
            </tbody>

        </table>
    </div>
    <center class="mt10">
        <input type="button" class="btn  btn-cancel" value="返回" onclick="back()">
    </center>
</div>
<script type="text/javascript">
    var path = "@(System.Configuration.ConfigurationManager.AppSettings["FreeUplpadUrl"])"
    $(document).ready(function ()
    {

        //var title = $("#DepReason").attr("title");
        //$("#rejectReason").html(title);
        //if (title != "" && title != undefined)
        //{
        //    $("#rejectReason").parent().parent().show();
        //}
    });

    function DownFile(obj, Rname, name)
    {
        DownLoadFile(Rname, name);
    }

    function DownLoadFile(Rname, name)
    {
        $.getJSON("/home/IsExistFile?path=" + path + "/" + Rname, function (data)
        {
            if (data.result == 1)
            {
                window.location.href = "/home/LoadPrincipleFile?type=1&path=" + path + "/" + Rname + "&name=" + escape(name);
            }
            else
            {
                art.dialog.tips('文件不存在', 3);
            }
        });
    }

    function back()
    {
        window.location.href = "MyApply?flag=4"
    }


    function ViewFile(ResourceName, name)
    {
        art.dialog.load("/MyApproval/Free_FilesView?type=1&ResourceName=" + escape(ResourceName) + "&name=" + name, { title: '文件查看', id: 'atr_ViewFile', height: 320, width: 550 });
    }
</script>
