@using LiXinModels.SystemManage;
@model LiXinModels.SystemManage.Free_UserOtherApply
@{
    ViewBag.Title = "批量其他形式导入";
    string TrainGrade = ViewBag.TrainGrade as string;


    var freeConfig = ViewBag.freeConfig as LiXinModels.SystemManage.Free_OtherApplyConfig;
    //LiXinModels.SystemManage.Free_UserOtherApply UserOtherApply = ViewBag.UserOtherApply as LiXinModels.SystemManage.Free_UserOtherApply;

    var teacherlist = ViewBag.teacherlist;
}
<script type="text/javascript" src="/Scripts/uploadify-v3.1/jquery.uploadify-3.1.js"> </script>
<link href="/Scripts/uploadify-v3.1/uploadify.css" rel="stylesheet" type="text/css" />
<input type="hidden" id="txt_id" />
<input type="hidden" id="UserOtherApply_Id"  value="@ViewBag.UserOtherApply_Id"/>
<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new
{
    linkName = "批量其他形式导入"
}))
    <div class="step-app">
        <div class="ok"><span>1</span>选择申请内容<i></i></div>
        <div class="on"><span>2</span>输入学时<i></i></div>
    </div>
    <form id="form_other">

        <table class="tab-Form mt10">
            <tr style="font-weight: bold">
                <td class="Tit span10">申请内容：
                </td>
                <td>
                    <span id="ApplyContent" freeid="@freeConfig.ID">@freeConfig.ApplyContent</span>
                </td>
            </tr>
            <tr>
                <td class="Tit">选择人员：</td>
                <td>
                    <input type="button" name="btnOpenPerson" id="btnOpenPerson" value="选择人员" onclick="fnChoosePerson()" class="btn btn-co" />
                    <input type="button" id="btnOpenGroup" onclick="fnChooseOpenGroup()" value="选择群组" class="btn btn-co" />

                    <input type="hidden" id="old_txtOpenPerson" name="OpenPerson" value="@ViewBag.OpenPerson" />
                    <input type="hidden" id="txtOpenPerson" class="OpenPerson" name="OpenPerson"  value="@ViewBag.OpenPerson" />
                    <div id="div_showPerson">
                        @if (ViewBag.PersonList != null && ((IEnumerable<LiXinModels.User.Sys_User>)ViewBag.PersonList).Count() > 0)
                        {
                            <div class="seled-list" id="choose_people">
                                <h4 id="sp_choosePerson">已选特殊人群：</h4>
                                <ul>
                                    @foreach (var item in (IEnumerable<LiXinModels.User.Sys_User>)ViewBag.PersonList)
                                    {
                                        <li id="div_UserItem_@(item.UserId)" now="old"><span title="@item.Realname">@item.Realname</span>

                                            <input class="btn btn-cancel"  type="button" name="btn" title="移除" value="X"  onclick="fnRemoveUserItem('div_UserItem_@(item.UserId)    ',@item.UserId,1)" />

                                        </li>
                                    }
                                </ul>
                            </div>
                        }

                    </div>
                </td>
            </tr>
            <tr>
                <td class="Tit">申请年度：</td>
                <td>
                     <span class="year" name="Year">@ViewBag.year</span>
                </td>
            </tr>
            @if (freeConfig.ApplyType == 1)
            {             
                <tr>
                    <td class="Tit">申报数值：</td>
                    <td>
                        <input type="text" score='score' name="score"  class="zhi Score"  id="@freeConfig.ID" left="@freeConfig.ConvertBaseTo" right="@freeConfig.ConvertBase"/>
                        @freeConfig.ConvertBaseInfo <span style="color: gray">@freeConfig.ConvertBaseTo 个学时/ @freeConfig.ConvertBase @freeConfig.ConvertBaseInfo</span></td>
                </tr>
                //if ((freeConfig.TrainGradeScoreList.Keys.Contains(TrainGrade) ? freeConfig.TrainGradeScoreList[TrainGrade].ToString() : "") != "0")
                if (freeConfig.TrainGradeScoreStr != "N/A")
                {                          
                <tr>
                    <td class="Tit">所内学时：</td>
                    <td><span class="sn_@(freeConfig.ID)" 
                        maxvalue="@(freeConfig.TrainGradeScoreList.Values.Max())">0

                    </span><span style="color: gray">最高可折算 @(freeConfig.TrainGradeScoreStr) 个所内年度学时</span></td>
                </tr> 
                }
                //if (ViewBag.cpa == 1 && freeConfig.ConvertMax != 0)
                if (freeConfig.ConvertMaxStr != "N/A")
                {
                <tr>
                    <td class="Tit">CPA学时：</td>
                    <td><span class="cpa_@(freeConfig.ID)" maxvalue="@freeConfig.ConvertMax">0</span><span style="color: gray"> 最高可折算 @freeConfig.ConvertMax 个CPA年度学时</span></td>
                </tr> 
                }
            }
            @if (freeConfig.ApplyType == 0)
            {
                <tr>
                    <td colspan="2">
                        @if (ViewBag.Status == 0 || ViewBag.Status == null)
                        {
                            <input type="button" class="btn btn-co" value="添加" id="teacher_Add" bas="@freeConfig.ConvertBaseTo" tgs="@freeConfig.TrainGradeScore" cpa="@freeConfig.ConvertMax"/>
                        }
                        <div id="teacher" class="list">
                            <div class="item">
                                <table class="tab-Form">
                                    <tr>
                                        <td class="Tit span10">培训班名称：</td>
                                        <td>
                                            <input type="text" name="className" maxlength="200" class="pxname className" /></td>
                                    </tr>
                                    <tr>
                                        <td class="Tit">授课学时：</td>
                                        <td>
                                            <input type="text" score="score" name="score" class="txt_teacher Score" tgs="@freeConfig.ConvertBaseTo" onchange="fonmouseout(this)"  />
                                            学时<span style="color: gray">  实际授课、主持或演讲时间的 @freeConfig.ConvertBaseTo 倍折算学时</span></td>
                                    </tr>
                                    <tr class="teacher_sn">
                                        <td class="Tit">所内学时：</td>
                                        <td><span max="@freeConfig.TrainGradeScore">0</span> <span style="color: gray">最高可折算 @freeConfig.TrainGradeScore 个所内年度学时</span></td>
                                    </tr>
                                    <tr class="teacher_cpa" style="@(ViewBag.cpa == 1 ? "display='none'" : "")">
                                        <td class="Tit">CPA学时：</td>
                                        <td><span max="@freeConfig.ConvertMax">0</span><span style="color: gray"> 最高可折算 @freeConfig.ConvertMax 个CPA年度学时</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            <tr>
                <td class="Tit">情况说明：</td>
                <td>
                    <textarea id="teacher_ziliao" name="Memo" cols="20" rows="2" maxlength="200" class="span25 other_ziliao"></textarea>
                </td>
            </tr>
            <tr>
                <td class="Tit">证明资料：
                </td>
                <td>
                    <input type="file" name="teacher_uploadResource" value="" class="teacher_uploadResource" id="teacher_uploadResource" />
                    <input type="hidden" name="hidOtherIds" value="" id="hidteacherIds" />
                    @if ((IEnumerable<Free_UserApplyFiles>)ViewBag.UserApplyFiles != null)
                    {
                        if(((IEnumerable<Free_UserApplyFiles>)ViewBag.UserApplyFiles).Count()>0)
                        {
                        <div class="seled-list" id="teacher_seled_list">
                            <ul>
                                @foreach (var t in (IEnumerable<Free_UserApplyFiles>)ViewBag.UserApplyFiles)
                                {
                                    <li id="div_courseTeacher_@(t.ID)"><span title="@t.ResourceName">
                                        @t.ResourceName
                                    </span>
                                        @if (ViewBag.Status == 0)
                                        {
                                            <input  type="button" name="btn" value="X" title="移除" class="btn btn-cancel" onclick="fnRemoveteacher('div_courseTeacher_@(t.ID)    ',@t.ID,@Model.ID)" />
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                       }
                    }

                </td>
            </tr>
        </table>
        <div class="mt20 tc">
            <input type="button" value="上一步" class="btn" id="btn_prev" />
            <input type="submit" value="保存" id="btn_save" class="btn" />
            <input type="button" value="取消" class="btn" id="btn_cancel" />
        </div>

    </form>
    <input id="removeUserIDs" type="hidden" />

</div>
<script type="text/javascript">
    var deleteids="";
    var validator=null;
    $(document).ready(function () {

        //#region  验证
        $.validator.addMethod("OpenPerson", function (value, element)
        {
            return  $("#div_showPerson div ul li").length!=0;
        }, "请选择人员");

        
        $.validator.addMethod("className", function (value, element)
        {
            return !this.optional(element) && (value != "");
        }, "请输入培训班名称");
        $.validator.addMethod("Score", function (value, element)
        {
            var reg = /^\d+[\.]?\d{0,2}$/;
            return !this.optional(element) && (reg.test(value)) && parseFloat(value) <= 999&& parseFloat(value)>0;
        }, '请输入申报数值,规则：输入保留2位小数，且在0-999范围内(不包括0)');

    

        validator=$("#form_other").validate({
            errorPlacement: function (error, element)
            {
              
                if (element.attr("score") == "score" )
                {
                    error.insertAfter(element.next());
                }
                else
                {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass)
            {
                $(element).addClass(errorClass);
            },
            submitHandler:fsave
        });
        //#endregion


        $('#teacher_uploadResource').uploadify({
            'formData': { 'folder': "@(System.Configuration.ConfigurationManager.AppSettings["FreeUplpadUrl"])" },
            'buttonText': '选择文件',
            'buttonClass': 'browser',
            'removeCompleted': false,
            'swf': '/Scripts/uploadify-v3.1/uploadify.swf',
            'uploader': '/Common/UploadFileAction?detailFlag=1',//此处因需要增加了detailFlag字段 其他地方使用请自行移除
            'auto': false,
            'multi': true,
            'fileDesc': '文档',
            'fileTypeExts': '*.doc; *.docx; *.xls; *.xlsx;*.ppt;*.pptx;*.txt;*.pdf;*.bmp;*.png;*.png;*.jpeg;*.gif;*.tiff;*.jpg',
            'onCancel': function (file) {
            },
            'onSelect': function (file) {
               
                $("#tempAttachQueueId").val(file.id);
            },
            'onUploadStart': function (file) {
            },
            'onUploadError': function (file, errorCode, errorMsg, errorString) {
                if (errorCode != -280) {
                    art.dialog.tips('上传过程中发送异常，请重新选择文件！', 1.5);
                    $('input[type="submit"]').removeAttr('disabled');
                }
            },
            'onUploadSuccess': function (file, data, response) {
                var a = data.split('|');
                if (a.length > 0) {

                    var ResourceName = a[0];
                    var RealName = a[1];
                    if($("#txt_id").val()!="")
                    {
                        $.post("/MyApply/SubmitAddResource?userApplyID=" + $("#txt_id").val() + "&ResourceName=" + escape(ResourceName) + "&RealName=" + RealName +
                            "&IsDelete=0&type=2", function (data) {
                                currNum++;
                            });
                    }
                    else
                    {
                        art.dialog.tips('上传发生错误！', 3);
                    }
                }
            },
            'onAllComplete': function () {
            }
        })

        if(@Model.ID>0)   
        {         
            if('@Model.ApplyType'=='1')
            {
                $(".year").html('@Model.Year');
                $(".zhi").val('@Model.ConvertScore');
                $(".sn_@(Model.ApplyID)").html(@Model.tScore);
                $(".cpa_@(Model.ApplyID)").html(@Model.CPAScore);
                $("#teacher_ziliao").val('@Model.MemoStr.Trim()');

                if('@ViewBag.Status'=='1')
                {
                    $(".year").attr("disabled","disabled");
                    $(".zhi").attr("disabled","disabled");
                    $("#teacher_ziliao").attr("disabled","disabled");
                   
                    $("#teacher_uploadResource").remove();
                }
            }
            else
            {
                $(".year").html(@Model.Year);
                $("#teacher_ziliao").val('@Html.Raw(Model.MemoStr.Trim())');
               // debugger;
                var object= JSON.parse('@Html.Raw(teacherlist)');
                $("#teacher").html($("#teacherListTemplate").render(object));


                if('@ViewBag.Status'=='1')
                {
                    $(".year").attr("disabled","disabled");
                    $(".zhi").attr("disabled","disabled");
                    $("#teacher_ziliao").attr("disabled","disabled");
                    $(":input[peixun='px']").attr("disabled","disabled");
                    $(":input[xueshi='xs']").attr("disabled","disabled");
                    $("#teacher_uploadResource").remove();
                }
            }
            
        }  

        $("#btn_cancel").click(function(){

            if($("#UserOtherApply_Id").val()=="")
            {
                location.href="/MyApply/Free_BatchOtherFromAdd";
            }
            else
            {
                location.href='/MyApply/Free_BatchOtherFrom?flag=1'
            }
        });

        $("#btn_prev").click(function(){
            if($("#UserOtherApply_Id").val()=="0")            
            {
                location.href='/MyApply/Free_BatchOtherFromAdd';               
            }
            else
            {
                location.href = '/MyApply/Free_BatchOtherFrom?flag=1';
            }
        });

        $("#teacher_Add").click(function(){
            var bas=$(this).attr("bas");
            var tgs=$(this).attr("tgs");
            var cpa=$(this).attr("cpa")
            var key=  $("#teacher div").length;
            var teacherObject=
                {
                    key:key+1,
                    ID:0,
                    ClassName:"",
                    ConvertScore:0,
                    ConvertBaseTo:bas,
                    TrainGradeScore:tgs,
                    tScore:0,
                    CPAScore:0,
                    ConvertMax:cpa,
                    CPA:"@(ViewBag.cpa == 1 ? 1 : 0)",
                    ApprovetScore:$(this).parent().find(".ApprovetScore").html(),
                    ApproveCPAScore:$(this).parent().find(".ApproveCPAScore").html()
                };

            //debugger;
            $("#teacher").append($("#teacherListTemplate").render(teacherObject));
            // validator.resetForm();
           
        });

        //#region 判断输入的学时
        $(".zhi").change(function () 
        {
            var id = $(this).attr("id");
            var value = $(this).val();
            var left = $(this).attr("left"); //1个学时
            var right = $(this).attr("right"); //1天

                
            if ($(".sp_" + id).size() != 1)
            {
                if (parseFloat(right) == 1)
                {
                    //所内学时
                    if (parseFloat($(".sn_" + id + "").attr("maxvalue")) < parseFloat(value * left)) {
                        $(".sn_" + id + "").html($(".sn_" + id + "").attr("maxvalue"));                          
                    }
                    else {
                        $(".sn_" + id + "").html(parseFloat(value * left));                        
                    }
                    //CPA学时
                    if (parseFloat($(".cpa_" + id + "").attr("maxvalue")) < parseFloat(value * left)) {
                        $(".cpa_" + id + "").html($(".cpa_" + id + "").attr("maxvalue"));
                    }
                    else {        
                        $(".cpa_" + id + "").html(parseFloat(value * left).toFixed(2));
                    }
                }
                else
                {
                    if (parseFloat($(".sn_" + id + "").attr("maxvalue")) < parseFloat(parseFloat(value / right) * left)) {
                        $(".sn_" + id + "").html($(".sn_" + id + "").attr("maxvalue"));
                    }
                    else {
                        $(".sn_" + id + "").html(parseFloat(parseFloat(value / right) * left).toFixed(2));                   
                    }

                    if (parseFloat($(".cpa_" + id + "").attr("maxvalue")) < parseFloat(parseFloat(value / right) * left)) {
                        $(".cpa_" + id + "").html($(".cpa_" + id + "").attr("maxvalue"));
                    }
                    else { 
                        $(".cpa_" + id + "").html(parseFloat(parseFloat(value / right) * left).toFixed(2));
                    }
                }
            }
           
        });
        //#endregion 

        
    });

        //#region 保存
        function fsave()
        {
        
            //if(validator.form())
            //{
                if(@ViewBag.UserOtherApply_Id>0&&$("#teacher  div").length==0&& "@ViewBag.ApplyType"=="3")
                {
                    art.dialog.tips('请至少添加一个授课信息', 3);
                    return false;
                }

                if(GetOtherArray())
                {
                    var type='@ViewBag.Status';

                    var addids="";
                    //$("#choose_people").children("ul").children("li").each(function(){
                    //    if($(this).attr("now")=="new")
                    //    {
                    //        addids+=$(this).attr("id").substring($(this).attr("id").lastIndexOf('_')+1)+",";
                    //    }
                    //});
                    $("#div_showPerson ul li").each(function(){
                        if($(this).attr("now")=="new")
                        {
                            addids+=$(this).attr("id").substring($(this).attr("id").lastIndexOf('_')+1)+",";
                        }
                    });
                    var chuanzhi="";
                    var convertScore=0;
                    // 授课人
                    if(@freeConfig.ApplyType==0)
                    {       
                        chuanzhi+=$("#txtOpenPerson").val()+"♣";
                        chuanzhi+=$("#ApplyContent").html()+"♣"+$(".year").html()+"♣"+$("#teacher_ziliao").val();

                        //记录培训班4行数据-会有多个
                        var px_content="";
                        var c=true;
                        //●◆
                        $("#teacher").children("div").each(function(){
                            // debugger;
                            var snname= $(this).find(".pxname").val();
                            px_content+=snname+"●";
                
                            var snxueshi= $(this).find(".txt_teacher").val();
                            convertScore =convertScore+ parseFloat(snxueshi);       
                            //所内最大学时
                            var sn_max=$($(this).find(".teacher_sn span")[0]).attr(".max");
                            //CPA最大学时
                            var cpa_max=$($(this).find(".teacher_cpa span")[0]).attr(".max");

                            var beishu=$($(this).find(".txt_teacher")).attr("tgs");                     

                            px_content+=snxueshi+"●";

                            if($($(this).find(".teacher_sn span")[0]).html()!="")
                            {
                                px_content+=$($(this).find(".teacher_sn span")[0]).html()+"●";
                            }
                            if($($(this).find(".teacher_cpa span")[0]).html()!="")
                            {
                                px_content+=$($(this).find(".teacher_cpa span")[0]).html()+"◆";
                            }
               
                        });
                        //  chuanzhi;
          
           
                        if(c)
                        {
                            var upload_num=  $("#teacher_uploadResource-queue").find(".uploadify-queue-item").length;

                            addAll('',chuanzhi+"♣"+$("#ApplyContent").attr("freeid")+"♣"+px_content,$("#ApplyContent").attr("freeid"),type,upload_num,deleteids,addids,convertScore);
                        }
                    }
                    else
                    {
                        chuanzhi+=$("#txtOpenPerson").val()+"♣";
          
                        chuanzhi+=$("#ApplyContent").html()+"♣"+$(".year").html()+"♣";

                        chuanzhi+=$(".zhi").val()+"♣";

                        convertScore=parseFloat($(".zhi").val());
                        var id=$("#ApplyContent").attr("freeid");

                        if($(".sn_"+id+"").length==1)
                        {
                            chuanzhi+=$(".sn_"+id+"").html()+"♣";
                        }
                        else
                        {
                            chuanzhi+=0+"♣";                   
                        }
                
                        if($(".cpa_"+id+"").length==1)
                        {
                            chuanzhi+=$(".cpa_"+id+"").html()+"♣";
                        }
                        else
                        {
                            chuanzhi+=0+"♣";                    
                        }

                        chuanzhi+=$("#teacher_ziliao").val();

                        var upload_num=  $("#teacher_uploadResource-queue").find(".uploadify-queue-item").length;

                        addAll(chuanzhi+"♣"+$("#ApplyContent").attr("freeid"),'',$("#ApplyContent").attr("freeid"),type,upload_num,deleteids,addids,convertScore);
                    }
                }
           // }
    }
    //#endregion

    function fnRemoveteacher(id,relid,itemID)
    {
        //debugger;
        $("#"+id).remove();
        var ids= $("#hidteacherIds").val();
        if (ids=="") {
            ids=relid;
        }
        else if (ids!="") {
            ids += "," + relid;
        }
        $("#hidteacherIds").val(ids);
    }

    function addAll(all,teacherall,id,type,upload_num,deleteids,addids,convertScore)
    {
        //debugger;
        $("#txt_id").val(id);        
        var removefileID="";
        if(all!="")//其他形式
        {
            $("#hidteacherIds").each(function(){
                var value=$(this).val();
                if(value!="")
                {
                    removefileID=removefileID==""?value:removefileID+","+value;
                }
            }); 
        }
        else//讲师
        {
            $("#hidteacherIds").each(function(){
                var value=$(this).val();
                if(value!="")
                {
                    removefileID=removefileID==""?value:removefileID+","+value;
                }
            }); 
        }
        $("#btn_save").attr("disabled",true);
        $("btn_up").attr("disabled", true);
       
        //$.post("/MyApply/SubmitBatchOtherFrom_New?other_content="+all+"&teacher_content="+teacherall+"&type="+type
        $.post("/MyApply/SubmitBatchOtherFrom_New?type="+type
             +"&UserOtherApply_Id="+$("#UserOtherApply_Id").val()+"&removefileID="+removefileID+"&deleteids="+deleteids+"&addids="+addids,
             {
                 ConvetType:"@freeConfig.ConvertType",
                 other_content:all,
                 teacher_content:teacherall,
                 removeUserIDs:$("#removeUserIDs").val(),
                 ConvertBaseTo:convertScore,
                 ApplyID: "@ViewBag.id",
                 year:$(".year").html()
             },function(data){
                 if(data.result==1)
                 {
                     $("#txt_id").val(data.userApplyID);

                     if(upload_num>0)
                     {
                         $("#teacher_uploadResource").uploadify('upload', '*');
                     }
                     $("#btn_save").attr("disabled",false);
                     $("btn_up").attr("disabled", false);
                     art.dialog.tips(type==0?"保存成功！":"发布成功！", 2,function(){location.href='/MyApply/Free_BatchOtherFrom?flag=1'})

                 }           
             })     
         }

         //选择特定人群
         function fnChoosePerson() {
             art.dialog.load("/UserCommon/SelectUserByDept?Type=checkbox&AllUserID="+$("#txtOpenPerson").val(), {
                 title: "选择人员",
                 id: "pop_SelPerson",
                 init: function () {
                     $("#pop_btnSure").attr("onclick", "GetChoosePersonIDList()");
                 },
                 width: 960,
                 close: function () {
                     if ($("#txtOpenPerson").val() == "") {
                         $("#div_showPerson").hide();
                     } else {
                         $("#txtOpenPerson").next().hide();
                         $("#div_showPerson").show();
                     }
                 }
             }, false);
         }

         //选择特殊人员
         function fnChooseOpenGroup() {
             art.dialog.load("/UserCommon/SelectUserByGroup?ids=0&TokenPublishflag=1" + "&tempGroupIds=" + $("#txtTempOpenGroupObject").val(), {
                 title: '选择群组', id: "pop_openchooseGroup",
                 close: function () {
                     if ($("#txtOpenPerson").val() == "") {
                         $("#div_showPerson").hide();
                     } else {
                         $("#txtOpenPerson").next().hide();
                         $("#div_showPerson").show();
                     }
                 }
             }, false);
         }

         //选择特殊人群确定按钮事件
         function GetChoosePersonIDList() {
            // debugger;
             var ids = $("#commonSelectedIdStr").val();
             if (ids==null || ids=="") {
                 art.dialog.tips("请选择人员！",1.5);
                 return;
             }
             var html = "";
             var flag = 0;
             if ($("#sp_choosePerson").length==0) {
                 html += "<div class='seled-list'><h4 id='sp_choosePerson'>已选特殊人群：</h4><ul>";
                 flag=1;
             }
             

             var nameStr=$("#commonSelectedNameStr").val().split(";");
             for (var i = 0; i < nameStr.length; i++) {
                 var idAndName = nameStr[i].split(",");
                 html += "<li id='div_UserItem_" + idAndName[0]+ "' now='new'><span title='" +   idAndName[1] + "'>" +   idAndName[1] + '</span>';
                 html+="<input  type='button' name='btn' class='btn btn-cancel' value='X' title='移除' onclick=fnRemoveUserItem(\'div_UserItem_" + idAndName[0] + "\'," + idAndName[0] + ") /></li>";

             }
             if (ids.length > 0) {
                 //ids = ids.substring(0, ids.length - 1);
                 if (flag == 1) {
                     html += "</ul></div>";
                     $("#div_showPerson").append(html);              
                 }
                 else {
                     $("#div_showPerson").find("ul").eq(0).append(html);
                 }
                 $("#txtOpenPerson").next().hide();
                 $("#div_showPerson").show();
             }
             else {
                 html="";
             }
             var per= $("#txtOpenPerson").val();
             if(per!="" || per!=null){
                 $("#txtOpenPerson").val(per+","+ids);
             }else{
                 $("#txtOpenPerson").val(ids);
             }
             art.dialog.list["pop_SelPerson"].close();
         }

         function fnOpenChooseGroup() {
             var lth = "";
             if ($("input[name=pop_checkgroup]:checked").length == 0) {
                 art.dialog.tips("请选择群组！", 3);
                 return;
             }

             $("input[name=pop_checkgroup]:checked").each(function () {
                 var s = $(this).attr("value");
                 if ($(this).attr("disabled") == "disabled") {
                     return;
                 }
                 lth = lth + s + ",";           
             });
        
             $.post("/SystemManage/GetOpenGroupUserList",
                 {
                     groupids:lth.substring(0,lth.length-1),
                     ids:$("#txtOpenPerson").val()
                 },
                 function (data) {
                     var html = "";
                     var flag = 0;
                     var ids="";

                     if ($("#sp_choosePerson").length == 0) {
                         html += "<div class='seled-list'><h4 id='sp_choosePerson'>已选特殊人群：</h4><ul>";
                         flag = 1;
                     }
            
                     for (var i = 0; i < data.dataList.length; i++) {
                         html += "<li id='div_UserItem_" + data.dataList[i].UserId + "' now='new'><span title='" + data.dataList[i].Realname + "'>" + data.dataList[i].Realname + '</span>';
                         ids+=data.dataList[i].UserId+",";
                         html += "<input  type='button' name='btn' class='btn btn-cancel' value='X' title='移除' onclick=fnRemoveUserItem(\'div_UserItem_" + data.dataList[i].UserId + "\'," + data.dataList[i].UserId + ",0) /></li>";
                     }
                       
                     if (data.dataList.length > 0) {  
                         $("#txtOpenPerson").next().hide();
                         $("#div_showPerson").show();
                       
                         if (flag == 1) {
                             html += "</ul></div>";                    
                             $("#div_showPerson").append(html);                    
                         }
                         else {
                             $("#div_showPerson").find("ul").eq(0).append(html);                 
                         }
                     }
                     else {
                         html = "";
                     }
                     ids=ids.substring(0,ids.lastIndexOf(','));
                     var per= $("#txtOpenPerson").val();
                     if(per!="" || per!=null){
                         $("#txtOpenPerson").val(per+","+ids);
                     }else{
                         $("#txtOpenPerson").val(ids);
                     }
                     art.dialog.list["pop_openchooseGroup"].close();
                 })      
         }

         function GetUserIDList() {

             var userIds = $("#teacherList [type='radio']:checked").val();
             if (userIds==0||userIds==undefined) { 
                 art.dialog.tips('请选择讲师！',1.5);
                 return;
             }
             var name = $("#" + userIds).attr("username");
             $("#txtTeacher").val(userIds);
             $("#txtTeacherName").val(name);
             $("#txtTeacherName").parent().next().hide();
             art.dialog.list["pop_chooseTeacher"].close();
         }

         function fonmouseout(obj)
         {      
             var object=$(obj).parent().parent().parent();
             var tobj=$(object).find(".teacher_sn span")[0];
             var CPAobj=$(object).find(".teacher_cpa span")[0];
             var beishu=$(object).find(".txt_teacher").attr("tgs");
             var z=parseFloat($(obj).val())* parseFloat(beishu);
             var sn_max=$(tobj).attr("max");
             var cpa_max=$(CPAobj).attr("max");
             if(z<parseFloat(sn_max))
             {
                 $(tobj).html(z.toFixed(2));
             }
             else
             {
                 $(tobj).html(sn_max);
             }

             if(z<parseFloat(cpa_max))
             {
                 $(CPAobj).html(z.toFixed(2));
             }
             else
             {
                 $(CPAobj).html(cpa_max);
             }
         }

         function validate(num)
         {
             var reg = /^\d+[\.]?\d{0,2}$/;
             if(reg.test(num)) return true;
             else
                 return false;       
         } 

         function fremovediv(obj)
         {
             $(obj).parent("div").remove();
         }


         function fnRemoveUserItem(id,userId,type)
         {
             $("#"+id).remove();
             var oldGroupIds=$("#txtOpenPerson").val();
                
             if(type==1)
             {
                 deleteids+=userId+",";

                 var ids= $("#removeUserIDs").val();
                 if (ids=="") {
                     ids=userId;
                 }
                 else if (ids!="") {
                     ids += "," + userId;
                 }
                 $("#removeUserIDs").val(ids);
             }

             oldGroupIds =","+oldGroupIds+",";
             var str=","+userId+",";
             if(oldGroupIds==str){
                 oldGroupIds=oldGroupIds.replace(str,"");
             }else{
                 oldGroupIds=oldGroupIds.replace(str,",");
             }
             oldGroupIds=oldGroupIds.substring(1,oldGroupIds.length-1);
             var splitObj=oldGroupIds.split(",");
             var objflag= true;
             if (splitObj.length>0) {
                 for (var i = 0; i <splitObj.length; i++) {
                     if (splitObj[i]!="") {
                         objflag=false;
                     }
                 }
             }
             if (objflag==true) {
                 oldGroupIds="";
             }
             $("#txtOpenPerson").val(oldGroupIds);
             if (oldGroupIds=="") {
                 $("#div_showPerson").html("");
             }
         }

         function GetOtherArray()
         {
             var tflag=true;
             var tmessage="";
             if(@freeConfig.ApplyType==0)
             {
                 var sn_tsorec=0;
                 var cpa_tsorec=0;
                 var maxtScore=0;
                 var maxCpAScore=0;
                 $("#teacher").children("div").each(function(index,value){
                  
                     if(index==0)
                     {
                         //所内最大学时
                         var sn_max=$($(this).find(".teacher_sn span")[0]).attr("max");
                         //CPA最大学时
                         var cpa_max=$($(this).find(".teacher_cpa span")[0]).attr("max");

                         maxtScore=parseFloat(sn_max);
                         maxCpAScore=parseFloat(cpa_max);
                     }
                     sn_tsorec+=parseFloat($($(this).find(".teacher_sn span")[0]).html());    
                     cpa_tsorec+=parseFloat($($(this).find(".teacher_cpa span")[0]).html()); 
                 });
                 if(sn_tsorec>maxtScore||cpa_tsorec>maxCpAScore)
                 {
                     tmessage="申请的学时超过了年度最大限制,请做更改";
                     tflag=false;
                 }
             }
            
             if(!tflag)
             {
                 art.dialog.tips(tmessage, 4);
                 return false;
             }
            
             return true;
         }


    function fnCallBackInvokeByRichter()
    {
        var ids=$("#txtOpenPerson").val()+","+$("#old_txtOpenPerson").val();
        if (ids!="") {
            var checkboxArray3 = $('#pop_deptUserTemplateList tbody input[type=checkbox]');
            var IsOrderList = ids.split(',');
            for (key in IsOrderList) {
                $.each(checkboxArray3, function (index, value) {
                    if (IsOrderList[key] == $(value).val().split("_")[0]) {
                        //$(this).attr('checked', true);
                        $(this).attr('disabled', "disabled");
                    }
                });
            }
        }
    }

</script>
<script id="teacherListTemplate" type="text/x-jsrender">
    {{for #data}}
      {{if ID==0}}
             <div class="item"> <span onclick='fremovediv(this)' class="close">×</span>
      {{else}}
            <div class="item">
             {{if @ViewBag.Status==0}}
                 <span onclick='fremovediv(this)' class="close">×</span>
             {{/if}}
      {{/if}}
      
        <table class="tab-Form">
            <tr><td class="Tit span10">培训班名称：</td><td>
                   <input type='text' name="className{{:key}}" maxlength="200" class='pxname className' value="{{:ClassName}}" peixun="px"  />
           </td></tr>
            <tr><td class="Tit">授课学时：</td><td><input type='text' name="score{{:key}}" score="score" class='txt_teacher inputscore' onchange='fonmouseout(this)' xueshi="xs" tgs='{{:ConvertBaseTo}}' value="{{:ConvertScore}}"  /><span style="color: gray">  实际授课、主持或演讲时间的 {{:ConvertBaseTo}}倍折算学时</span></td></tr>
            <tr class=' teacher_sn'><td class="Tit">所内学时：</td><td><span class="score" max='{{:TrainGradeScore}}'>{{:tScore}}</span>
                <span style="color: gray">最高可折算{{:TrainGradeScore}}个所内年度学时</span>
            </td></tr>
            <tr class='teacher_cpa'  style='{{:CPA==1?"display='none'":""}}'><td class="Tit">CPA学时：</td><td><span class="score" max='{{:ConvertMax}}'>{{:CPAScore}}</span>
                  <span style="color: gray">最高可折算{{:ConvertMax}}个CPA年度学时</span>
            </td></tr>
        </table>
        </div>
    {{/for}}
</script>
