@using LiXinModels.SystemManage
@model LiXinModels.SystemManage.Free_UserOtherApply
@{
    //@model LiXinModels.SystemManage.Free_UserOtherApply
    ViewBag.Title = "我的申请";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = ViewBag.list as List<Free_OtherApplyConfig>;
    string TrainGrade = ViewBag.TrainGrade as string;

    var UserOtherApply = ViewBag.UserOtherApply as Free_UserOtherApply;

    var teacherlist = ViewBag.teacherlist;
    var Scorelist = ViewBag.Scorelist as List<Free_UserOtherApply>;
}
<script type="text/javascript" src="/Scripts/uploadify-v3.1/jquery.uploadify-3.1.js"> </script>
<link href="/Scripts/uploadify-v3.1/uploadify.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/json2.js"></script>
<input type="hidden" id="txt_id" />
<input type="hidden" id="teacher_id" />
<input type="hidden" id="UserOtherApply_Id"  value="@ViewBag.UserOtherApply_Id"/>
<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new
{
    linkName = "我的申请"
}))
    @Html.Action("Free_ApproveHead", "MyApply")

    @if (ViewBag.UserOtherApply_Id == 0)
    {
        <div class="step-app">
            <div class="ok"><span>1</span>选择申请内容<i></i></div>
            <div class="on"><span>2</span>输入学时<i></i></div>
        </div>
    }
    <form id="form_other">

        @{
            int i = 1;

            if (list.Where(p => p.ApplyType == 1).Count() != 0)
            {
            <div>
                @foreach (var item in list.Where(p => p.ApplyType == 1))
                {

                    var single = Scorelist.Where(p => p.ApplyID == item.ID).FirstOrDefault();
                    <table class="tab-Form xiangmu" id="@item.ID">
                        <tr>
                            <td colspan="2">
                                <div class="ml20" style="font-weight: bold">
                                    @i、<span class="ApplyContent">@item.ApplyContent</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="Tit span8"><span class="must">*</span>申请年度：</td>
                            <td>
                                <span class="year">@ViewBag.year</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="Tit span8"><span class="must">*</span>申报数值：</td>
                            <td>
                                <input type="text" name="score@(i)" score="score" class="zhi inputscore" id="@item.ID" left="@item.ConvertBaseTo" right="@item.ConvertBase" maxlength="6" />
                                @item.ConvertBaseInfo <span style="color: gray">@item.ConvertBaseTo 个学时/ @item.ConvertBase @item.ConvertBaseInfo</span></td>
                        </tr>


                        @if (item.ConvertType != 0)
                        {

                            if ((item.TrainGradeScoreList.Keys.Contains(TrainGrade) ? item.TrainGradeScoreList[TrainGrade].ToString() : "") != "0")
                            {                          
                            <tr>
                                <td class="Tit span8">所内学时：</td>
                                <td><span class="score sn_@(item.ID)" maxvalue="@(item.TrainGradeScoreList.Keys.Contains(TrainGrade) ? item.TrainGradeScoreList[TrainGrade].ToString() : "N/A")">0</span><span style="color: gray">  最高可折算 @(item.TrainGradeScoreList.Keys.Contains(TrainGrade) ? item.TrainGradeScoreList[TrainGrade].ToString() : "N/A") 个所内年度学时</span>

                                    <span style="color: gray">已申请所内学时:</span>
                                    <span style="color: gray" class="ApprovetScore">
                                        @if (single != null)
                                        {
                                            @single.tScore
                                        }
                                        else
                                        {
                                            @:0
                                     }</span>
                                </td>
                            </tr> 
                            }

                        }

                        @if (ViewBag.cpa == 1 && item.ConvertType != 1)
                        {
                            <tr>
                                <td class="Tit span8">CPA学时：</td>
                                <td><span class="score cpa_@(item.ID)" maxvalue="@item.ConvertMax">0</span><span style="color: gray"> 最高可折算 @item.ConvertMax 个CPA年度学时</span>


                                    <span style="color: gray">已申请CPA学时:</span>
                                    <span style="color: gray" class="ApproveCPAScore">
                                        @if (single != null)
                                        {
                                            @single.CPAScore
                                        }
                                        else
                                        {
                                            @:0
                                    }</span>

                                </td>
                            </tr>
                        
                        }
                        <tr class="ziliao">
                            <td class="Tit span8"><span class="must">*</span>情况说明：</td>
                            <td>
                                <div style="line-height: 20px; width: 88%; color: gray;">@(item.MemoTip)</div>
                                @if (Model.ID == 0)
                                {
                                    <textarea name="Memo" cols="20" rows="2" maxlength="200" class=" mt10 span25 other_ziliao" style="width: 50%;">@(item.Memo)</textarea>
                                }
                                else
                                {
                                    <textarea name="Memo" cols="20" rows="2" maxlength="200" class=" mt10 span25 other_ziliao" style="width: 50%;">@(Html.Raw(Model.MemoStr.Trim()))</textarea>
                                }
                            </td>

                        </tr>
                        <tr>
                            <td class="Tit span8"><span class="must">*</span>证明资料： </td>
                            <td>
                                <input type="file" name="courseAttachResource" value=""  class="uploadResource" id="uploadResource@(item.ID)"  />
                                <input type="hidden" name="hidOtherIds" value="" id="hidOther_@(item.ID)"  />

                                <div class="charleft originalTextareaInfo mb5" style="font-weight: bold; font-size: 14px;white-space:normal">
                                    <p>文件提示：@(item.UploadTip)</p>
                                    <p>可以上传的文档类型有：doc，docx，xls，xlsx，ppt，pptx，txt，pdf，bmp，png，jpeg，gif，tiff，jpg</p>
                                </div>
                                <div id="uploadResource-queue">
                                </div>
                                @* ViewBag.UserApplyFiles && ((IEnumerable<LiXinModels.SystemManage.Free_UserApplyFiles>)ViewBag.UserApplyFilest).Count() > 0*@
                                @if ((IEnumerable<LiXinModels.SystemManage.Free_UserApplyFiles>)ViewBag.UserApplyFiles != null)
                                {
                                    <div class="seled-list" id="seled-list_@(item.ID)">
                                        <ul>
                                            @foreach (var t in (IEnumerable<LiXinModels.SystemManage.Free_UserApplyFiles>)ViewBag.UserApplyFiles)
                                            {
                                                <li id="div_courseOther_@(t.ID)"><span title="@t.ResourceName">
                                                    @t.ResourceName
                                                </span>
                                                    <input  type="button" name="btn" value="X" title="移除" class="btn btn-cancel" onclick="fnRemoveOther('div_courseOther_@(t.ID)    ',@t.ID,@item.ID)" />
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }

                            </td>
                        </tr>
                    </table>
                                i++;
                }
            </div>
            }
            /**************************************************************讲师授课*************************************************************/
            if (list.Where(p => p.ApplyType == 0).Count() != 0)
            {
            <div>
                @foreach (var item in list.Where(p => p.ApplyType == 0))
                {
                    var single = Scorelist.Where(p => p.ApplyID == item.ID).FirstOrDefault();
                    <table class="tab-Form jiangshi" id="@item.ID">
                        <tr>
                            <td colspan="2">
                                <div class="ml20" style="font-weight: bold">@i、<span id="ApplyContent">@item.ApplyContent</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="Tit span8"><span class="must">*</span>申请年度：</td>
                            <td>
                                <span class="teacher_year" id="teacher_year">@ViewBag.year</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div>
                                    <input type="button" class="btn btn-co" value="添加" id="teacher_Add" bas="@item.ConvertBaseTo" tgs="@item.TrainGradeScore" cpa="@item.ConvertMax"/>
                                    <div id="teacher_ul" class="list">
                                        <div class="item">
                                            <table class="tab-Form">
                                                <tr>
                                                    <td class="Tit span10">培训班名称：</td>
                                                    <td>
                                                        <input type="text" class="pxname className" maxlength="200" /></td>
                                                </tr>
                                                <tr>
                                                    <td class="Tit">授课学时：</td>
                                                    <td>
                                                        <input type="text" name="score" score="score" class="txt_teacher inputscore" tgs="@item.ConvertBaseTo" onchange="fonmouseout(this)"  /><span style="color: gray">  实际授课、主持或演讲时间的 @item.ConvertBaseTo 倍折算学时</span></td>
                                                </tr>
                                                <tr class="teacher_sn">
                                                    <td class="Tit">所内学时：</td>
                                                    <td>
                                                        <span max="@item.TrainGradeScore" class="score">0</span>
                                                        <span style="color: gray">最高可折算 @item.TrainGradeScore 个所内年度学时</span>
                                                        <span style="color: gray">已申请所内学时:</span>
                                                        <span style="color: gray" class="ApprovetScore">
                                                            @if (single != null)
                                                            {
                                                                @(single.tScore + Convert.ToDecimal(ViewBag.teacherscore));
                                                            }
                                                            else
                                                            {
                                                                @(Convert.ToDecimal(ViewBag.teacherscore))
                                                            }
                                                        </span>
                                                    </td>
                                                </tr>

                                                <tr class="teacher_cpa" style="@(ViewBag.cpa == 1 ? "" : "display:none")">
                                                    <td class="Tit">CPA学时：</td>
                                                    <td><span class="score" max="@item.ConvertMax">0</span><span style="color: gray"> 最高可折算 @item.ConvertMax 个CPA年度学时</span>

                                                        <span style="color: gray">已申请CPA学时:</span>
                                                        <span style="color: gray" class="ApproveCPAScore">
                                                            @if (single != null)
                                                            {
                                                                @(single.CPAScore + Convert.ToDecimal(ViewBag.teacherCPAScore));
                                                            }
                                                            else
                                                            {
                                                                @(Convert.ToDecimal(ViewBag.teacherCPAScore))
                                                            }
                                                        </span>

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>

                        <tr class="ziliao">
                            <td class="Tit span11"><span class="must">*</span>情况说明：</td>
                            <td>
                                <div style="line-height: 20px; width: 88%; color: gray;">@(item.MemoTip)</div>
                                @if (Model.ID == 0)
                                {
                                    <textarea   id="teacher_ziliao" name="Memo" cols="20" rows="2" maxlength="200" class="mt10 fl other_ziliao" style="width: 50%;">@(item.Memo)</textarea>
                                }
                                else
                                {
                                    <textarea   id="teacher_ziliao" name="Memo" cols="20" rows="2" maxlength="200" class="mt10 fl other_ziliao" style="width: 50%;">@(Html.Raw(Model.MemoStr.Trim()))</textarea>
                                }
                            </td>
                        </tr>
                        <tr class="mt10">
                            <td class="Tit span8"><span class="must">*</span>证明资料： </td>
                            <td>
                                <input type="file" name="teacher_uploadResource" value="" class="teacher_uploadResource" id="teacher_uploadResource" />
                                <input type="hidden" name="hidteacherIds" value="" id="hidteacher_@(item.ID)" />
                                <div class="charleft originalTextareaInfo mb5" style="font-weight: bold; font-size: 14px;white-space:normal">
                                    <p>文件提示：@(item.UploadTip)</p>
                                    <p>可以上传的文档类型有：doc，docx，xls，xlsx，ppt，pptx，txt，pdf，bmp，png，jpeg，gif，tiff，jpg</p>
                                </div>
                                <div id="teacher_uploadResource-queue">
                                </div>
                                @if ((IEnumerable<LiXinModels.SystemManage.Free_UserApplyFiles>)ViewBag.UserApplyFiles != null)
                                {
                                    <div class="seled-list" id="teacher_seled_list">
                                        <ul>
                                            @foreach (var t in (IEnumerable<LiXinModels.SystemManage.Free_UserApplyFiles>)ViewBag.UserApplyFiles)
                                            {
                                                <li id="div_courseTeacher_@(t.ID)"><span title="@t.ResourceName">
                                                    @t.ResourceName
                                                </span>
                                                    <input  type="button" name="btn" value="X" title="移除" class="btn btn-cancel" onclick="fnRemoveteacher('div_courseTeacher_@(t.ID)    ',@t.ID,@item.ID)" />
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                              
                }
            </div>
            }
        }
        <div>
            @if (ViewBag.UserOtherApply_Id == 0)
            {
                <input type="button" value="上一步" class="btn" id="btn_prev" />
            }
            <input type="button" value="保存" class="btn" id="btn_save" onclick="fsave(0)" />
            <input type="button" value="提交" class="btn" id="btn_up" onclick="fsave(1)" />
            <input type="button" value="取消" class="btn" id="btn_cancel" />
        </div>
    </form>
</div>
<script type="text/javascript">
    var all_ul_num=0;
    var allload_num=0;
    var check_allload_num=0;
    var validator=null;
    var currNum=0;
    var flag=true;
    $(document).ready(function () {
        all_ul_num=$(".xiangmu").length+$(".jiangshi").length;

        $("#btn_Add").click(function(){           
            $("#uploadResource").uploadify('upload', '*');
        });

        if(@Model.ID>0)
        {
            if('@Model.ApplyType'=='1')
            {
                $(".year").html("@Model.Year");
                $(".zhi").val("@Model.ConvertScore");
                $(".sn_@(Model.ApplyID)").html(@Model.tScore);
                $(".cpa_@(Model.ApplyID)").html(@Model.CPAScore);
            }
            else if('@Model.ApplyType'=='3')
            {
                $("#teacher_year").html('@Model.Year');
                var object= JSON.parse('@Html.Raw(teacherlist)');
                $("#teacher_ul").html($("#teacherListTemplate").render(object));
            }
    }


        //#region  验证
        $.validator.addMethod("className", function (value, element)
        {
            return !this.optional(element) && (value != "");
        }, "请输入培训班名称");
        $.validator.addMethod("inputscore", function (value, element)
        {
            var reg = /^\d+[\.]?\d{0,2}$/;
            return !this.optional(element) && (reg.test(value)) && parseFloat(value) <= 999&& parseFloat(value)>0;
        }, '请输入申报数值,规则：输入保留2位小数，且在0-999范围内(不包括0)');

        //$.validator.addMethod("other_ziliao ", function (value, element)
        //{
        //    alert(value);
        //    return !this.optional(element) && (value != "");
        //}, "请输入情况说明");

        validator= $("#form_other").validate({
            errorPlacement: function (error, element)
            {
              
                if (element.attr("score") == "score" )
                {
                    error.insertAfter(element.next());
                }
                else
                {
                    error.insertAfter(element);
                }
            },
            event: "blur",
            rules: {Memo:{required: true}},
            messages: {Memo:{required: "请输入情况说明"}},
            highlight: function (element, errorClass)
            {
                $(element).addClass(errorClass);
            }
        });
        //#endregion

        //#region  学时换算
        $(".zhi").change(function () 
        {
            var id = $(this).attr("id");
            var value = $(this).val();
            var left = $(this).attr("left"); //1个学时
            var right = $(this).attr("right"); //1天
            if ($(".sp_" + id).size() != 1)
            {
                var ApprovetScore=0;
                if($(".sn_" + id + "").attr("maxvalue")!="N/A")
                {
                    var ApprovetScore= parseFloat($(".sn_" + id + "").attr("maxvalue"))-parseFloat( $(".sn_" + id + "").parent().find(".ApprovetScore").html());
                }
                var ApproveCPAScore=parseFloat($(".cpa_" + id + "").attr("maxvalue"))- parseFloat( $(".cpa_" + id + "").parent().find(".ApproveCPAScore").html());
                    
                    
                ApprovetScore=ApprovetScore<0?0: ApprovetScore.toFixed(2);
                ApproveCPAScore=ApproveCPAScore<0?0:ApproveCPAScore.toFixed(2);
                if (parseFloat(right) == 1)
                {
                    //所内学时
                    if ((ApprovetScore < parseFloat(value * left)||ApprovetScore==0))
                    {
                        $(".sn_" + id + "").html(ApprovetScore);                          
                    }
                    else {
                        $(".sn_" + id + "").html(parseFloat(value * left).toFixed(2));                        
                    }
                        
                    //CPA学时
                    if ((ApproveCPAScore < parseFloat(value * left))) {
                        $(".cpa_" + id + "").html(ApproveCPAScore);
                    }
                    else {        
                        $(".cpa_" + id + "").html(parseFloat(value * left).toFixed(2));
                    }
                }
                else
                {
                    if (ApprovetScore < parseFloat(parseFloat(value / right) * left)||ApprovetScore==0) {
                        $(".sn_" + id + "").html(ApprovetScore);
                    }
                    else {
                        $(".sn_" + id + "").html(parseFloat(parseFloat(value / right) * left).toFixed(2));                   
                    }

                    if (ApproveCPAScore< parseFloat(parseFloat(value / right) * left)) {
                        $(".cpa_" + id + "").html(ApproveCPAScore);
                    }
                    else { 
                        $(".cpa_" + id + "").html(parseFloat(parseFloat(value / right) * left).toFixed(2));
                    }
                }
            }

        })
        //#endregion

        $("#btn_prev").click(function(){
            if($("#UserOtherApply_Id").val()=="0")
            {
                location.href='/MyApply/Free_OtherFromAdd';
            }
            else
            {
                location.href='/MyApply/MyApply?flag=4';
            }
        })
        $("#btn_cancel").click(function(){
            location.href='/MyApply/MyApply?flag=4';
        })

        //#region   上传附件
        $('.uploadResource').uploadify({
            'formData': { 'folder': "@(System.Configuration.ConfigurationManager.AppSettings["FreeUplpadUrl"])" },
            'buttonText': '选择文件',
            'buttonClass': 'browser',
            'removeCompleted': false,
            'swf': '/Scripts/uploadify-v3.1/uploadify.swf',
            'uploader': '/Common/UploadFileAction?detailFlag=1',//此处因需要增加了detailFlag字段 其他地方使用请自行移除
            'auto': false,
            'multi': true,
            'fileDesc': '文档',
            'queueID':"uploadResource-queue",
            'fileTypeExts': '*.doc; *.docx; *.xls; *.xlsx;*.ppt;*.pptx;*.txt;*.pdf;*.bmp;*.png;*.png;*.jpeg;*.gif;*.tiff;*.jpg;',
            'onCancel': function (file) {
            },
            'onSelect': function (file) {
                $("#tempAttachQueueId").val(file.id);
            },
            'onUploadStart': function (file) {
            },
            'onUploadError': function (file, errorCode, errorMsg, errorString) {
                if (errorCode != -280) {
                    art.dialog.tips('上传过程中发送异常，请重新选择文件！', 1.5);
                    $('input[type="submit"]').removeAttr('disabled');
                }
            },
            'onUploadSuccess': function (file, data, response) {
                var a = data.split('|');
                
                if (a.length > 0) {

                    var ResourceName = a[0];
                    var RealName = a[1];
                    if($("#txt_id").val()!="")
                    {
                        $.post("/MyApply/SubmitAddResource?userApplyID=" + $("#txt_id").val() + "&ResourceName=" + escape(ResourceName) + "&RealName=" + RealName +
                            "&IsDelete=0", function (data) {
                                currNum++;
                            });
                    }
                    else
                    {
                        art.dialog.tips('上传发生错误！', 3);
                    }
                }
            },
            'onAllComplete': function () {

            }
        });

        $('#teacher_uploadResource').uploadify({
            'formData': { 'folder': "@(System.Configuration.ConfigurationManager.AppSettings["FreeUplpadUrl"])" },
            'buttonText': '选择文件',
            'buttonClass': 'browser',
            'removeCompleted': false,
            'swf': '/Scripts/uploadify-v3.1/uploadify.swf',
            'uploader': '/Common/UploadFileAction?detailFlag=1',//此处因需要增加了detailFlag字段 其他地方使用请自行移除
            'auto': false,
            'multi': true,
            'fileDesc': '文档',
            'queueID':'teacher_uploadResource-queue',
            'fileTypeExts': '*.doc; *.docx; *.xls; *.xlsx;*.ppt;*.pptx;*.txt;*.pdf;*.bmp;*.png;*.png;*.jpeg;*.gif;*.tiff;*.jpg;',
            'onCancel': function (file) {
            },
            'onSelect': function (file) {
               
                $("#tempAttachQueueId").val(file.id);
            },
            'onUploadStart': function (file) {
            },
            'onUploadError': function (file, errorCode, errorMsg, errorString) {
                if (errorCode != -280) {
                    art.dialog.tips('上传过程中发送异常，请重新选择文件！', 1.5);
                    $('input[type="submit"]').removeAttr('disabled');
                }
            },
            'onUploadSuccess': function (file, data, response) {
                var a = data.split('|');

                if (a.length > 0) {

                    var ResourceName = a[0];
                    var RealName = a[1];
                    if($("#txt_id").val()!="")
                    {
                        $.post("/MyApply/SubmitAddResource?userApplyID=" + $("#txt_id").val() + "&ResourceName=" + escape(ResourceName) + "&RealName=" + RealName +
                            "&IsDelete=0", function (data) {
                                currNum++;
                            });
                    }
                    else
                    {
                        art.dialog.tips('上传发生错误！', 3);
                    }
                }
            },
            'onAllComplete': function () {

            }
        });
        //#endregion

        /*-------------------------------------*/

        $("#teacher_Add").click(function(){
            var bas=$(this).attr("bas");
            var tgs=$(this).attr("tgs");
            var cpa=$(this).attr("cpa")
            var key=  $("#teacher div").length;
            var teacherObject=
                {
                    key:key,
                    ID:0,
                    ClassName:"",
                    ConvertScore:0,
                    ConvertBaseTo:bas,
                    TrainGradeScore:tgs,
                    tScore:0,
                    CPAScore:0,
                    ConvertMax:cpa,
                    CPA:"@(ViewBag.cpa == 1 ? 1 : 0)",
                    ApprovetScore:$(this).parent().find(".ApprovetScore").html(),
                    ApproveCPAScore:$(this).parent().find(".ApproveCPAScore").html()
                };


            $("#teacher_ul").append($("#teacherListTemplate").render(teacherObject));
        });

    });


        //#region 添加
        function addAll(all,teacherall,id,type,upload_num)
        {
            //debugger;
            flag=false;
            $("#txt_id").val(id);
            var removefileID="";
            if(all!="")//其他形式
            {
                $("input[name='hidOtherIds']").each(function(){
                    var value=$(this).val();
                    if(value!="")
                    {
                        removefileID=removefileID==""?value:removefileID+","+value;
                    }
                }); 
            }
            else//讲师
            {
                $("input[name='hidteacherIds']").each(function(){
                    var value=$(this).val();
                    if(value!="")
                    {
                        removefileID=removefileID==""?value:removefileID+","+value;
                    }
                }); 
            }
            currNum=0;
            $.post("/MyApply/SubimtOther_New?type="+type
                +"&UserOtherApply_Id="+$("#UserOtherApply_Id").val()+"&removefileID="+removefileID,
                {other_content:all,teacher_content:teacherall},function(data){
                    if(data.result==1)
                    {
                        //debugger;
                        $("#txt_id").val(data.userApplyID);
                        //其他形式
                        if(data.other_teacher==1)
                        {
                            if(upload_num>0)
                            {
                                $("#uploadResource"+id+"").uploadify('upload', '*');
                            }
                        }
             
                        //讲师授课
                        if(data.other_teacher==2)
                        {
                            if(upload_num>0)
                            {
                                $("#teacher_uploadResource").uploadify('upload', '*');
                            }
                        }
                        // debugger;
                        if(currNum==upload_num)
                        {

                            flag=true;
                        }

                        ++allload_num;                   
               
                        if(allload_num==all_ul_num)
                        {
                            art.dialog.tips(type==0?"保存成功！":"提交成功！", 1,function(){location.href='/MyApply/MyApply?flag=4'})
                        }
                    }           
                });

        }
        //#endregion

        function fremovediv(obj)
        {
            $(obj).parent("div").remove();
        }

        function fonmouseout(obj)
        {
            // debugger;
            var object=$(obj).parent().parent().parent();
            var tobj=$(object).find(".teacher_sn span")[0];
            var CPAobj=$(object).find(".teacher_cpa span")[0];
            var beishu=$(object).find(".txt_teacher").attr("tgs");
            var z=parseFloat($(obj).val())* parseFloat(beishu);
            var sn_max=$(tobj).attr("max");
            var cpa_max=$(CPAobj).attr("max");
            if(z<parseFloat(sn_max))
            {
                $(tobj).html(z.toFixed(2));
            }
            else
            {
                $(tobj).html(sn_max);
            }
            if(z<parseFloat(cpa_max))
            {
                $(CPAobj).html(z.toFixed(2));
            }
            else
            {
                $(CPAobj).html(cpa_max)
            }
        }

        //#region  表单验证
        function fCheck()
        {
            var b=true;
        
            if($(".xiangmu").length!=0)
            {
                $(".xiangmu").each(function(){
                    id=$(this).attr("id");
                    
                    var mao=$(this).find(".zhi").val()
               
                    var upload_num=  $("#uploadResource-queue").find(".uploadify-queue-item").length;   

                    var seled_list_length=$(".seled-list").children("ul").children("li").length; 
                    //if($("#seled-list_"+id+"").children("ul").children("li").length==0&&upload_num==0)
                    if(upload_num==0&&seled_list_length==0)
                    {
                        art.dialog.tips('请上传证明资料', 3);
                        b=false;                   
                    }
                });
            }

            if($(".jiangshi").length==1)
            {
                //记录培训班4行数据-会有多个
                var px_content="";
               
                //debugger;
                var upload_num=  $("#teacher_uploadResource-queue").find(".uploadify-queue-item").length;

                var teacher_seled_list_length=$("#teacher_seled_list").children("ul").children("li").length;

                if(teacher_seled_list_length==0&&upload_num==0)
                {
                    art.dialog.tips('请上传证明资料', 3);
                    b=false;
                    return false;
                } 
            }
            return b;
        }
        //#endregion

        //#region 保存
        function fsave(type)
        {
            if(@ViewBag.UserOtherApply_Id>0&&$("#teacher_ul div").length==0&& "@ViewBag.ApplyType"=="3")
            {
                art.dialog.tips('请至少添加一个授课信息', 3);
                return false;
            }
            if(validator.form())
            {
                if(GetOtherArray())
                {
                    var id;
                    var year;
                    var zhi;
                    var sn_sorec=0;
                    var cpa_sorec=0;
                    var ziliao="";
                    var applyname="";

                    var all="";

                    var z=true;//控制当有一个其他形式和授课时 其他形式出现提示 不往下走
                    // debugger;
                    //#region  其他形式添加
                    if($(".xiangmu").length!=0)
                    {          
                        $("#btn_save").attr("disabled", true);
                        $("#btn_up").attr("disabled", true);
                        $(".xiangmu").each(function(){
             
                            id=$(this).attr("id");
                            applyname=$(this).find(".ApplyContent").html();
                            
                            year=$(this).find(".year").html();
                            var mao= $(this).find(".zhi").val()
                           
                            zhi=mao;
                             
                            if($(this).find(".sn_"+id+"").length==1)
                            {
                                sn_sorec=$(this).find(".sn_"+id+"").html();
                            }
                            else
                            {
                                sn_sorec=0;                   
                            }
                
                            if($(this).find(".cpa_"+id+"").length==1)
                            {
                                cpa_sorec=$(this).find(".cpa_"+id+"").html();
                            }
                            else
                            {
                                cpa_sorec=0;                    
                            }

                          
                            ziliao=$(this).find(".other_ziliao").val();
                            //♣♥
                            //all+=year+"♣"+zhi+"♣"+sn_sorec+"♣"+cpa_sorec+"♣"+ziliao+"♥";
                            all=year+"♣"+zhi+"♣"+sn_sorec+"♣"+cpa_sorec+"♣"+ ziliao+"♣"+applyname+"♣"+id;                

                            var upload_num=  $("#uploadResource-queue").find(".uploadify-queue-item").length;             
                            var seled_list_length=$(".seled-list").children("ul").children("li").length; 
                            if(upload_num==0&&seled_list_length==0)
                            {
                                $("#btn_save").attr("disabled", false);
                                $("#btn_up").attr("disabled", false);
                                art.dialog.tips('请上传证明资料', 3);  
                             
                                z=false;
                                return false;
                            }
                
                            //循环添加
                            if(flag)
                            {
                                addAll(all,'',id,type,upload_num);
                            }

                        });           
                    }
                    //#endregion

                    //#region  讲师添加
                    if($(".jiangshi").length==1&&z)
                    {
                        var chuanzhi="";
                        var tgs=$("#teacher_Add").attr("tgs");
                        ////♣♥

                        chuanzhi=$("#ApplyContent").html()+"♣"+$("#teacher_year").html()+"♣";
                 
                        //记录培训班4行数据-会有多个
                        var px_content="";
                        var c=true;
                        //●◆
                        $("#btn_save").attr("disabled", true);
                        $("#btn_up").attr("disabled", true);
                        $("#teacher_ul").children("div").each(function(){
                            //  debugger;
                           
                            var snname= $(this).find(".pxname").val();
                           
                            px_content+=snname+"●";
                            
                            var snxueshi= $(this).find(".txt_teacher").val();
                                              
                            //所内最大学时
                            var sn_max=$($(this).find(".teacher_sn span")[0]).attr(".max");
                            //CPA最大学时
                            var cpa_max=$($(this).find(".teacher_cpa span")[0]).attr(".max");

                            var beishu=$($(this).find(".txt_teacher")).attr("tgs");                        

                            px_content+=snxueshi+"●";

                            if($($(this).find(".teacher_sn span")[0]).html()!="")
                            {
                                px_content+=$($(this).find(".teacher_sn span")[0]).html()+"●";
                            }
                            if($($(this).find(".teacher_cpa span")[0]).html()!="")
                            {
                                px_content+=$($(this).find(".teacher_cpa span")[0]).html()+"◆";
                            }
                            
                        });


                        if(c){
                            var upload_num=  $("#teacher_uploadResource-queue").find(".uploadify-queue-item").length;

                            var teacher_seled_list_length=$("#teacher_seled_list").children("ul").children("li").length;

                            //if(teacher_seled_list_length==0&&upload_num==0)
                            if(upload_num==0&&teacher_seled_list_length==0)
                            {
                                $("#btn_save").attr("disabled", false);
                                $("#btn_up").attr("disabled", false);
                                art.dialog.tips('请上传证明资料', 3);
                                return false;
                            }
                            else{

                                chuanzhi+=$("#teacher_ziliao").val();

                                if(flag)
                                {
                                    addAll('',chuanzhi+"♣"+$(".jiangshi").attr("id")+"♣"+px_content,$(".jiangshi").attr("id"),type,upload_num);
                                }
                            }
                        }

                     
                    }
                    //#endregion
                }
            }
        }
        //#endregion

        function fnRemoveOther(id,relid,itemID)
        {
            $("#"+id).remove();
            var ids= $("#hidOther_"+itemID).val();
            if (ids=="") {
                ids=relid;
            }
            else if (ids!="") {
                ids += "," + relid;
            }
            $("#hidOther_"+itemID).val(ids);
        }

        function fnRemoveteacher(id,relid,itemID)
        {
            $("#"+id).remove();
            var ids= $("#hidteacher_"+itemID).val();
            if (ids=="") {
                ids=relid;
            }
            else if (ids!="") {
                ids += "," + relid;
            }
            $("#hidteacher_"+itemID).val(ids);
        }


        function validate(num)
        {
            var reg = /^\d+[\.]?\d{0,2}$/;
            if(reg.test(num)) return true;
            else  return false;
        } 

        //#region 判断是否有为0的学时
        function GetOtherArray()
        {
            var Message="所申请的内容：";
            var flag=true;
            var tmessage="";
            var tflag=true;
            var Content="";
            var isother=false;
            //
            if($(".xiangmu").length!=0)
            {      
                isother=true;
                $(".xiangmu").each(function(){
               
                    var id=$(this).attr("id");
                    var Content=$(this).find(".ApplyContent").html();
                    var sn_sorec=0;    
                    var cpa_sorec=0; 
                    if($(this).find(".sn_"+id+"").length==1)
                    {
                        sn_sorec=$(this).find(".sn_"+id+"").html();
                    }
                
                    if($(this).find(".cpa_"+id+"").length==1)
                    {
                        cpa_sorec=$(this).find(".cpa_"+id+"").html();
                    }
                    if(sn_sorec==0&&cpa_sorec==0)
                    {
                        flag=false;
                        Message+=Content+",";
                    }
                });
            
            }
           

            if($(".jiangshi").length==1)
            {
                var sn_tsorec=0;
                var cpa_tsorec=0;
                var maxtScore=0;
                var maxCpAScore=0;
                $("#teacher_ul").children("div").each(function(index,value){
               
                    var baseScore=$(this).find(".txt_teacher").val();
                    var beishu=$($(this).find(".txt_teacher")).attr("tgs");
                    if(index==0)
                    {
                        //所内最大学时
                        var sn_max=$($(this).find(".teacher_sn span")[0]).attr("max");
                        //CPA最大学时
                        var cpa_max=$($(this).find(".teacher_cpa span")[0]).attr("max");

                        maxtScore=parseFloat(sn_max)- parseFloat($(this).find(".ApprovetScore").html());
                        maxCpAScore=parseFloat(cpa_max)-parseFloat($(this).find(".ApproveCPAScore").html());
                    }
                    sn_tsorec+=parseFloat($($(this).find(".teacher_sn span")[0]).html());    
                    cpa_tsorec+=parseFloat($($(this).find(".teacher_cpa span")[0]).html()); 
                });
                if(sn_tsorec>maxtScore||cpa_tsorec>maxCpAScore)
                {
                    tmessage="对担当培训授课人的相关内容申请的学时超过了年度最大限制,请做更改";
                    tflag=false;
                }
                if(isother)
                {
                    if(sn_tsorec==0&&sn_tsorec==0)
                    {
                        flag=false;
                        Message+=Content+",";
                    }
                }
            }
            Message+="以上项目所申请的学时全部为0,请选择其他的年度进行申请";
            if(!tflag)
            {
                art.dialog.tips(tmessage, 4);
                return false;
            }
            else
            {
                if(!flag)
                {
                    art.dialog.tips(Message, 4);
                    return false;
                }
            }
            return true;
        }
        //#endregion

        function GetNewScore(obj,ID,year)
        {
            $.post("GetScoreByUser?year="+year+"&ID="+ID,function(data){
                var tScore=data.dataList.tScore;
                var CPAScore=data.dataList.CPAScore;
                var teacherObject= $(obj).parentsUntil("table");
                var object= $(obj).parentsUntil("table");
                $(object).find(".ApprovetScore").html(tScore);
                $(object).find(".ApproveCPAScore").html(CPAScore);
                $(object).find(".zhi").val("");
                $(object).find(".score").html(0);
                $(object).find(".score").html(0);
                $(teacherObject).find(".txt_teacher").val("");
                $(teacherObject).find(".score").html(0);
                $(teacherObject).find(".score").html(0);
            });
        }

     
</script>

<script id="teacherListTemplate" type="text/x-jsrender">
    {{for #data}}
      {{if ID==0}}
             <div class="item"><span onclick='fremovediv(this)' class="close">×</span>
      {{else}}
            <div class="item"><span onclick='fremovediv(this)' class="close">×</span>
      {{/if}}
      
        <table class="tab-Form">
            <tr><td class="Tit span10">培训班名称：</td><td><input type='text' name="className{{:key}}" maxlength="200" class='pxname className' value="{{:ClassName}}" /></td></tr>
            <tr><td class="Tit">授课学时：</td><td><input type='text' name="score{{:key}}" score="score" class='txt_teacher inputscore' onchange='fonmouseout(this)' tgs='{{:ConvertBaseTo}}' value="{{:ConvertScore}}"  /><span style="color: gray">  实际授课、主持或演讲时间的 {{:ConvertBaseTo}}倍折算学时</span></li>
            <tr class="teacher_sn"><td class="Tit">所内学时：</td><td><span class="score" max='{{:TrainGradeScore}}'>{{:tScore}}</span>
               <span style="color: gray">最高可折算{{:TrainGradeScore}}个所内年度学时</span>
               <span style="color: gray">已申请所内学时:</span>
               <span style="color: gray" class="ApprovetScore">{{:ApprovetScore}}</span>
            </td></tr>
            <tr class='teacher_cpa'  style='{{:CPA==1?"":"display:none"}}'><td class="Tit">CPA学时：</td><td><span class="score" max='{{:ConvertMax}}'>{{:CPAScore}}</span>
                  <span style="color: gray">最高可折算{{:ConvertMax}}个CPA年度学时</span>
                    <span style="color: gray">已申请CPA学时:</span>
               <span style="color: gray" class="ApproveCPAScore">{{:ApproveCPAScore}}</span>
            </td></tr>
        </table>
        </div>
    {{/for}}
</script>

