@{
    ViewBag.Title = "编辑外聘讲师";
    Layout = null;
    
}
<div class="centerbody span50">
    <form id="formAddTeacher">
    <table class="tab-Form all">
        <tr>
            <td class="Tit span8">
                <span class="must">*</span> 讲师姓名：
            </td>
            <td>
                <input id="pop_Realname" name="Realname" type="text" class="span20" value="@Model.Realname" />
            </td>
        </tr>
        <tr>
            <td class="Tit">
               <span class="must">*</span> 性别：
            </td>
            <td>
                <input type="radio" name="sex" value="0" checked="checked" />男
                <input type="radio" name="sex" value="1" />女
            </td>
        </tr>
        <tr>
            <td class="Tit">
                讲师薪酬：
            </td>
            <td>
                <input id="pop_PayGrade" name="PayGrade" type="text" class="span20" value="@Model.PayGrade"/>
            </td>
        </tr>
        <tr>
            <td class="Tit">
                联系方式：
            </td>
            <td>
                <input id="pop_Telephone" name="Telephone" type="text" class="span20" />
            </td>
        </tr>
        <tr>
            <td class="Tit">
                邮箱：
            </td>
            <td>
                <input id="pop_Email" name="Email" type="text" class="span20" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="tc">
                <input type="submit" id="pop_btnSure" class="btn" value="确定" />
                <input type="button"  class="btn btn-cancel" value="取消" onclick="closeDialog('art_AddOutserTeacher')" />
            </td>
        </tr>
    </table>
    <input name="UserId" type="hidden" value="@Model.UserId" />
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function ()
    {
        if (@ViewBag.userID > 0)
        {
           var sex="@Model.Sex";
          $("input[name='sex'][value="+sex+"]").attr("checked", true);
          $("#pop_Telephone").val("@Model.Telephone");
          $("#pop_Email").val("@Model.Email");
        }
      
      //
      jQuery.validator.addMethod("IsEmail", function(value, element) {       
         var length = value.length;   
        var mobile = /^([a-zA-Z0-9_\.\-])+@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;   
        return this.optional(element) ||length ==0||mobile.test(value);}, "请正确填写您的邮箱"); 

      jQuery.validator.addMethod("IsPhone", function(value, element) {       
         var length = value.length;  
        return this.optional(element) ||length ==0||(length==11&&!isNaN(value)) }, "手机格式错误，应为11位数字"); 
      
        $("#formAddTeacher").validate( 
        {
            event: "blur",
            rules: {
                Realname: {
                    required:true,
                    maxlength:30
                },
                Email:{IsEmail:true},
                Telephone:{IsPhone:true},
                PayGrade:{ maxlength:50}

            },
            messages: {
                Realname: {
                    required: "请输入讲师姓名",
                    maxlength: "讲师姓名不能多于30个字符"
                },
                PayGrade:{ maxlength: "讲师薪酬最大可输入50字符"}

            },
            errorPlacement: function (error, element)
            {
                if (element.is(':radio') || element.is(':checkbox'))
                {
                    var eid = element.attr('name');
                    error.appendTo(element.parent());
                } else
                {
                    error.insertAfter(element);
                }
            },
            submitHandler: InsertOuterTeacher
        });
    });

   
</script>
