@using System.Web.Mvc.Html
@using LiXinLanguage
@using LiXinModels.User
@{
    ViewBag.Title = NavigateMenuLanguage.KnowledgeKeyManage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var depList = ViewBag.Departments as List<Sys_Department>;
}
<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new { linkName = ViewBag.Flag == 0 ? "KnowledgeKeyManage" : "DepKnowledgeKeyManage" }))
    <div class="so-set">
        <input type="hidden" id="selectDeptID" value="0"/>
        <table class="tab-Form">
            <tr>
                <td class="Tit span6">知识点名称： </td>
                <td class="span20"><input type="text" class="span21 Box searchclass" id="searchName" value="请输入搜索内容" info=""/></td>
                @{
                    if (ViewBag.Flag ==1)
                    {
                        <td class="Tit span6">所管部门：</td>
                        <td>
                            
                            <select id="deptList">
                                @{
                                    foreach (var de in depList)
                                    {
                                        <option value="@(de.DepartmentId)">@(de.DeptName)</option>
                                    }
                                }
                            </select>
                        </td>
                    }
                }
                <td class="so-do">
                    <input class="btn" type="button" value="搜索" id="btnSearch"/>
                    <input class="btn btn-co" type="button" id="btnAddKey" value="新增知识点"/>
                </td>
            </tr>
        </table>
    </div>
    <div class="mt10">
        <table class="tab-List">
            <thead>
                <tr>
                    <th class="span4">序号</th>
                    <th class="span21">知识点名称</th>
                    <th>描述</th>
                    <th class="span10">试题数量</th>
                    <th class="span8">操作</th>
                </tr>
            </thead>
            <tbody id="keyList"></tbody>
            <tfoot></tfoot>
        </table>
     </div>
</div>
<script id="keyListTemplate" type="text/x-jsrender">
    {{for #data}}
    <tr>
        <td>{{:#index+1}}</td>
        <td style="text-align:left;"><div class="ovh span20" title="{{:KeyName}}" >{{:KeyName}}</div></td>
        <td style="text-align:left;"><div class="ovh span30" title="{{html:KeyDescription}}">{{html:KeyDescription}}</div></td>
        <td class="tc c_green f14"><strong>{{:Number}}</strong></td>
        <td class="tc">
            <div class="do">
                <a class="icon iedit" onclick="EditKey({{:_id}});" title="编辑"></a>
                <a class="icon idel" onclick="DeleteKey({{:_id}},this);" title="删除"></a>
            </div>
        </td>
    </tr>
    {{/for}}
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //初始化查询条件
        initSearch();

        //当部门分所时，初始化部门
        if (@(ViewBag.Flag) ==1 && $("#deptList option").length > 0) {
            $("#selectDeptID").val($("#deptList option:first").attr("value"));
        }

        //添加知识点
        $("#btnAddKey").bind("click", function() {
            EditKey(0);
        });

        //查询
        $("#btnSearch").bind("click", function() {
            InitData();
        });
        
        //部门下拉框事件
        $("#deptList").bind("change", function() {
            $("#selectDeptID").val($(this).val());
            InitData();
        });
        
        //加载列表
        InitData();
    });
    //大小图切换

    function changeView(str) {
        ChangeList({ str: str, fun: function() { InitData(); } });
    }

    function StringAs(string) {  
    return '"' + string.replace(/(\\|\"|\n|\r|\t)/g, "\\$1") + '"';  
    }  


    //初始化列表

    function InitData() {
        $("#keyList").JsRenderData({
            sourceUrl: '/KnowledgeKey/GetAllKnowledgeKeys?keyName=' + escape($.trim(getSearchWord("searchName"))) + '&deptId='+$("#selectDeptID").val() + '&t=' + new Date(),
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: 'keyListTemplate'
        });
    }

    //编辑知识点

    function EditKey(id) {
        art.dialog.load('/KnowledgeKey/DepEditKnowledgeKey?id=' + id + '&t=' + new Date(),{ title: '编辑知识点', id: 'EditKnow',width: 500});
    }

    //删除知识点

    function DeleteKey(id, obj) {
        art.dialog({
            title: "@CommonLanguage.Common_Tip",
            content: "@CommonLanguage.Common_Confirm_Delete",
            width: 300,
            okValue: '@CommonLanguage.Common_Sure',
            cancelValue: '@CommonLanguage.Common_Cancel',
            height: 50,
            fixed: true,
            lock: true,
            ok: function() {
                $.getJSON("/KnowledgeKey/DeleteKey?id=" + id, function(data) {
                    if (data.result == 0)
                        art.dialog.tips(data.content, 3);
                    else {
                        InitData();
                    }
                });
            },
            cancel: function() {
            }
        });
    }
</script>