@model LiXinModels.Report_Together.Report_CourseShow
@{
    Layout = null;
}
<div class="so-set">
    <table class="tab-Form">
        <tbody>
            <tr>
                <td class="Tit span6">课程名称：</td>
                <td>
                    <div class="ovh tl span15" title=" @(Model.CourseName)">@(Model.CourseName)</div>
                </td>
                <td class="Tit span6">讲师：</td>
                <td>@(Model.TeacherName)</td>
                <td class="Tit span6">总开放人数：</td>
                <td>@(Model.openNumber)</td>
                <td class="Tit span6">学时：</td>
                <td>@(Model.CourseLength)</td>
                <td class="Tit span6">是否有在线测试：</td>
                <td>@(Model.IsTestStr)</td>
            </tr>
            <tr>
                <td class="Tit span6">开课时间：</td>
                <td>@(Model.CourseTime)</td>
                <td class="Tit span6">开放级别：</td>
                <td colspan="7">@(Model.OpenLevel)</td>
            </tr>
        </tbody>
    </table>
    <input id="hidSurveyPaperId" type="hidden" value="@(Model.SurveyPaperId)"/>
    <input id="hidisPing" type="hidden" value="@(Model.IsPing)"/>
    <input id="hidisTest" type="hidden" value="@(Model.IsTest)"/>
    <input id="hidStartTime" type="hidden" value="@(Model.StartTime.ToString("yyyy-MM-dd HH:mm"))"/>
</div>
