@using LiXinLanguage
@using LiXinModels.Examination.DBModel
@{
    Layout = null;
    Response.Expires = 0;
    var model = ViewData["model"] as tbQuestionSort;
    string fsort = Request.QueryString["fatherID"] == null ? "0" : Request.QueryString["fatherID"];
}

<div class="centerbody">
    <form id="questionSortForm" method="post" action="">
        <input id="hidfatherID" name="hidfatherID" type="hidden" value="@ViewData["fatherID"]" />
        <table class="tab-Form tab-now">
            <tr>
                <td class="Tit">上级题库：</td>
                <td class="span30">
                    <input type="hidden" id="fatherSort" name="fatherSort" value="@fsort" />
                    <div title="@ViewData["fatherModel"]">@ViewData["fatherModel"]</div>
                </td>
            </tr>
            <tr>
                <td class="Tit"><span class="must">*</span>题库名称：</td>
                <td>
                    <input type="text" class="span20" maxlength="30" id="txtSortName" name="txtSortName" value="@(model.Title)" isType="text" isnull="0" message="请填写名称" />
                </td>
            </tr>
            <tr>
                <td class="Tit">题库描述：</td>
                <td>
                    <textarea class="span20" id="txtMemo" maxlength="200" onkeydown=" TextearaMaxlength(this); " onkeyup=" TextearaMaxlength(this); " name="txtMemo">@(model.Description)</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tc">
                    <a class="btn" id="btnSaveSort">保存</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#questionSortForm").PreCheckForm();
        $("#btnSaveSort").bind("click", function() {
            if ($("#questionSortForm").CheckForm()) {
                $("#questionSortForm").submitForm({
                    url: '/Question/SubmitQuestionSort?id=@(model._id)',
                    callback: function(data) {
                        if (data.result == 1) {
                            art.dialog.tips(data.content, 3);
                            initQuestionSort();
                            art.dialog.list['qSortEdit'].close();
                        } else {
                            art.dialog.tips(data.content, 3);
                        }
                    }
                }).submit();
            }
        });
    });
</script>