@{
    ViewBag.Title = "ReportTeacher";
    Layout = null;
}

<div id="div_content">
    <div class="tab-bk mt10">
        <ul id="tagTCPA">
            <li class="On" id="tCPA0">CPA</li>
            <li id="tCPA1">非CPA</li>
        </ul>
    </div>
    <div class="so-set">
        <table class="tab-Form">
            <tr>
                <td class="Tit span6">姓名：</td>
                <td class="span18">
                    <input id="txtrealName" type="text" class="span16  searchclass" value="请输入搜索内容"
                        info="请输入搜索内容" />
                </td>
                <td class="Tit span10">培训班名称：
                </td>
                <td class="span17">
                    <input id="txt_Class" type="text" class="span16  searchclass" value="请输入搜索内容"
                        info="请输入搜索内容" />
                </td>
                <td colspan="2" class="tc">
                    <select id="typeForm" class="span20" onchange="InitDetailsData();">
                        <option value="-1">获取方式</option>
                        <option value="-1">全部</option>
                        <option value="3">自动折算</option>
                        <option value="0">自行申报</option>
                        <option value="1">批量导入</option>
                    </select>
                </td>
                <td colspan="2">
                    <select id="year" onchange="InitDetailsData();">
                        <option value="0">申请年度</option>
                        @foreach (var item in ViewBag.yearList)
                        {
                            <option value="@item" @(item == DateTime.Now.Year ? "selected='selected'" : "")>@item</option>
                        }
                    </select>
                </td>
                <td class="so-do" colspan="2" style="text-align: left">
                    <input class="btn" type="button" value="搜索" onclick="InitDetailsData(); " />
                    <input type="button" class="btn btn-co" value="导出EXCEL" onclick="OutCPADetailsList()" />
                </td>
            </tr>
            <tr>
                <td class="Tit span6">培训级别：
                </td>
                <td class="span18">
                    <div id="TrainGrade">
                        @{
                            foreach (var item in ViewBag.allTrainGrade)
                            {
                            <input type="checkbox" value="@item" name="OpenLevel" /><label>@item</label>
                            } 
                        }
                    </div>
                </td>
                <td class="Tit span10">部门/分所：
                </td>
                <td class="span17">
                    <input id="txt_deptid_list" type="hidden" />
                    <input type="button" class="btn  btn-co" value="选择部门/分所" id="btn_selectdeptid" />
                </td>
                <td class="Tit span10 CPANO">CPA编号：</td>
                <td class="span18 CPANO">
                    <input id="txtCPANO" type="text" class="span16  searchclass" value="请输入搜索内容"
                        info="请输入搜索内容" />
                </td>

            </tr>
        </table>
    </div>
    <div class="mt10">
        <table class="tab-List" id="tbDetails">
            <thead>
                <tr>
                    <th class="span4">序号</th>
                    <th>姓名</th>
                    <th>部门</th>
                    <th>培训级别</th>
                    <th class="CPANO">CPA编号</th>
                    <th>培训班名称</th>
                    <th jsrendersortfield="ConvertScore" sort="desc">授课学时</th>
                    <th id="thScore" jsrendersortfield="GetCPAScore" sort="desc">可折算CPA学时</th>
                    <th jsrendersortfield="totaltScore" sort="desc">学时合计</th>
                </tr>
            </thead>
            <tbody id="teacherCPAList">
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <div class="divpage listPage" id="listPage" style="">
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <input id="hidjsRenderSortField" type="hidden" value="DeptId asc" />
    <input id="hidCPA" type="hidden" value="0" />
</div>
<script>
    $(document).ready(function ()
    {
        //初始化查询条件
        initSearch();

        showHideCPA();


        $("#tagTCPA li").click(function ()
        {
            var index = $(this).index();
            $("#tagTCPA li").removeClass("On");
            $("#tCPA" + index).addClass("On");

            $("#hidCPA").val(index);
            $("#txtrealName").val("请输入搜索内容");
            $("#typeForm").val(-1);
            $("input[name='OpenLevel']").attr("checked", false);
            $("#txtCPANO").val("请输入搜索内容");
            $("#txt_Class").val("请输入搜索内容");
            $("#txt_deptid_list").val("");
            InitDetailsData();
            showHideCPA();
        });


        //部门/分所
        $("#btn_selectdeptid").bind("click", function ()
        {
            var naru = "";
            art.dialog.load("/Report_zAttendce/SelectDept?deptid=0&ReportType=0&naru=" + naru, { title: '选择部门/分所', id: "win_deptmanage" }, false);
        });
        InitDetailsData();

        MyTablesort("tbDetails", SortDetails);

    });

    function SortDetails(jsRenderSortField)
    {
        if (jsRenderSortField == undefined)
        {
            jsRenderSortField = " DeptId asc";
        }
        else
        {

            jsRenderSortField = jsRenderSortField;
        }
        $("#hidjsRenderSortField").val(jsRenderSortField);
        InitDetailsData();
        // InitDetailsData(0, 0, 10, 1, jsRenderSortField)
    }

    function OutCPADetailsList()
    {
        window.location.href = "OutCPADetailsList?cpa=" + $("#hidCPA").val();
    }

    function searchByDept()
    {
        art.dialog.list['win_deptmanage'].close();
        InitDetailsData();
    }

    function showHideCPA()
    {
        if ($("#hidCPA").val() == 0)
        {
            $(".CPANO").show();
            $("#thScore").html("<div class='sort' style='text-align:left'>可折算CPA学时<div class='sort-do'><i class='s-up'></i><i class='s-down'></i></div></div>");
            $("#thScore").attr("jsrendersortfield", "GetCPAScore");
        }
        else
        {
            $(".CPANO").hide();
            $("#thScore").html("<div class='sort' style='text-align:left'>可折算所内学时<div class='sort-do'><i class='s-up'></i><i class='s-down'></i></div></div>");
            $("#thScore").attr("jsrendersortfield", "GettScore");
        }
    }

    //#region 授课人
    function InitDetailsData(recordCount, pageCount, pageSize, pageIndex)
    {
        var index = pageSize == undefined ? 0 : (10 * (pageIndex - 1));
        var TrainGrade = "";
        $("input[name='OpenLevel']:checked").each(function ()
        {
            TrainGrade = TrainGrade == "" ? $(this).val() : TrainGrade + "," + $(this).val();
        });
        var v = "realName=" + escape($.trim(getSearchWord("txtrealName"))) + "&Class=" + escape($.trim(getSearchWord("txt_Class"))) + "&CPANO=" + escape($.trim(getSearchWord("txtCPANO")))
            + "&TrainGrade=" + TrainGrade + "&deptids=" + $("#txt_deptid_list").val() + "&typeForm=" + $("#typeForm").val() + "&year=" + $("#year").val()
        + "&jsRenderSortField=" + $("#hidjsRenderSortField").val() + "&CPA=" + $("#hidCPA").val() + '&pageSize=' + (pageSize || 10) + '&pageIndex=' + (pageIndex || 1);

        $.post("/Report_Free/GetCPATeacherList?" + v, function (data)
        {
            var html = "";
            var index = pageIndex == undefined ? 0 : (10 * (pageIndex - 1));

            if (data.dataList.length == 0)
            {
                html += "<tr><td colspan='8'><div class='tc c38 line_h30'>暂无数据</div> </td></tr>";
            }

            for (var i = 0; i < data.dataList.length; i++)
            {

                index++;
                var span = data.dataList[i].rowspan;
                for (var j = 0; j < data.dataList[i].FreeDetailsList.length; j++)
                {
                    html += "<tr  class='child'>";
                    if (j == 0)
                    {
                        html += "<td rowspan=" + span + ">" + index + "</td>"
                        html += "<td rowspan=" + span + "><div class='ovh tl span15' title='" + data.dataList[i].Realname + "'>" + data.dataList[i].Realname + "</div></td>";
                        html += "<td rowspan=" + span + ">" + data.dataList[i].DeptName + "</td>"
                        html += "<td rowspan=" + span + ">" + data.dataList[i].TrainGrade + "</td>"
                        if ($("#hidCPA").val() == 0)
                        {
                            html += "<td rowspan=" + span + ">" + data.dataList[i].CPANo + "</td>"
                        }
                        html += " <td style='text-align:left;'>" + data.dataList[i].FreeDetailsList[j].ClassName + "</td>";
                        html += " <td>" + data.dataList[i].FreeDetailsList[j].ConvertScore + "</td>";
                        if ($("#hidCPA").val() == 0)
                        {
                            html += " <td>" + data.dataList[i].FreeDetailsList[j].GetCPAScore + "</td>";
                            html += "<td rowspan=" + span + ">" + data.dataList[i].totalCPAScore + "</td>"
                        }
                        else
                        {
                            html += " <td>" + data.dataList[i].FreeDetailsList[j].GettScore + "</td>";
                            html += "<td rowspan=" + span + ">" + data.dataList[i].totaltScore + "</td>"
                        }
                    }
                    else
                    {
                        html += " <td style='text-align:left;'>" + data.dataList[i].FreeDetailsList[j].ClassName + "</td>";
                        html += " <td>" + data.dataList[i].FreeDetailsList[j].ConvertScore + "</td>";
                        if ($("#hidCPA").val() == 0)
                        {
                            html += " <td>" + data.dataList[i].FreeDetailsList[j].GetCPAScore + "</td>";
                        }
                        else
                        {
                            html += " <td>" + data.dataList[i].FreeDetailsList[j].GettScore + "</td>";
                        }
                    }
                    html += "</tr>"
                }
            }
            $("#teacherCPAList").html(html);
            $("#teacherCPAList").parent().find('#listPage').html(pageHtml(data.recordCount, Math.ceil(data.recordCount / 10), 10, pageIndex || 1));
        });
    }


    //#region 分页
    function pageHtml(recordCount, pageCount, pageSize, pageIndex)
    {
        var html = '';
        pageCount = pageCount == 0 ? 1 : pageCount;
        if (parseInt(pageIndex) > pageCount)
            pageIndex = pageCount;

        html += '<span class="c38">第' + pageIndex + '页/共' + pageCount + '页(共' + recordCount + '条)</span>';
        if (parseInt(pageIndex) == 1)
        {
            html += "<span class='first status_disabled'>首页</span>";
            html += "<span class='previous status_disabled'>&nbsp;</span>";
        } else
        {
            html += "<a index='first' class='first status-default' onclick='InitDetailsData(0,0,0,1);'>首页</a>";
            html += "<a index='previous' class='previous status-default' onclick='InitDetailsData(0,0,0," + (pageIndex - i) + ");'>&nbsp;</a>";
        }
        if (true)
        {
            var maxIndex = 1; //当前要显示的最大索引
            if (pageCount <= 5)
                maxIndex = pageCount;
            else if (parseInt(pageIndex) + 2 <= 5)
                maxIndex = 5;
            else if (parseInt(pageIndex) + 2 >= pageCount)
                maxIndex = pageCount;
            else
                maxIndex = parseInt(pageIndex) + 2;

            for (var i = 4; i >= 0; i--)
            {
                if (maxIndex - i == parseInt(pageIndex))
                    html += "<span class='status_disabled status-on'>&nbsp;" + (maxIndex - i) + "&nbsp;</span>";
                else if (maxIndex - i > 0)
                    html += "<a index='" + (maxIndex - i) + "' class='status-default' onclick='InitDetailsData(0,0,0," + (maxIndex - i) + ");'>&nbsp;" + (maxIndex - i) + "&nbsp;</a>";
            }
        }
        if (pageCount == parseInt(pageIndex))
        {
            html += "<span class='next status_disabled'>&nbsp;</span>";
            html += "<span class='last status_disabled'>末页</span>";
        } else
        {
            html += "<a index='next' class='next status-default' onclick='InitDetailsData(0,0,0," + (parseInt(pageIndex, 10) + 1) + ");'>&nbsp;</a>";
            html += "<a index='last' class='last status-default' onclick='InitDetailsData(0,0,0," + pageCount + ");'>末页</a>";
        }
        html += '<span class="c38">转到&nbsp;<a class="curp c2934f3" id="btnpagegoto" onclick="goindex(this);">GO</a><input type="text" id="txtpagegoto" class="w24 h16 line_h16" maxlength="3" /></span>';
        return html;
    };
    //go TO
    function goindex(obj)
    {
        var pageindex = $(obj).next().val();
        InitDetailsData(0, 0, 10, pageindex)
    }
    //#endregion
</script>
