@using LiXinControllers
@using LiXinModels.CourseManage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "转播课程跟踪详情";
    var course = ViewBag.Course as Co_Course;
    var Resourceurl = BaseController.UFCOResource as string;
    
}

<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new { linkName = "转播课程跟踪详情" }))

    @Html.Action("DeptCourse", "DeptCourseManage", new { id = @ViewBag.id, showFlag = 0 })
    <div class="course-de">
        <input type="hidden" id="txt_CourseId" value="@ViewBag.Id"/><!--存放课程id-->
        <table class="tab-Form" style="border: none;" id="backinfo">
            <tr>
                <td class="Tit span13">课程类别：
                </td>
                <td>@course.SortStr
                </td>
            </tr>
            <tr>
                <td class="Tit">必修/选修：
                </td>
                <td>@(course.IsMust == 0 ? "必修" : "选修")
                </td>
            </tr>
            <tr>
                <td class="Tit">预订/指定：
                </td>
                <td>
                    @if (course.IsOrder == 0)
                    {
                        <span>无</span>
                    }
                    else if (course.IsOrder == 1)
                    {
                        <span>预订</span>
                    }
                    else if (course.IsOrder == 2)
                    {
                        <span>指定</span>
                    }
                    else
                    {
                        <span>两者都有</span>
                    }
                </td>
            </tr>
            <tr>
                <td class="Tit">最大允许人数：
                </td>
                <td>@course.NumberLimited
                </td>
            </tr>


        </table>
        <div class="oth">
            <h4>课程大纲：</h4>
            <div class="co-memo  do_warp" style="overflow: auto">
                @if (course.Memo != null)
                {
                    @Html.Raw(@course.Memo)
                }
                else
                {
                    <p>
                        暂无内容
                    </p>
                }
            </div>
            <h4>课程资源：</h4>
            <table class="tab-List">
                <thead>
                    <tr>
                        <th>资源名称
                        </th>
                        <th>资源大小
                        </th>
                    </tr>
                </thead>
                <tbody id="ziyuan">
                    @if (ViewBag.CourseResourse != null && ((IEnumerable<LiXinModels.DeptCourseManage.Dept_CourseResource>)ViewBag.CourseResourse).Count() > 0)
                    {

                        foreach (var item in (IEnumerable<LiXinModels.DeptCourseManage.Dept_CourseResource>)ViewBag.CourseResourse)
                        {
                        <tr id="div_courseRes_@(item.Id)">
                            <td>@item.ResourceName
                            </td>
                            <td>@item.ResourceSize K 
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2">
                                <div class="tc">
                                    暂无资源
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h4>课程附件：</h4>
            <table class="tab-List">
                <thead>
                    <tr>
                        <th>附件名称
                        </th>
                        <th>附件大小
                        </th>
                        <th>操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.CourseAttachList != null && ((IEnumerable<LiXinModels.DeptCourseManage.Dept_CourseResource>)ViewBag.CourseAttachList).Count() > 0)
                    {
                        foreach (var item in (IEnumerable<LiXinModels.DeptCourseManage.Dept_CourseResource>)ViewBag.CourseAttachList)
                        {
                        <tr id="div_courseAttach_@(item.Id)">
                            <td>@item.ResourceName
                            </td>
                            <td>@item.ResourceSize K 
                            </td>
                            <td>
                                <a onclick="loadPinFile('@(item.RealName)','@(item.RealName)');" class="icon idown" title="我要下载"></a>
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
        	
                        <tr>
                            <td colspan="2">
                                <div class="tc">
                                    暂无附件
                                </div>
                            </td>
                        </tr>
            
                    }
                </tbody>
            </table>
            <h4>学员报名明细：</h4>
            <table class="tab-List">
                <thead>
                    <tr>
                        <th class="span6">姓名
                        </th>
                        <th class="span6">性别
                        </th>
                        <th>所属部门
                        </th>
                        <th>分所
                        </th>
                        <th class="span10">培训级别
                        </th>

                    </tr>
                </thead>
                <tbody id="Courstlist">
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
    <center class="mt10">
             <a  class="btn btn-cancel" href="/DeptCourseManage/DeptAllCourseManage">返回</a>
        </center>
</div>

<script type="text/javascript">
    $(document).ready(function ()
    {
        fOnload(0);
    });
    function fOnload(id)
    {
        $("#Courstlist").JsRenderData({
            sourceUrl: '/DeptCourseManage/GetCourseUserList?courseid=' + $("#txt_CourseId").val() + "&id=" + id,
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: "CourseListTemplate",
            funCallback: function (data)
            {
                if ($("#info").length == 0)
                {
                    $("#backinfo").append(data.htmlStr);
                }
            }
        });
    }

    //下载文件
    function loadPinFile(path, name)
    {
        $.post("/DeptCourseManage/IsExistFile", { path: path }, function (data)
        {
            if (data.result == 1)
            {
                window.location.href = "/DeptCourseManage/LoadPrincipleFile?path=" + path + "&name=" + escape(name);
            }
            else
            {
                art.dialog.tips("此文件不存在！", 3);
            }
        });
    }

    function fDelete(id, e)
    {
        $.post("/TeacherCourse/FDeleteCourseResource?id=" + id, function (data)
        {
            if (data.result == 1)
            {
                $(e).parents("tr").remove();
                art.dialog.tips('删除成功', 3);
                if ($("#ziyuan").children("tr").size() == 0)
                {
                    $("#ziyuan").append("<tr><td colspan='4'>暂无数据</td></tr>");
                }

            }
        });
    }

    function changeList(id)
    {
        fOnload(id);
    }

</script>
<script id="CourseListTemplate" type="text/x-jsrender">
        {{for #data}}
        <tr>
            <td>
                {{:Realname}}
            </td>
            <td>
                {{:SexStr}}
            </td>  
            <td>
                {{:DeptPath}}
            </td>   
            <td>
                {{:DepartSetName}}
            </td>         
            <td>
                {{:TrainGrade}}
            </td>            
        </tr>
        {{/for}}
</script>



