@{
    ViewBag.Title = "新进员工维护";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new
{
    linkName = "新进员工维护"
}))

    <div id="Search" class="so-set">
        <table class="tab-Form">
            <tr>
                <td class="Tit span3">姓名：
                </td>
                <td>
                    <input type="text" class="span16 Box searchclass" id="realName" value="请输入搜索内容" info="" />
                </td>
                <td class="Tit">所学专业：
                </td>
                <td>
                    <input type="text" class="span16 Box searchclass" id="Major" value="请输入搜索内容" info="" /></td>

                <td rowspan="2" class="so-do">
                    <input class="btn" type="button" value="搜索" id="btnSearch" onclick=" InitData(); " />
                    <input type="button" class="btn btn-co" id="AddUser" value="新增学员" onclick="AddNewUser()">
                    <input type="button" class="btn btn-co" id="ImportUser" value="导入学员" onclick="InputUser()">
                    <input type="button" class="btn btn-co" id="UpdateTrainGrid" value="批量修改级别" onclick="AllChangeGrade()">
                    <a onclick="DownLoadFile()" style="cursor: pointer">下载模板</a>
                </td>
            </tr>
            <tr>
                <td class="Tit span6">毕业院校：
                </td>
                <td>
                    <input type="text" class="span16 Box searchclass" id="GraduateSchool" value="请输入搜索内容" info="" /></td>
                <td class="Tit">实习部门：
                </td>
                <td>
                    <input type="text" class="span16 Box searchclass" id="InternDept" value="请输入搜索内容" info="" /></td>
            </tr>
        </table>
    </div>
    <div class="so-seq">
        <select id="selIsInternExp" onchange=" InitData();">
            <option value="-1">是否有事务所实习经验</option>
            <option value="1">是</option>
            <option value="0">否</option>
        </select>
        <select id="selIsOurIntern" onchange=" InitData();">
            <option value="-1">是否在我所进行过实习</option>
            <option value="1">是</option>
            <option value="0">否</option>
        </select>
        <select id="selSex" onchange=" InitData();">
            <option value="-1">选择性别</option>
            <option value="0">男</option>
            <option value="1">女</option>
        </select>
        <select id="selYear" onchange="InitData();">
            @foreach (var year in ViewBag.yearList)
            {
                <option value="@year"  @(year == ViewBag.nowyear ? "selected='selected'" : "")>@year</option>
            }
        </select>
        <div class="course-tysel">
            <span style="float: right; color: orangered;">温馨提示：底纹为粉红色的是待分配部门的员工。</span>
        </div>
    </div>

    <!-- 列表 -->
    <div class="mt10">
        <table class="tab-List">
            <thead>
                <tr>
                    <th class="span4">
                        <input id="selectAll" type="checkbox" />
                    </th>
                    <th class="span4">序号
                    </th>
                    <th class="span8">登录名
                    </th>
                    <th class="span8">学号
                    </th>
                    <th class="span5">姓名
                    </th>
                    <th class="span8">培训级别
                    </th>
                    <th class="span8">毕业院校
                    </th>
                    <th class="span8">所学专业
                    </th>
                    <th class="span8">实习部门
                    </th>
                    <th class="span6">是否有事务所实习经验
                    </th>
                    <th class="span6">是否在我所进行过实习
                    </th>
                    <th class="span11">操作
                    </th>
                </tr>
            </thead>
            <tbody id="userList">
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
<input id="hisUserIDs" type="hidden" />
<script id="userListTemplate" type="text/x-jsrender">
     {{for #data}}
        <tr class="{{:DeptName=="待分配部门"?"top":""}}">
             <td>
                <input id="New_{{:UserId}}" type="checkbox"  />
            </td>
            <td>{{:#index+1}}</td>
            <td>{{:Username}}</td>
            <td>{{:NumberID}}</td>
            <td class="span8 tl">
              {{if Sex==0}}
                  <span style="color:blue">♂</span>
              {{else}}
                  <span style="color:red">♀</span>      
              {{/if}}
              {{:Realname}}
            </td> 
            <td>{{:TrainGrade}}/{{:OldTrainGrade}}</td>
            <td>{{:GraduateSchoolStr}}</td>
            <td>{{:MajorStr}}</td>
             <td>
               <div class="tl ovh span10" title="{{:InternDeptStr}}">{{:InternDeptStr}}</div>
            </td>
            <td>{{:IsInternExpStr}}</td>
            <td>{{:IsOurInternStr}}</td>
           <td>    
                <a class="icon iedit" title="编辑" onclick="Edit({{:UserId}})"></a>                               
                <a class="icon iview" title="查看详情" onclick="View({{:UserId}})"></a>
                <a class="icon idel" onclick="Delete({{:UserId}})" title="删除"></a>
           </td>
        </tr>
    {{/for}}
</script>
<script type="text/javascript">
    $(document).ready(function ()
    {
        //初始化搜索条件
        initSearch();

        //加载列表
        InitData();
    });

    //初始化列表
    function InitData()
    {
        $("#userList").JsRenderData({
            sourceUrl: getUrl(),
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            jsRenderSortField: "UserId",
            jsRenderASC: "desc",
            templateID: "userListTemplate",
            funCallback: function ()
            {
                SetCheckBox('selectAll', 'userList');
                //年度不相同，屏蔽修改删除按钮
                if ("@ViewBag.nowyear" != $("#selYear").val())
                {
                    $("#userList .iedit").attr("disabled", true).removeAttr("onclick");
                    $("#userList .idel").attr("disabled", true).removeAttr("onclick");
                    $("#AddUser,#ImportUser,#UpdateTrainGrid").attr("disabled", true);
                }
                else
                {
                    $("#AddUser,#ImportUser,#UpdateTrainGrid").attr("disabled", false);
                }
            }
        });
    }

    function getUrl()
    {
        return "/NewUserManage/GetUserList?realName=" + escape(getSearchWord("realName")) + "&GraduateSchool=" + escape(getSearchWord("GraduateSchool")) + "&Major=" + escape(getSearchWord("Major"))
        + "&InternDept=" + escape(getSearchWord("InternDept")) + "&IsInternExp=" + $("#selIsInternExp").val()
            + "&IsOurIntern=" + $("#selIsOurIntern").val() + "&sex=" + $("#selSex").val() + "&Year=" + $("#selYear").val();
    }

    //下载模板
    function DownLoadFile()
    {
        window.location.href = "/Common/DownLoadFile?url=~/TemplateFile/NewUserTemplate.xls";
    }

    function Edit(UserId)
    {
        art.dialog.load("NewUserEdit?userID=" + UserId, { title: "修改人员基本信息", id: "pop_NewUserEdit", width: 300 });
    }

    ///添加新进人员
    function AddNewUser()
    {
        art.dialog.load("/UserCommon/SelectUser?IsNew=1", { title: "添加新进人员", id: "pop_AddUserList", width: 800 });
    }

    function GetUserIDList()
    {
        //var userIds = GetChecked('pop_userList');
        var userIds = $("#commonSelectedIdStr").val();
        if (userIds == "")
        {
            art.dialog.tips("请选择要添加的人员", 3);
            return false;
        }
        // alert(userIds);
        $.post("Update",
           {
               IsInternExp: 0,
               IsOurIntern: 0,
               userID: userIds,
               InternDept: ''
           }, function (data)
           {
               InitData();
               closeDialog('pop_AddUserList');
           });
    }

    //导入新进员工
    function InputUser()
    {
        art.dialog.load("ImportUser", { title: "导入新进人员", id: "pop_InputUserList", width: 400 });
    }

    //批量维护基本
    function AllChangeGrade()
    {
        var userIDs = GetChecked('userList').replace(/New_/g, "");
        // var userIDs = GetChecked('userList')+","+ $("#commonSelectedIdStr").val();
        if (userIDs == "")
        {
            art.dialog.tips("请选择要修改培训级别的人员", 3);
            return false;
        }
        $("#hisUserIDs").val(userIDs);
        art.dialog.load("UpdateGrade", { title: "批量更改级别", id: "pop_AllGrade", width: 300 });
    }
    //删除
    function Delete(Id)
    {
        art.dialog({
            content: "您确认删除吗？",
            ok: function ()
            {
                $.post("UpdateIsNew?userID=" + Id, function (data)
                {
                    if (data.result == 1)
                    {
                        InitData();
                    }
                });
            },
            cancel: true
        });
    }

    //详情
    function View(ID)
    {
        window.location.href = "/NewUserManage/UserDetail/" + ID;
    }

</script>
